[2022-08-18 21:02] #223 closed, assigned to van-amics

[2022-08-22 16:54] Matt-Power opened #270 "Investigator: retain default HT settings on re-open"
I always enable the "HT off" after measurement but if I have to restart Investigator, it reverts back to being disabled which can result in a big burn mark on the last sample where the beam has been scanning overnight or longer.

Please make it that the HT setting is retained on a restart.

Btw, I think that all other settings (e.g. secondary channel, noise reduction etc.) are preserved on a resta

[2022-08-22 16:56] jonathan-knapp commented on #270
Mark,
Please make HT off the default. This is a mistake I have also made… but over spring break 😩

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Matt-Power ***@***.***>
Sent: Monday, August 22, 2022 10:54:18 AM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Bruker-Amics/bugs_features] Investigator: retain default HT settings on

[2022-08-23 00:38] MarkGuo7 commented on #270
Sorry about that, @Matt-Power

I will make it as default. Please let me know if any other parameters have the same issue.

[2022-08-23 15:55] Matt-Power commented on #270
@MarkGuo7 - No worries. I've just had a play with Investigator and I think that "HT off" is the only one that forgets its setting after restarting.

Thanks.

[2022-08-24 00:47] jonathan-knapp commented on #268
@MarkGuo7 I am wondering what you mean by command line? Are you talking about an API or just the step to make an API possible?

[2022-08-24 07:31] MarkGuo7 commented on #270
@Matt-Power Hi Matt, you want Investigator to remember this option or always on when you restart unless turn it off?

[2022-08-24 09:41] MarkGuo7 commented on #270
It will be saved :)

[2022-08-24 13:09] jonathan-knapp commented on #167
@MarkGuo7 I want to consider a change for AMICS 3.3.1 - can we only measure in one mode and switch between block and particulate mode in Process? Having a truly uniform file structure (with segment ID for each pixel, for example) will make it a lot easier for external parties to use the files.

[2022-08-24 13:12] jonathan-knapp commented on #239
I am going to close this and focus on the core issue or preserving the blank lines.

[2022-08-24 13:12] #239 closed, assigned to van-amics

[2022-08-24 13:13] jonathan-knapp commented on #194
Matt, was this issue resolved?

[2022-08-24 13:15] jonathan-knapp commented on #222
@MarkGuo7 is this done? It has been "In Progress" for 60 days.

[2022-08-24 16:10] Matt-Power commented on #270
Remember is probably the most flexible option. Thanks.

[2022-08-24 16:11] Matt-Power commented on #194
No

[2022-08-25 02:00] GGloy opened #271 "Classification matching error?"
There seem to be a problem again in vs 3.3 with the matching detail display and classification result - not sure which is right.

In image below the segment is classified as unknown but the matching detail show a match of 66% when matching probability was set to 58% (no other BSE or priority settings active)
![Classification2.PNG](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/7ccfb

[2022-08-25 02:41] MarkGuo7 commented on #270
@Matt-Power Hi Matt, could you access our latest build? Otherwise, I may need to send you a link.

[2022-08-25 17:08] Matt-Power commented on #270
@MarkGuo7 no, afraid not - latest version I have access to dates back to May 10th. Thanks.

[2022-08-25 22:43] MarkGuo7 commented on #270
@Matt-Power We have a newer version nearly every week :)
I will upload the latest build and send you the link shortly.

[2022-08-25 22:58] MarkGuo7 commented on #270
Here is the link: https://bruker-my.sharepoint.com/:u:/p/junfeng_guo/EeEQRexN8jhEkFFHsp8viZgBoTYBPn_UsA6vjrCGlMGToA?e=Rtahhn

Version 3.3.0.1246

[2022-08-26 00:23] Matt-Power commented on #270
@MarkGuo7 Thanks!

[2022-08-26 00:32] Matt-Power commented on #271
Just to add to Gerda's observations, I've just installed the latest version of 3.3 and unfortunately, the issue seems to be a lot worse than in 3.2:
![image](https://user-images.githubusercontent.com/84986921/186791653-bbb8a916-5013-4397-a361-d90427c53948.png)
This example was a measurement that I fully processed in 3.2 so that unknowns were < 0.01% but after reclassifying in 3.3, the unknowns are

[2022-08-26 00:44] Matt-Power commented on #215
This is still present in 3.3.0.1246. Example below.

![image](https://user-images.githubusercontent.com/84986921/186792391-2453d097-ab3a-4f71-8fb7-aee8eb384489.png)

This is a significant issue as it is difficult to check for, can be quite subtle and in the frame affected, can actually cause some of the mineral IDs for the frame to be wrong (it almost looks like the correlation between the X-ray s

[2022-08-26 01:02] MarkGuo7 commented on #215
@Matt-Power Hi Matt, I guess I will carry this issue afterward, so could you send me this result again? Many thanks

[2022-08-26 16:06] Matt-Power opened #272 "BUG - MAJOR - AMICS 3.2_ - PROCESS - Image Export of Specific Mineral - BSE Underlay Shows"
When I export images of only selected minerals, the exported image shows the BSE underlay even though the viewed image in Process does not. There is apparently no way to disable the BSE underlay in the exported image (I tried toggling the underlay etc etc).

The exported image should be identical to the one shown in Process (i.e. white background by default or BSE underlay only if it is enabled).

[2022-08-29 23:35] #260 closed, assigned to MarkGuo7

[2022-08-29 23:35] ChiLyMan commented on #260
Done

[2022-08-29 23:39] ChiLyMan commented on #76
Hey Mark,
Van assigned himself this task as high priority but doesn't look like anything was done. I'm not sure it is High priority, and we can discuss if there is value in having this.

[2022-08-29 23:41] ChiLyMan commented on #203
Scale Ruler along bottom edge is present...though a scale bar would be better.

[2022-08-29 23:41] #203 closed, assigned to van-amics

[2022-08-29 23:47] ChiLyMan commented on #206
Just tested and mineral standard copied over the first time, and was still there after shutdown and restart. NOTE I did save my data before shutting down.

[2022-08-29 23:47] #206 closed, assigned to nobody

[2022-08-30 19:31] Matt-Power opened #273 "Add Comment Field to Each Spectral Reference in Ore Type"
Not urgent but can a comment field / text box be included for each reference spectrum please?

This will allow user comments such as which sample collected from, whether collected directly or generated from the measurement, details such shaping speed, etc etc. This will really help keep track of the reference spectra, their quality etc.

[2022-08-31 17:38] Matt-Power opened #274 "Ability to Duplicate Standard Within Current Ore Type"
It would be really useful to be able to duplicate standards within an ore type so you can use the same standard but with a different "State". There are workarounds but they are clumsy and usually involve making a series of completely new standard entries. It is possible to duplicate but only to a different ore type (the current one does not appear in the list).

[2022-08-31 18:05] ChiLyMan commented on #272
Hey Matt,

I just checked this on the upcoming build and seems to have been resolved (at least for me :))

Here is what the Process image looks like with Albite_1 highlighted. NOTE Albite_1 is Primary List
![image](https://user-images.githubusercontent.com/84643841/187747642-c901b03d-5dbe-41b4-bdfc-6e0a32c0849c.png)
Here is the exported image.
![SampleH01-Particle_2_Mineral_Albite_1_Image](https:/

[2022-08-31 18:07] ChiLyMan commented on #272
PS: If anything the BSE Underlay image does not look like AMICS. The Alpha channel setting seems off. I'll talk to Mark tonight to see where we can change this so the BSE is more visible.

[2022-08-31 18:12] ChiLyMan commented on #273
Hey Matt,
I'm actually working on updating the material reference library right now, to both expand the number of "base reference" spectra but also expand the descriptors for each species.

I'll make a note we need to add some descriptors at the base spectra level as well.

[2022-08-31 18:15] Matt-Power commented on #274
Looking at this further...

Is the logic:
1. The spectra are parsed through only standards with a "High" state first, then only those with a "Normal" state, and then with a "Low" state or
2. The spectra are parsed first with only the High state ones, then both the High and Normal, and then all standards at the lowest confidence?

I think that the logic should be the first scenario - would make mos

[2022-08-31 18:19] Matt-Power commented on #273
Great, thanks. Can we have the ability to sort the spectra by priority / state too please? It would be great to be able to see which are the priority ones quickly without scrolling through the list (or should I log this as separate item on Git hub?)

[2022-08-31 18:23] ChiLyMan commented on #273
Let me start a new "issue" where everyone can through in all the new ideas for spectra, since we are making the changes anyway.
I'll close this one for now.

[2022-08-31 18:23] #273 closed, assigned to nobody

[2022-08-31 18:29] ChiLyMan opened #275 "Update to reference Spectra"
All,

As we are already looking at updating the material library, i.e. expanding "standard" base species and expanded detailed information on each species. Please use this add your suggestions here on new idea/features which would make your life easy or more efficient with the material library. I will use this to reference back as we build what the new library will look like and how it functions.

[2022-08-31 18:38] Matt-Power commented on #275
I'd like a quick sort feature directly in the mineral list pane please (and all lists e.g. current and ore type, grouped etc and regardless of which tab you are on). Something like clicking on a header to sort by mineral name, priority, ID, order created (or just an X to undo any ordering) etc etc would be good.
Currently to order the list, you have to go to the Standards pane, open up a dialog bo

[2022-08-31 18:43] Matt-Power commented on #275
Ability to move standards up and down in the Ore Type (i.e. in the common standards list) - and add the ability this (and any sorting applied) to be saved / persistent. This would really help organise Ore Types and make them easier to "read".

[2022-08-31 18:45] Matt-Power commented on #275
As above but a drag and drop function would be really handy.

[2022-08-31 18:48] Matt-Power commented on #275
And drag and drop standards across mineral groupings. Using the pop-up window is much less interactive and blocks off things (like the ability to view the spectra) as you work which makes things clunky and slow.

[2022-08-31 19:27] jonathan-knapp commented on #275
I think it will be useful to have a relational link to samples. In the future we want to have standards as a database object, so we can include any metadata around the sample in that object. I also like the idea of more "notes" fields that are stored in many areas.

[2022-08-31 23:34] MarkGuo7 commented on #274
@Matt-Power Hi Matt, thank you for the suggestion. I will make the same oretype duplicate available shortly.

And I fixed one issue yesterday which make cause the classification matching bit off.
Simple reason is we normalize the standards before matching. If you classified with same result, the standards will be normalized twice. Each normalization will change the spectrum bit by rounding from do

[2022-08-31 23:38] MarkGuo7 commented on #274
By the way, I am working on classification issue now. If you have any questions, please let me know.

For your case, you can send me this frame with the issue xray. Or you can try to classify with the same standard list but from Oretype to see if this issue still there.

I fixed this issue and you can try the latest build if you like.

[2022-09-01 00:01] Matt-Power commented on #274
Hi Mark,

This measurement was classified straight from the ore type so I don't think it's the rounding issue you describe. I'll send over an example over with spectra that don't make sense bookmarked.

[2022-09-01 19:30] ChiLyMan commented on #272
Tested this out with some more of Matt's data and it would seem when exporting a "Block" measurement is different from "Particle" measurements.

When I export the block image from test data from Matt, the outcome look the same with and without BSE Overlay (even though Process shows a difference).
![image](https://user-images.githubusercontent.com/84643841/187995761-3d2ec188-82a5-4e17-ad06-c3f1d994

[2022-09-01 20:24] ChiLyMan commented on #48
Closing as I think it will be hard to reengineer in based on the "copy" function could only copy one data type, and it should be copying "text"
I tested on the older versions and older version also paste value and not colors.

[2022-09-01 20:27] Matt-Power commented on #48
Hmm. Still think this might be something simple. The very early versions did copy out as a colour and the batch calculation data (including current versions) includes a colour swatch.

[2022-09-01 20:31] ChiLyMan commented on #48
Matt,

Do you remember which version this was on? I tested on back down to 3.1.

Chi

From: Matt-Power ***@***.***>
Sent: Thursday, September 1, 2022 3:28 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Chi Vinh Ly ***@***.***>; State change ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] HexCode on Copy and Paste (#48)

Hmm. Still think this might be something simple. The very early ver

[2022-09-01 20:34] ChiLyMan commented on #105
Matt, Stupid question but is there data in the original database for those fields? Is it only happening during reclassification?
I've seen something like this, but during measurement, I would just be missing a field or half a field.

[2022-09-01 20:44] ChiLyMan commented on #123
Any update on this one? I tested on the limited mapping data I have and it worked.
Is Dot Size = Spot Size?

[2022-09-01 20:47] ChiLyMan commented on #132
Do we have any update on this? I've not seen it myself.

[2022-09-01 20:48] ChiLyMan commented on #153
As per last comment

[2022-09-01 20:48] #153 closed, assigned to nobody

[2022-09-01 21:05] ChiLyMan commented on #160
As per previous comment

[2022-09-01 21:05] #160 closed, assigned to nobody

[2022-09-01 21:23] ChiLyMan commented on #180
Are the license files meant to expire?

[2022-09-01 21:33] ChiLyMan commented on #191
@Matt-Power Has this been resolved? I've check results I measured recently and the x-ray points seem more centralized (not dead center but not near the edge).

[2022-09-01 21:53] Matt-Power commented on #191
Not updated Investigator yet. Will try to find some time to do so next week.

[2022-09-01 22:00] GGloy commented on #123
Dot Size  is the area displayed representing the X-ray point (number of pixels) Hope that makes sense!
You can close the ticket.

[2022-09-01 22:02] ChiLyMan commented on #123
As commanded :)

[2022-09-01 22:02] #123 closed, assigned to nobody

[2022-09-01 22:03] Matt-Power commented on #123
Let me test. It wasn't an issue with the dot size, just that the image was not showing at all. I think that this may be a "block" measurement though. Let me check and get back to you.

[2022-09-01 22:04] Matt-Power commented on #123
Sorry, replying to the wrong issue (duh). Let me check that it works with the two measurement types though.

[2022-09-01 22:08] Matt-Power commented on #123
Works. All good.

[2022-09-01 22:11] ChiLyMan commented on #123
Matt just confirming this is for issue #123.

Not for the missing frames issue #105

From: Matt-Power ***@***.***>
Sent: Thursday, September 1, 2022 5:09 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Chi Vinh Ly ***@***.***>; State change ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] BSE Adjuster No Minerals in Field (#123)

Works. All good.

—
Reply to this email directly, view it o

[2022-09-01 22:13] Matt-Power commented on #123
For this issue #123

[2022-09-01 22:15] Matt-Power commented on #105
Happened during classification. Raw data was fine. There is a very similar issue (#215) which is still present.

[2022-09-01 22:19] Matt-Power commented on #48
Would have been a couple of years ago so probably 3.0. I don't think I've got any of those versions still installed but will have a look. Running a batch to get the colour swatches out is time consuming (and batches don't work for one sample) so it is a real pain not being able to copy out the colours into excel.

[2022-09-01 22:21] ChiLyMan commented on #48
Ok let me see if I can find the older 3.0 version somewhere online. And also give it a try.

From: Matt-Power ***@***.***>
Sent: Thursday, September 1, 2022 5:20 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Chi Vinh Ly ***@***.***>; State change ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] HexCode on Copy and Paste (#48)

Would have been a couple of years ago so probably 3.0. I don

[2022-09-01 23:41] ChiLyMan commented on #48
Hey Matt,

I found the release version of 3.0.0.268 and gave it a try. Same thing, if you do a copy/paste from the Modal Mineralogy it copies the underlying text, which is the color code. In the older version it output as the decimal conversion of normal color hex code, the new version pastes the true color Hex code instead.

I’ll do some research into this, but it was my belief that outside of MS

[2022-09-02 07:00] MarkGuo7 commented on #274
@Matt-Power Hi Matt

I am confused the logical. Let's make it clear.

Let's say, you have three standards:
S1: High
S2: Normal
S3: Low

The Matching settings are:
High: 95
Normal: 60
Low: 40

One spectrum match S1 by 89, match S2 by 75.
What's your expectation?
Currently, this xray still classified as S1. Is it right?

[2022-09-02 07:04] MarkGuo7 commented on #76
@ChiLyMan I will take care of it.

[2022-09-02 15:53] Matt-Power commented on #274
@MarkGuo7 Hi Mark,

For the case you describe, I would expect the result to be S2 (S1 may be the best match but it does not meet the High threshold so is rejected).

In the two screenshots I've included, I would expect the result to be Apatite in the first example (Apatite_Std does not meet the 95 threshold so rejected and instead Apatite is selected as it is a Normal standard and matches best abo

[2022-09-02 20:32] ChiLyMan commented on #269
I just notice that you can manage multiple HW parameters on the one sample. It is a manual way of adjusting the WD differently along the area of the sample to reduce surface irregularity. If there was a way to automated the collection of the HW using Hitachi autofocus might be useful.
Also once we include z-axis control, to correct a sample or holder which is angled (e.g. non flat polish), we coul

[2022-09-02 20:39] ChiLyMan commented on #265
@MarkGuo7 Has this been resolved and been tested?

[2022-09-02 20:40] ChiLyMan commented on #104
Checked and working.

[2022-09-02 20:40] #104 closed, assigned to van-amics

[2022-09-02 21:06] ChiLyMan commented on #194
@Matt-Power Hey Matt. I just tested this on my system here. Attached is the XML and the XLS file generate. Ignore the crappy result these are random test sample, included those two dataset you've sent me. Is this the output you are expecting?
[https://app.zenhub.com/files/368966218/7f86afaa-0d3e-4ec0-b4b7-1a6ad44e3d2b/download](https://app.zenhub.com/files/368966218/7f86afaa-0d3e-4ec0-b4b7-1a6ad44

[2022-09-02 21:10] Matt-Power commented on #194
@ChiLyMan Sorry, can't access that - can you email direct to me please?

[2022-09-02 21:27] Matt-Power commented on #194
Thanks and yes, that works. Is that fix in the latest build?

[2022-09-02 21:31] ChiLyMan commented on #194
Yes, I did this on build 3.3.0.1245.
Closing the issue now.

[2022-09-02 21:31] #194 closed, assigned to nobody

[2022-09-05 23:08] jonathan-knapp opened #276 "Record Throughput for standards"

[2022-09-06 17:58] ChiLyMan commented on #258
Similar request from UBC.

[2022-09-06 18:51] Matt-Power commented on #258
Ditto for me please - option to set using either Z or WD at the per-sample / per-measurement level would be really handy.

[2022-09-08 01:52] MarkGuo7 commented on #76
@ChiLyMan Hi Chi, I made the changes to update this mineral area %.
Please give it a try to see if it cover all the cases, such as stitching, deleting etc.

And somehow, these values are bit off with the values from calculation table. Not sure why, will need more time to figure it out as a separate issue.

[2022-09-12 23:48] MarkGuo7 commented on #274
@Matt-Power Thanks Matt

I will send you an update to try when you have time.

[2022-09-13 00:00] MarkGuo7 commented on #265
@ChiLyMan We couldn't repeat this issue and no further update from Scarlett after.
Not sure what happened, but I guess we can close it for now.

[2022-09-13 00:08] ChiLyMan commented on #265
@MarkGuo7 Let me check with her before we close this out.

[2022-09-14 17:49] ChiLyMan commented on #265
Issue #1 Could not be repeated and client has not seen the issue reappear since the one time this occurred. Closing issue for now.
Issue #2 Client has confirmed this was fixed and is working properly.

[2022-09-19 05:52] MarkGuo7 opened #277 "The new installer does not compatible with previous ones"
The AMICS setting folders changed.

[2022-09-21 01:59] GGloy opened #278 "X-ray data with calibration image and other calibration image requirements automation"
It has been requested (Adelaide Uni) that when we capture the calibration image to also include the x-ray data.

I understand that that particular X-ray data will be valid only for those specific parameters and will be removed if parameters change.

[2022-09-21 02:22] MarkGuo7 commented on #278
@GGloy  We can capture a xray with calibration image for sure, but we don't know how to use it.
So need to make it clear what's their needs.

[2022-09-21 03:53] MarkGuo7 opened #279 "How to differentiate version 3.3 with 3.2?"
Their desktop short cuts are same:
Should we use version number in the names like Esprit?

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/20385787-7623-44bf-81f0-92ea07f2da72)

And how about the installed folder?
Seems we use "AMICS-" as 3.3 folder. It doesn't show which version.
We may have version 3.4, 3.5 later, so need to make these names and folders more specific.

[2022-09-23 13:58] ChiLyMan opened #280 "Batch Export of Particle Grid"
Muhammet from RSC has requested the ability to batch export the particle grid images as an option. Will need to think how this will work as we would need to also apply the same "sort" between database before export. but would be a good export feature to have since most Process Met reports the sorted particle images are key.

[2022-09-24 00:30] robbmcleod commented on #264
So should `OreTypes.db` be located in `C:\ProgramData\AMICS-common` then?

[2022-09-25 23:42] MarkGuo7 commented on #264
The question is the new installation will be compatible with previous installation or not.
I guess we shouldn't change these old versions. And if the different version AMICS use different setting files, basically they are different product.

So maybe we should consider the 3.3 as a different AMICS, and it will support multi-version installation afterward.

We also need to discuss which file need t

[2022-09-26 14:26] ChiLyMan commented on #265
Issue has occurred again at client's site. Review of the the logs shows the system acquiring the BSE image at a different resolution than expected. Access to the measurement file has been requested to help resolve this issue.

[2022-09-28 13:57] ChiLyMan opened #281 "Adding a search/sort option on mineral standard assignment pop-up"
Would be helpful to have a search or sorting function on the pop-up menu for selecting a mineral standard when assigning a segment to a new mineral.

![image](https://user-images.githubusercontent.com/84643841/192797971-f46605f0-cd23-4b7c-ac45-2f4f84f047b9.png)

[2022-09-28 16:34] jonathan-knapp commented on #100
All, The University of Adelaide is having issues with the Flat Field. I'd like to revisit this and see if we can make a pre-processing correction in Python that will apply existing off-the-shelf solutions from astrophotography. @Matt-Power and @ChiLyMan shall we have a meeting next week to discuss options?

![image](https://user-images.githubusercontent.com/84199532/192836989-96a58c7f-1979-4b59-bd

[2022-09-28 16:41] jkabel commented on #100
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}  They may want to try an electron mirror first to see if they dropped a quadrant. That's a lot of vignetting to take out with a correction.-Jacob

[2022-09-28 16:46] Matt-Power commented on #100
Oof, that's pretty nasty.
As @jkabel says, this might be too extreme to fix but for milder cases, it should be a reasonably simple process to include a flat field correct in post processing. It will not deal with softening in the corners (i.e. coma etc), just the brightness gradients. @knapp-amics @ChiLyMan - happy to talk next week, just send me a meeting request.

[2022-09-28 16:51] jonathan-knapp opened #282 "Assign Project and Repository Before Measurement"
Request from the University of Adelaide (and me!). In the sample, the grid be able to assign a project and repository before measurement so the sample will be saved to the appropriate folder.

![image](https://user-images.githubusercontent.com/84199532/192842487-3b73553b-4298-446d-b677-7f002a0052c4.png)

[2022-09-28 17:04] ChiLyMan commented on #100
Have we got the field images? I think I fixed this with ImageJ years back for the NorthWales group.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Matt-Power ***@***.***>
Sent: Wednesday, September 28, 2022 11:46:39 AM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Chi Vinh Ly ***@***.***>; Mention ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Flat-Fie

[2022-09-28 17:13] jonathan-knapp opened #283 "Mineral on-off, Modal Percent, and Direct Selection of Mineral Groupings"
It is important to centralize some key features into the mineral "key" for the current mineral groupings.
- The selection of the mineral grouping in this area should be the selection from the properties window. This means that changing the grouping updates the screen.
- The minerals should include the current modal data. This moves it from the property window and allows it to be seen in all tabs.

[2022-09-28 23:41] MarkGuo7 commented on #281
Like this idea, thanks

Will do ...

[2022-09-30 15:19] ChiLyMan commented on #258
@Matt-Power I think you can already set WD per sample/measurement right now. All you need to do for each sample/measurement is collect HW data again. Or is it more you want the option to do Z or WD focus?

[2022-09-30 16:15] Matt-Power commented on #258
Option for to choose between Z or WD please.

[2022-10-03 23:11] jonathan-knapp opened #284 "Fake Bug"
Mark, do all the work!
I am working on version 3.3.0.1153
Lots of information on the bug and a screenshot
![image](https://user-images.githubusercontent.com/84199532/193701880-6802ad77-5475-4c79-be90-a115ebf4c6ae.png)

[2022-10-03 23:53] Matt-Power opened #285 "Reorder measurements while system is running"
The ability to re-order and switch on / off measurements once the system has started running would be really useful. (Currently, the order assigned when the instrument starts is preserved so system has to be stopped to make changes.)

[2022-10-04 00:09] MarkGuo7 commented on #258
For the newer version, you should possible to control both working distance and stage height.
Sorry, I don't have much chance to test it yet. Please let me know if it has any issues.

![image](https://user-images.githubusercontent.com/84481724/193707404-961e6501-2f34-4ba8-80c9-bff3f0a500ab.png)

[2022-10-04 00:24] Matt-Power opened #286 "BUG - MISSION CRITICAL - AMICS 3.3.0.1315 - PROCESS - BATCH - Size P Values - no heading and batch export does not work"
Ver 3.3.0.1315
The headings on the size P-Table are missing (see below). Not sure if related but although the size table does not export correctly, the P-values in the ".extra" sheet are missing / not complete (see exported table below).

Btw, would it not be simpler to include the .extra file as additional tab(s) in the main exported sheet?

![image](https://user-images.githubusercontent.com/8498

[2022-10-04 16:13] Matt-Power opened #287 "BUG_MAJOR_AMICS-3.3.0.1315_PROCESS_BATCH: report live does not work any more"
Process ver 3.3.0.1315
The report live function no longer works in the batch process. It goes through all samples but does not report the selected mineral(s). (I looked in the excel log file and it is not in there either.)

I tried this several times with just the default "Unknowns" selected and also a few other random phases selected but nothing worked.

[2022-10-04 22:06] Matt-Power opened #288 "Particle export - add option to export particle images as "real size" or "fixed size" and the ability to specify the pixel size for fixed size."
Ver 3.3.0.1315
I've been using the new particle export function (potentially great!) but all of the particle images come out exactly the same size regardless of the particle size. In this case 55 x 55 pixels (not sure what dictates that size). This means that the particles all look the same size. In the images below the top grain is 100 microns in diameter, the lower one ~3 microns in diameter. Th

[2022-10-04 22:35] #284 closed, assigned to nobody

[2022-10-04 22:54] ChiLyMan opened #289 "Exporting Calculation Table via Batching in PM"
Can we add an option in the batching export to export an excel file containing calculation tables (i.e. Modal, grain size, element dist. etc).

Maybe in the option page you can select the grouping list, and also check box for calculation data you want to export.

And export it into a single excel file with each tab containing a different calculation table.

[2022-10-06 01:04] GGloy opened #290 "Trigger testing vs 3 - BSE trigger block mode"
The BSE trigger for block mode is not working

[2022-10-06 01:07] GGloy opened #291 "Triggers vs3 - Other filters"
Other filter triggers are not applied for block mode

[2022-10-06 01:08] GGloy opened #292 "Other filters vs 3 - remove edge and large particles"
These filters are not applied for granulated samples

[2022-10-06 01:15] GGloy opened #293 "VS 3.3.0.1315 - Investiagtor holding connection problem"
While testing I duplicate measurements or even run measurements after each other, but need to close and open investigator after each run, due to an issue with the connection between the SEM and Esprit not being released.

[2022-10-06 01:22] GGloy opened #294 "Vs3.3.01315 - large sample holder rotation not supported"
In version 3 currently a problem with using the large sample holder for the SU3900 with rotation. Mark is aware of the issue- this is just a reminder for him to fix it when he has time.

[2022-10-06 17:05] Matt-Power opened #295 "Incorrect mineral assignment"
V 3.3.0.1315
Segments are mis-identified / spectra do not match at all. For instance, pyrite is identified as quartz even though the spectrum is clearly pyrite and very definitely not quartz - see example below.

Seems to be particularly bad for small segments - it's almost as if a clean up step is being applied that allows small segments to be assigned to the surrounding mineral. However, no clea

[2022-10-06 17:10] Matt-Power commented on #295
I should add:
This is everywhere in the measurement and is not related to field boundaries.
Not all samples in the batch seem to show it.
Reclassification of the sample does not change things.
It is really difficult to spot the issue, especially when running a large batch of samples - each has to be checked individually.
Reclassifying in 3.2.1.0 does fix the problem i.e. issue lies in newer builds

[2022-10-06 21:56] MarkGuo7 commented on #295
@Matt-Power Hi Matt, sorry about that. I will take a look of it today.

[2022-10-06 22:48] Matt-Power commented on #295
No worries - all part of the process. Had me scratching my head though. Thank you.

[2022-10-07 01:36] MarkGuo7 commented on #295
@Matt-Power

Hi Matt

Take a quick look of your result, seems the touchup step made the difference:
If I classify with this step on:

![image](https://user-images.githubusercontent.com/84481724/194447447-f084cad9-48a6-4ec8-8b59-f97c04a8dbc0.png)

I got this result as you showed me:

![image](https://user-images.githubusercontent.com/84481724/194447483-0d7e7945-e3f7-4b6f-b8f6-1b4da3a92811.png)

If

[2022-10-07 01:57] Matt-Power commented on #295
I tried reclassifying without any steps or touchups previously and it made no difference.

Furthermore, that touchup step is simply any unknowns with an area <50 can be changed to anything else. It should not touch anything that is classified already.

[2022-10-07 02:00] Matt-Power commented on #295
I should add that this was a random issue too - most other samples in the batch were fine (and the same steps / touchups were applied so I don't think it is simply the touchup step or at least there is something more going on).

[2022-10-07 02:09] MarkGuo7 commented on #295
@Matt-Power
Hi Matt
Could you try to classify without this step?
I tried several times, for single classification seems ok. Not sure about batch.

[2022-10-07 02:12] Matt-Power commented on #215
@MarkGuo7 Hi Mark, not sure if I sent you the file but I will send a link again just in case. I was getting this error again today (but I had rolled back to 3.2). It is random but once it appears in a measurement, you have to go back to the original and start again. I think that there is an offset in the segment ID and the Xray or mineral associated with it because some of the minerals in the fiel

[2022-10-07 02:14] Matt-Power commented on #295
I did - several times before I raised the issue.

[2022-10-07 02:15] MarkGuo7 commented on #215
@Matt-Power Thanks Matt

I will take a look after downloading.

[2022-10-07 02:25] MarkGuo7 commented on #295
I will ask Gerda to give it a try see if she can repeat on her computer.

Maybe I need to login your computer to take a look, because I couldn't repeat on mine.

[2022-10-07 02:25] Matt-Power commented on #295
Right, just logged back in and in true sod's law style and despite recreating the issue several times before logging it, removing that step (again) worked. Why it didn't work before, I have no idea.

I suppose the issue now comes down to the touchup step. Why is it merging minerals when the step specifies only unknowns are to be merged? Similarly, any idea why that would then persist during reclas

[2022-10-07 02:29] MarkGuo7 commented on #295
@Matt-Power That's cool, thanks.
Please let me know if you notice anything strange happens again.

I will take a look of this touchup issue.

[2022-10-07 04:24] Matt-Power commented on #225
Just to give this one a nudge again - it would be really useful to have the criteria recorded in the text file that goes with a batch. The correct values used by the batch are only recorded in the sample from which the batch was started - the samples processed during the batch do not record the values used during the batch, only the AMICS default ones (and actually, it would be even more useful if

[2022-10-07 07:31] MarkGuo7 commented on #215
@Matt-Power Take a look of your result.

These segments in field 19 should be background but be assigned as minerals.
Their origin identification is un-xray, which not right either.

Not sure this issue came from Investigator, or the Processing.

I will keep digging next week.

[2022-10-07 17:31] Matt-Power commented on #254
This is still present in 3.3.0.1315.

It causes the groupings dialog to throw an error - basically it doesn't seem to be possible to group until the duplicate is renamed. I think the grouping uses the mineral name rather than the ID? Suspect this will also be a problem in the spectrum tree.

[2022-10-07 17:48] Matt-Power opened #296 "Unique ID should NOT change every time a mineral is changed!"
If I change anything in a standard (colour, density, BSE trigger, whatever), the unique ID changes. This is the unique ID visible in v.3.2 but now hidden in 3.3.0.1315. Is this correct and as intended? It seems like it will cause problems - surely, the unique ID should be assigned when a standard is created and then remain the same after that?

For instance, if the unique ID is used to define the

[2022-10-07 18:09] Matt-Power commented on #295
This happened again in a different project but with a slightly different result:
Segments surrounding quartz were tagged as Ti oxides (despite there being no Ti anywhere). Removing the touchup step and reclassifying (against the current list, not the ore type) cured the problem.
This was with a similar touchup step - area <50 of unknown can go to any mineral. All segments in the area were classifi

[2022-10-07 20:25] Matt-Power opened #297 "BUG-MAJOR_AMICS-3.3.0.1315_PROCESS_SPECTRUM TREE: steps have lost the mineral assignments"
v 3.3.0.1315
All of the spectrum tree steps associated with my ore types have lost their mineral assignments in v 3.3 so do not work.

Is this because the 5 digit ID is now being used to refer to the standards (rather than the names)? If so, great, makes much more sense and is more reliable (and if you rename a standard, it doesn't break the tree). If using unique ID though, this is going to cause

[2022-10-09 23:24] MarkGuo7 commented on #295
@Matt-Power Thanks Matt

I will take a look of this touchup step issue today.
You last sample would be good enough for me to debugging.

Will let you know if I find anything.

[2022-10-10 05:02] MarkGuo7 commented on #297
@Matt-Power Hi Matt

Is it possible that you can show me an example?

[2022-10-10 23:41] MarkGuo7 commented on #295
@Matt-Power

Hi Matt

Could you try this version? https://bruker-my.sharepoint.com/:u:/p/junfeng_guo/EZk3AhlfpexKtUkDfnd6ww0BqOccmMRXpcTEOrTVKg8rHA?e=GwZ1fK

With thanks,

[2022-10-11 07:12] jonathan-knapp commented on #62
Ok Van. Thanks.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Van Phan ***@***.***>
Sent: Wednesday, July 13, 2022 5:03:22 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Comment ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Process an open database in batch process (#62)

**EXTERNAL EMAIL**

Hi Jonathan,

Currently AMI

[2022-10-11 07:15] jonathan-knapp commented on #210
It may be worth investigating. If you have some measurements that fail if you can send them to Mark with the log file that is a start.

-Bruker Confidential-
From: jkabel ***@***.***>
Sent: Thursday, June 23, 2022 12:45 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Assign ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Testing Esprit API - Connection Reset

[2022-10-11 07:28] AHM-amics opened #298 "Energy Range for Standards"
AMICS Version: 3.2.1.0

Issue.  When using the Energy Range for augmenting the standards definitions there is an issue with low values.

Specifically: it is not possible to enter a low "minimum" value of zero, even though it is possible that the pixel has zero in the specified region. If a value of zero is entered then it defaults to 0.01.

This causes issues as a pixels value of 0.01 which equal

[2022-10-11 08:01] AHM-amics commented on #298
I have found a solution.  Negative Numbers are allowed!!

[2022-10-11 19:38] Matt-Power commented on #295
Just tried that version but got a blue screen of death / windows stopcode.

It happened when I opened a measurement, loaded the ore types, and went to the grain panel. I created a new touchup step (unknowns area<50 can got to any mineral), got a message saying that it already exists so I clicked to overwrite at which point I got the BSOD.

Interestingly, no touchup steps were indicated in the recl

[2022-10-12 03:42] MarkGuo7 opened #299 "BSE Adjuster couldn't adjust small dataset"
One Chinese customer need to adjust their small result with big bse shifting.
Currently AMICS couldn't handle this case:

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/9a51322f-266b-44c4-ad07-4f37042b8f4a)

[2022-10-14 05:35] MarkGuo7 commented on #191
Hi Matt

I fixed the issue of xray positions in 3.2. Here is the new link. Please give it a try.

https://bruker-my.sharepoint.com/:u:/p/junfeng_guo/EU2jtv9WQ_JDrHWZmVSJKMABF8uHth2LsrYmbbvwzKbsJA?e=8QvRDg

[2022-10-14 05:48] MarkGuo7 opened #300 "Couldn't build"
![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/08583322-7e1a-444c-8fce-d5225bffea5d)

[2022-10-14 05:49] MarkGuo7 commented on #300
There is not much information, and seems not space limit issue.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/4bdc1f24-607d-4850-a00e-4b5c2707f669)

[2022-10-17 15:06] ChiLyMan commented on #298
We need to add a note to the use (or info tooltip) specifying "-1" should be used to turn off the minimum range.

[2022-10-17 15:06] #298 closed

[2022-10-17 15:11] knapp-amics commented on #298
Please reopen this - not working with a 0 is a bug. If no number is entered it should see this as a -1 - this is just to quarks for a user to understand. For now, let’s also make a note in Tips and Tricks in matter most.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Chi Vinh Ly ***@***.***>
Sent: Monday, October 17, 2022 10:06:22 AM
To: Bruker-Amics/bugs_featur

[2022-10-17 20:56] Matt-Power opened #301 "Batch processing from project level causes crash"
v3.3.0.1315
Been playing with the project manager and have created a test project of 4 samples.
If I double click on a measurement to load it / make it active then go to batch process, select "From Project Level", Process closes almost immediately.
Btw, the ore types had already been loaded at this point too.

If I do the same without having loaded a measurement, it seems to work - the measurement

[2022-10-17 23:10] MarkGuo7 commented on #301
@Matt-Power Thanks Matt

I will take a look of it.

[2022-10-18 03:08] MarkGuo7 commented on #300
Still got problem. Seems caused by UTF-8 coding. May need helps from Rob.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/2c3a1d1c-2196-4e3d-a973-b3d156e05d03)

[2022-10-18 14:28] robbmcleod commented on #300
I switched the Python script to be back to UTF-16 on loading resource files. There are, however, some errors with building CommonLib that I think are not related:

[code]

[2022-10-18 18:13] ChiLyMan commented on #301
Could this be the issue with processing an open file we had discussed before with Van?

[2022-10-18 22:53] MarkGuo7 commented on #300
Thanks Rob

I can take care of these building errors for sure.

[2022-10-19 04:29] MarkGuo7 commented on #300
@robbmcleod Hi Rob

Need your help again.
I updated the resource file CommonLib.rc and the build is ok on my computer.
But the build script failed seems there are invalid letters.

With thanks,

![image](https://user-images.githubusercontent.com/84481724/196597341-8fb4b6d3-ba06-4e76-9600-7e889963bf74.png)

[2022-10-19 06:45] MarkGuo7 opened #302 "Speedup image stitching"
This is a request from Rio, and valid for all customers.

[2022-10-19 06:48] MarkGuo7 opened #303 "Cross field mineral touchup"
Will do mineral touchup cross field.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/c0067924-d940-4716-b3c5-1aa234fdc76c)

[2022-10-19 07:10] MarkGuo7 opened #304 "Match Status of Reliability Distribution"
Show the Match Status, with different unknown matching reliability distribution table.
Can pick the segments of selected cells and go to spectrum tree to pull the selections.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/00cd3edd-952c-469d-bce5-9d840be9f97b)

[2022-10-19 19:21] Matt-Power opened #305 "Ore Type Gets Corrupted"
v3.3.0.1315
If you generate a mineral standard from the measurement without first loading the ore types (i.e. clicking on the classification tab), the standard is created but the current ore type gets corrupted (many fewer entries and any groupings are also corrupt).

This is a serious bug as it is not immediately obvious that the ore type has been corrupted and it is possible to lose all of your

[2022-10-19 19:54] Matt-Power opened #306 "Cannot delete segments in mapped measurements"
v3.3.0.1315
It is no longer possible to delete segments (pixel points) in mapped measurements.

[2022-10-19 20:28] Matt-Power opened #307 "Cleanup steps in mapped measurements are not persistent"
v3.3.0.1315
If I apply a cleanup step (e.g. unknowns <25 to host mineral) to mapped measurements, the step disappears when the sample is closed (or when it is opened - possibly during the automatic conversion to segmented measurement?)

This is a real problem as it essentially means that cleanup steps cannot be applied to multiple measurements (and batch extraction of data is not possible if clean

[2022-10-19 22:15] Matt-Power opened #308 "Load only current ore type with measurement"
Related to the original request to not load all ore types and issue #305 (corruption of ore types if you do not load) - is it possible to automatically load the current ore type when a measurement is loaded?

If I am working on a project, I usually want to work on just the current ore type so I don't need the whole library to be read / loaded but I do need the current ore type to be available. The

[2022-10-20 15:42] robbmcleod commented on #300
Hi Mark,

You clearly changed `CommonLib.rc` and `AMICSResource/res/AMICSResource.rc` from UTF-16 to UTF-8, because two of the three .rc files are half the size.

![file_sizes](https://user-images.githubusercontent.com/5999769/196992414-5f915959-e401-45ea-87b9-bf8e1b0fbe29.png)

Do you have settings in Visual Studio that are causing these files to be automatically changed? It may be the `.editorco

[2022-10-20 17:18] jonathan-knapp commented on #268
@MarkGuo7 can you please tell me more about this? Is this better moved to a long-term API project and to do this by the API and not a command line? Is this required for an API?

[2022-10-20 22:34] MarkGuo7 commented on #300
@robbmcleod Thanks Rob

No ideas why. I will double check today.

[2022-10-20 23:59] MarkGuo7 commented on #268
This is different from the API. It's command line parameters when you start application. For example, if you pass in parameter to Processing, then it can open file like you double click the project management item.

[2022-10-21 01:01] Matt-Power commented on #191
@MarkGuo7 Gave this version a go on some fine-textured samples which caused real problems for the previous version of Investigator - it works way better, thank you.

[2022-10-21 01:03] #191 closed, assigned to MarkGuo7

[2022-10-21 21:49] ChiLyMan commented on #63
If we can get the header information, there are non-Espirt options available for this.

[2022-10-21 23:35] jkabel commented on #191
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}  As an added bonus I'd say it's also about 20% faster without missing anything. Great work.-Jacob

[2022-10-23 10:33] AHM-amics commented on #222
Hi Chi and Jonathan.  I believe this bug (comment) was in relation to my testing of this v3.3 version.  I have not used any v3.3 since then and I am back using v3.2 which does not have any energy channel application issues with the exception of the zero value as mentioned in a separate bug (which has a work around, i.e. using negative numbers).  Is there a latest version of v3.3.0.660 which superc

[2022-10-24 06:01] MarkGuo7 opened #309 "Command line to export segment data table to file"
This task is to export the segment data table to text file automatically.
The format of text file will follow the "segmentDatatable" part from the amicsAPI.doc that Jonathan created.

The next step is to export though the new AMICS API, so this task is the short version to do in limit time.

[2022-10-24 06:13] MarkGuo7 commented on #309
Close because it a duplicated one of #750

[2022-10-24 06:13] #309 closed, assigned to MarkGuo7

[2022-10-25 00:54] MarkGuo7 opened #310 "Upgrade BCG soft package"
We bought the new BCG UI package.
Need to upgrade the AMICS UI component.

[2022-10-25 03:11] jonathan-knapp commented on #310
No hurry.

-Bruker Confidential-
From: Mark Guo ***@***.***>
Sent: Monday, October 24, 2022 7:55 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Bruker-Amics/bugs_features] Upgrade BCG soft package (Issue #310)

**EXTERNAL EMAIL**

We bought the new BCG UI package.
Need to upgrade the AMICS UI component.

-
Reply to this email directly, view it on GitHub<https:

[2022-10-25 17:57] ChiLyMan commented on #222
Hi Andrew,
I just checked the Energy Range filtering for mineral in version 3.3.0.1315 and have been able to make it exclude/include a mineral using energy range restrictions. Feel free to test it out, but just make sure you select the "Check Energy Range" check box otherwise AMICS will still ignore the energy range setting.

[2022-10-25 17:57] #222 closed, assigned to ChiLyMan

[2022-10-25 18:12] ChiLyMan commented on #44
Hey Matt,
I was testing this on 3.3.0.1315 and you can shift group order in the "Current Result Standards" using the up and down button. The ordering does not seem to need reclassification to stick, and the order survives reclassification (even if the new oreType does not match, you just get left over species at the bottom). I also modified the list, and after modification there was no need to rec

[2022-10-25 18:12] ChiLyMan commented on #267
Hey Matt,
I was testing this on 3.3.0.1315 and you can shift group order in the "Current Result Standards" using the up and down button. The ordering does not seem to need reclassification to stick, and the order survives reclassification (even if the new oreType does not match, you just get left over species at the bottom). I also modified the list, and after modification there was no need to rec

[2022-10-25 18:15] Matt-Power commented on #44
This is a really old thread so it was fixed (of sorts) a while back I think. However, it isn't 100% reliable - there are plenty of times that it reverts back to a previous order. I haven't figured out in what circumstances this happens but it is still an issue, even in 3.3.0.1315. I'll try to keep my eye on it and figure out when it happens.

[2022-10-25 18:16] ChiLyMan commented on #265
NOTE: Waiting for signed NDA with Rio to "see" the measurement which is causing the issue because this only seems to be occurring on certain measurements. And looking at the log Espirt/AMICS seems to be changing the image resolution the BSE is acquired mid run. We will need to see the measurement settings and results to see if there is a setting bug/conflict causing this change in BSE resolution a

[2022-10-25 18:56] ChiLyMan commented on #44
OK That would be great. I've been fiddling around with it and have not seen it revert so if you do see if let us know.

[2022-10-27 04:10] MarkGuo7 opened #311 "Make the Project Manager in Investigator works like in Processing"
Currently you can edit Project Manager Item in Processing.
It's better to make it works same in Investigator.

The Project Manager in Tool is for BiFrost, and it's bit different. Let's review it when BiFrost is ready.

[2022-10-27 07:03] #300 closed, assigned to robbmcleod, jonathan-knapp

[2022-10-27 07:07] #145 closed, assigned to nobody

[2022-10-27 16:01] jonathan-knapp commented on #297
@Matt-Power did you get an example to @MarkGuo7?

[2022-10-27 16:02] jonathan-knapp commented on #296
@ChiLyMan we need to resolve this so it will work with BIFROST. Let's write up a specific requirement for Mark so he can implement UIDs that work.

[2022-10-27 16:08] jonathan-knapp commented on #288
@ChiLyMan this was a feature that we needed to train an ML classification model. I have slightly re-framed the issue.

[2022-10-27 16:11] jonathan-knapp commented on #280
@ChiLyMan, will it make more sense to build a python script to do this?

[2022-10-27 16:13] jonathan-knapp commented on #279
Yes. Let's also update the icon for AMICS 3.3 to be something that looks different. The "i" is hard to see.

[2022-10-27 16:14] jonathan-knapp commented on #278
We need to write a requirement for all calibration image requirements that @ChiLyMan will need for image pre-processing in Python.

[2022-10-27 16:26] jonathan-knapp commented on #234
@Matt-Power was this addressed before Van left?

[2022-10-27 16:26] ChiLyMan commented on #278
If we want to complete a correct flatfield correction need to include a workflow process to capture a true flatfield. Would also be good to capture a darkfield as well to do darkfield correction of the images.

[2022-10-27 16:28] jonathan-knapp commented on #278
OK. We need to make a document with the full requirements. Step-by-step procedure for example. We can have a meeting to discuss in a few weeks.

[2022-10-27 16:31] jonathan-knapp commented on #183
@Matt-Power is this still happening?

[2022-10-27 16:31] ChiLyMan commented on #280
He also wants the ability to export a subset of particles in the grid (e.g. particle with target mineral liberation > xx%) and not just exporting all the particles in a grid. I'm sure we can do this in python, but we are slowly seeing mission creep where Python functions and modules replace AMICS Process. Need to think is this how we want the new Process to operate.

[2022-10-27 16:35] jonathan-knapp commented on #245
@AHM-amics can you add some screen shots? Will you check that this is still happening on version 3.3?

[2022-10-27 16:36] jonathan-knapp commented on #263
Can you check and make sure this is still happening in 3.3? If so, can you add screen shots?

[2022-10-27 16:37] jonathan-knapp commented on #189
@Matt-Power is this still happening?

[2022-10-27 16:58] jonathan-knapp commented on #280
It is more that we want to not add more features to Process. Let's think about framework and function development, rather than a "program to do" - I do not want to add any more export functions to this release of Process. It than becomes a "how much is this needed" and "what do we need to do to enable lots of *data transformation* options in Python (not really export).

As a general principal I wa

[2022-10-27 17:25] Matt-Power commented on #183
Occasionally. It used to be all samples but now it is only random ones (occasionally 1 per project). All samples are the same so no idea why one can be different. Not sure if I can ever reproduce it though as it appears to be random.

[2022-10-27 17:30] Matt-Power commented on #234
No but I think Mark was working on it with some success. Not had a lot of difficult samples like the example so haven't checked to see well it works.

[2022-10-27 17:35] Matt-Power commented on #297
Not a specific example but I suspect if you open up any of the previous examples that I have sent over for other issues, you'll see that many (possibly all) or the steps embedded in those have lost the assignments. I'll try to send an example when I start the next project (I rip all of the dead entries out of the current ones so nothing useful to hand right now).

[2022-10-27 17:42] Matt-Power commented on #189
It worked just now but it is random so let me monitor for a bit (used to be >90% of the time it would fail and the bug was certainly still there recently).

[2022-10-27 19:40] Matt-Power opened #312 "Batch export of liberation data by sample"
All versions.
Batch export of liberation data does not extract data as is appears in Process - the data is placed on multiple different tabs. Each is grouped based on the either data column or row. There is no option to group by sample with is a big omission.

There needs to be an option to group by sample (as is done in the Associations batch export).

This applies to many other calculation table

[2022-10-27 21:25] jonathan-knapp commented on #312
I want to be clear I understand this request. It is very different from all other requests we have had regarding batch calculations. You want to have all liberation data for each sample on a different tab. The liberation report for each sample would have all of the liberation classes but would not be able to compare.

How it is now:
![image.png](https://images.zenhubusercontent.com/60a274843870252

[2022-10-27 21:27] jonathan-knapp commented on #312
@MarkGuo7 to implement this we would have to have the UI of the batch export have a new option of "samples in tabs" under "Sample Arrangement":
![image.png](https://images.zenhubusercontent.com/60a274843870252752494569/d9de16ee-bbce-4921-820c-8b934a2d5dad)

[2022-10-27 21:28] Matt-Power commented on #312
Yes, second example. It is the same way that the associations report now works.

[2022-10-27 21:30] Matt-Power commented on #312
In the UI, could you not add a "Group by Sample" in the Data Sheet box?

[2022-10-27 21:57] jonathan-knapp commented on #226
Test: 3.3.0.1382
This is still not working. ![image.png](https://images.zenhubusercontent.com/60a274843870252752494569/437a2be3-a025-4fe8-a0e8-50f45e09feef)

This is more of a workflow issue. Yes, it is a grain calculation. It would be better still to do the calculation and just default to grain mode. No need to disrupt the workflow (since it is going through the batch process anyway. Could also b

[2022-10-27 22:00] jonathan-knapp commented on #229
Test: 3.3.0.1382. This is still happening.
![image.png](https://images.zenhubusercontent.com/60a274843870252752494569/7dff744b-5dc7-4382-92b9-34e9d5d4c30d)
The "+" is the expansion. Looks to be a padding issue on the UI.

*steps to reproduce*
- open the grouping editor
- add any group
- collapse the group

*impact*
Annoying.

[2022-10-27 22:04] #233 closed, assigned to van-amics

[2022-10-27 22:04] jonathan-knapp commented on #233
I tested this in 3.3.0.1832 and did not have the issue. I am closing this. If this issue is still occurring, please let me know.

[2022-10-27 22:05] jonathan-knapp commented on #234
Understood. If it is OK with you, I will close this one for now. If it comes back up can you submit a new issue with a link to the measurement?

[2022-10-27 22:05] #234 closed, assigned to MarkGuo7

[2022-10-27 22:06] jonathan-knapp commented on #247
@AHM-amics can you please check with version 3.3.0.X and tell us if this is still happening? If it is can you provide some screen shots?

[2022-10-27 22:06] Matt-Power commented on #234
Yup, no problem. Thanks.

[2022-10-27 22:07] jonathan-knapp commented on #254
I was able to reproduce this in 3.3.0.1382 - it still needs to be fixed.

[2022-10-27 22:16] jonathan-knapp commented on #175
I was able to reproduce this in 3.3.0.1382.
![image.png](https://images.zenhubusercontent.com/60a274843870252752494569/a2b45557-c5ea-4892-bdaf-afd88eab3c05)
*Steps to Reproduce*
1. Open any mapping measurement
2. Select "Do Auto Field Adjust"
![image.png](https://images.zenhubusercontent.com/60a274843870252752494569/841309fa-1263-4dbf-899e-ea28d68dd74a)
3. Data is empty

*Workaround*
Close measure

[2022-10-27 22:18] jonathan-knapp commented on #183
Ok. Very strange. What we are going to need is a batch that is causing this issue. When you see it next, let me know. We may have to transfer all of the files to figure out why it's happening.

[2022-10-27 22:20] Matt-Power commented on #175
Just to add, this has been happening to me with segmented images in 3.3.0.1315 too (happened just now) so maybe not specific to mapped measurements.

[2022-10-27 22:22] #41 closed

[2022-10-27 22:27] jonathan-knapp commented on #224
I am closing this because I was unable to repeat this issue. @AHM-amics if this is still happening can you make a step-by-step report that shows how to repeat this? We can open it as a new issue.

[2022-10-27 22:27] #224 closed, assigned to nobody

[2022-10-27 22:42] Matt-Power opened #313 "Mineral groupings get corrupted"
v3.3.01315
Another apparently random one (sorry):
Occasionally reprocessing against an ore type will result in a corrupted mineral grouping (sometimes this will just be in the current results but it can also corrupt the groupings in the ore type too).
Current result groupings after reclassification (many groupings are gone and those that are present are junk):
![image](https://user-images.githubus

[2022-10-27 23:31] Matt-Power commented on #305
A bit more detail on this one:
Not sure if related (I think it is) but if you have a duplicated mineral name in the ore type (and reclassify) but then edit one of the duplicate entries to keep them unique, and then reclassify, the ore type loses many of its entries. Could be unrelated but just had this issue when I did the above.

[2022-10-27 23:36] Matt-Power commented on #305
And a bit more - seems to be the mineral standards that were before the edited duplicate entry that disappear.

[2022-10-27 23:58] Matt-Power commented on #254
This appears to be closely related to Issue #305 and therefore leads to loss of ore types. I've now junked two ore types potentially resulting in many hours of lost work or worse.

It also leads on to various other issues (inability to group minerals etc) so this is a much more serious issue than it seems on the face of it.

[2022-10-28 07:18] MarkGuo7 commented on #243
This should be sorted out by last meeting, isn't it? @AHM-amics

[2022-10-28 10:19] AHM-amics commented on #243
Hi Mark,

Yes - I think it has been fixed.  I will test it to confirm. However, one of the issues/symptoms is that it takes an extremely long time to load a ore type when the database is large (i.e. there are numerous ore types stored).  I will do some tests to confirm what the times are and if the system still crashes.

[2022-10-28 10:57] AHM-amics commented on #243
I have just tried to load a database in AMICS.
1. I changed my database to the default database with only 6 oretypes for MicroXRF.
2. I tried to load my most recent "autosaved" database.  This would have about 10-15 Oretypes.
3. After clicking load, a pop up window appears. This popup window has a "question mark" and a yes or no box. THere is no question or comment or information in the popup wind

[2022-10-28 11:02] AHM-amics commented on #243
Follow-up comment.  Loading "Ore Types" individually appears to work correctly.

To confirm: I can go to the "import" button (on the right with two arrows) and select a ore type from with the db (that I was trying to import above) and select 1 or more ore types and successfully and quickly merge into the loaded database.

The software version is v3.2.1.0

[2022-10-28 11:08] AHM-amics commented on #224
@knapp-amics Agreed. In the later versions I have tested, it seems to be stable. Specifically v3.2.1.0

[2022-10-28 11:30] AHM-amics commented on #247
@knapp-amics

Under v3.2.1.0: The data imports correctly - see image. The visual display and scale are correct. Each pixel is 10 um. However the value recorded under "X-Ray" variable "space" is 50um.  I am not sure if this value is used in any calculations.

Under v3.3.0.1315: The data imports correctly - see image. The visual display and scale are correct. Each pixel is 10 um. However the value r

[2022-10-28 21:58] jkabel opened #314 "BUG - MINOR - AMICS 3.3.0.1315 - PROCESS - Importing standard from spx file hangs until progress bar widget is "wiggled" with mouse"
Importing a spectrum file or files of a standard will hang until the displayed progress bar is grabbed with the mouse and moved around slightly.

[2022-10-28 22:01] jkabel commented on #210
I went through the whole support process.  General agreement seems to be that it is indeed a hardware issue of some kind, but no resolution has yet been presented (last contact was back in July).

I can confirm the issue still crops up on V3.3.0.1315.

[2022-10-28 22:04] Matt-Power commented on #314
Just to add: I've also seen this behaviour at various other times / places - usually when doing something with standards or ore types though. I'll try to make a note of where.

[2022-10-29 01:14] Matt-Power commented on #44
Just had the order disappear on me again so this issue is still there. In the latest instance, I set the order to what I wanted, brought it back into the ore type (where it shows in the correct order) and then did a batch assign to all of the samples. When I open up one of the other samples, the order is back to the previous order. I suspect if I re-apply again it will work but not 100 % sure and

[2022-10-29 01:24] Matt-Power commented on #44
OK, bit more digging - it doesn't actually show in the correct order when I import back into the ore type. The groupings are correct but the order will not change to the new one.
Interestingly, if I rename and reimport to the ore type, the newly imported list is in the correct order (the old one is also preserved but with incorrect order).

[2022-10-30 22:56] Aoife-Adelaide opened #315 "Run Fail due to fail to drive stage to position"
Hi,
I have now had this issue a few times where my run will fail because it stops being able to drive the stage to the correct position. When it fails it doesn't turn the beam off. This one failed at 8pm on a Friday so the beam sat on until 9am Monday morning.
Log file attached.
[Investigator32_2022_10_28_11_25_19-RUN FAILED DUE TO STAGE UNABLE TO MOVE.log](https://github.com/Bruker-Amics/bugs_fea

[2022-10-31 02:18] GGloy commented on #263
All good now

[2022-10-31 02:18] #263 closed, assigned to nobody

[2022-10-31 02:52] scarlett-01110011 commented on #313
Same - I would like to add a mission critical label

[2022-10-31 02:56] scarlett-01110011 commented on #287
Same

[2022-10-31 03:22] scarlett-01110011 opened #316 "Spectrum Tree - Decimal resolution in display - V3.3"
Thank you for adding the ability to make cuts in the spectrum tree using decimal places (V3.3.0.1315).

Could you please enhance the display to show the same resolution for **percentage** as displayed in **absolute**, under binning properties?

Currently the spectra display only shows integers for percentage.

![image](https://user-images.githubusercontent.com/117055041/198923844-8e2f234d-8bd8-4c4

[2022-10-31 03:33] MarkGuo7 commented on #316
Sure, Scarlett, I will give it a try.
By the way, any other properties you want to do the same?

[2022-10-31 03:46] scarlett-01110011 commented on #316
Thanks, Mark,
I mainly use **Count Clustering** at the moment.
Although since you asked, I think for **Energy Filtering** and **Ratio Clustering** it could also be useful to visualise the data in this way.

[2022-10-31 04:25] MarkGuo7 opened #317 "Split Common Lib to different function parts"
Need to restructure Common Lib to different components.
It depends what we want to share if outsource our developing.

Currently, we have:

- CoreLib
- ImageAnalysisLib
- ImageStatsLib
- etc

We also need to separate:
- license manager
- hardware controller
- etc

[2022-10-31 04:26] MarkGuo7 commented on #317
Rob already did some, maybe he can give us his suggestions

[2022-10-31 22:34] jkabel opened #318 "V 3.3.0.1315 - Corrupted image capture on long runs"
Corrupted images captured by system on long runs.  Does not appear to be SEM hardware related, as turning on beam again and collecting an image works as expected.

![RC17-CM3-TI-HL-160-Particle_BSE_Image](https://user-images.githubusercontent.com/12158231/199119575-769ceb5d-276d-47eb-b17e-84a959d48184.png)

[Investigator32_2022_10_27_15_08_44.log](https://github.com/Bruker-Amics/bugs_features/file

[2022-11-01 01:16] #243 closed, assigned to MarkGuo7

[2022-11-01 01:58] MarkGuo7 commented on #281
Seems some grid properties conflict with each other. Let's try it next version.

[2022-11-01 03:06] ChiLyMan commented on #281
I'm going to move this and any new feature request for new versions. We need should focus on 3.2.1.0 RC for now, this is not critical.

[2022-11-01 08:41] AHM-amics commented on #243
Hi Mark.

Just a quick follow-up.

Has this bug been fixed? I did some testing las week and wrote some detailed notes in github.

If it is fixed, please advise in which version, so I can test and use it.

Thanks, and enjoy your week.

Saludos,
A

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mark Guo ***@***.***>
Sent: Tuesday, November 1, 2022 2:16:13 AM
T

[2022-11-01 09:22] jonathan-knapp commented on #243
Can you try the same procedure with 3.3 please?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: AHM-amics ***@***.***>
Sent: Tuesday, November 1, 2022 9:41:28 AM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Common Standards: Exporting of ore types db (Issue #243)

**EXTERNAL EMAIL**

Hi Mark.

J

[2022-11-02 03:03] MarkGuo7 commented on #318
@jkabel Thanks Jacob for the log files

From the log file, I can see there is something wrong during measuring:
![image](https://user-images.githubusercontent.com/84481724/199384610-84f6f1ab-3445-42d6-9750-2e9f17bfd01c.png)

AMICS collected the xray failed, so it try to reset communication and redo the same field.
After that, all the images captured are blank.

![image](https://user-images.githubu

[2022-11-02 04:49] MarkGuo7 commented on #248
@AHM-amics Hi Andrew, is it still the case?

[2022-11-02 13:32] jonathan-knapp commented on #313
@MarkGuo7 note that this has been pinned a high priority in the Bug Backlog.

[2022-11-02 13:34] jonathan-knapp commented on #315
@ChiLyMan can you check the Esprit settings? I want to make sure this is a bug and not a settings issue.

[2022-11-02 13:34] jonathan-knapp commented on #315
@ChiLyMan can you check the Esprit settings? I want to make sure this is a bug and not a settings issue.

[2022-11-02 13:37] jonathan-knapp commented on #318
@ChiLyMan and @MarkGuo7 is this related to an issue where the system is overcorrecting for BSE stability? This is a high-priority issue.

[2022-11-02 15:40] ChiLyMan commented on #318
Let me sit with @jkabel today since I am here anyway. We can always try Espirt 2.5 on the system, since it has better handling of comms failure, though that will depend on the SCU installed. We can also test out 3.3 so we can turn of the binary image check.

[2022-11-02 23:28] MarkGuo7 commented on #318
This one is communication issue, not a binary image issue.

[2022-11-02 23:31] MarkGuo7 commented on #313
@Matt-Power & @scarlett-01110011

Hi Matt & Scarlett

Could you try the latest build I uploaded yesterday, 1399?
I will keep an eye on this one. If you notice how to repeat it, that would be very helpful.

Mark

[2022-11-03 05:22] MarkGuo7 commented on #316
@scarlett-01110011 Hi Scarlett

From my version, it seems already been cut by two decimal points:
![image](https://user-images.githubusercontent.com/84481724/199652689-599fc20b-7ab0-4168-88bb-c42e7e464dfa.png)

[2022-11-07 06:54] MarkGuo7 commented on #306
Hi Matt

Could you show me how to repeat this issue? Seems I still can delete them.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/eecc2576-ae7f-4e89-b952-ca97b403c859)

[2022-11-07 06:57] MarkGuo7 commented on #307
Hi @Matt-Power

Could you show me how to repeat this issue?
An example dataset would be great.

Thanks

[2022-11-07 14:21] ChiLyMan commented on #318
@jkabel is now on Espirt 2.5 and AMICS 3.3 is loaded onto the system He will test to see if this will help resolve the image corruption issues. We've also turned off the binary image option in AMICS 3.3. We can leave this open for a little while and check back with him to see if this issue has been resolved.

[2022-11-07 17:01] Matt-Power commented on #306
Hmmm. All of my mapped measurements are like this so you should see it straight away - are you sure that the big red delete "X" is still available?

To recreate, just select the mapped segments / points (this all works fine) but at no point does the delete button become available. Behaviour is shown below - segements are selected but no ability to delete (button is still greyed out).

![image](htt

[2022-11-07 17:38] Matt-Power commented on #307
Just looked into this one in more detail - I thought that it was the cleanup steps not being persistent but I think that the issue is actually that the batch calculation process is somehow skipping the clean up steps.

To recreate, first note down the area % unknowns from the calculation table tab (this is just to get some reference values).
Apply a cleanup step (e.g. unknowns <25 pixels can be as

[2022-11-07 23:23] Matt-Power opened #319 "BUG-MAJOR_AMICS_PROCESS_CALCULATION: different Values in Calculation Tables for Segment vs Particle"
v3.3.-.1315
Only tried on mapped measurements so far but I get slightly different values if I switch from segment to particle layer. When I switch back, the data remain the same i.e. don't change back to what they were before. Why is there a difference in the first place and why does the difference go away once the particle layer has been selected?

To reproduce: select the segment layer first, th

[2022-11-07 23:29] MarkGuo7 commented on #307
@Matt-Power

Thanks Matt, I will take a look

[2022-11-07 23:36] MarkGuo7 commented on #306
Hi @Matt-Power

Not sure it is issue with the version you have. Seems from my side is normal.
Is it Ok to the latest installer?
Or let me know which version you are on, so I can take a look of your version.

[2022-11-07 23:38] Matt-Power commented on #306
I'm still on 3.3.0.1315 (not updated yet, sorry) - will give the new version a go.

[2022-11-07 23:40] MarkGuo7 commented on #306
Let me try your version first.

[2022-11-08 00:39] Matt-Power commented on #306
Still there in v3.3.0.1399 I'm afraid. You can try those mapped measurements that I sent - it doesn't work on those (at least not on my computer).

[2022-11-08 01:37] MarkGuo7 commented on #306
Sorry Matt

Did you see this message after opening mapping results?
The reason of couldn't delete is that the result is converted one.
We shouldn't convert automatically every time. Currently I am working on Mapping related issues and this one has been fixed from the build I uploaded yesterday. 1406.
Please give it a try and let me know if it still there.

![image](https://user-images.githubuserco

[2022-11-08 02:11] Matt-Power commented on #306
Hi Mark,

Yes I did see the message - I did assume that was something to do with issue (and the batch process issue #295). Is there a way to switch off the automatic conversion?
Once the little issues are ironed, out, I think that the automatic conversion will be very useful though.

Will download the new version and give it a go.

Cheers,

Matt

[2022-11-08 02:41] GGloy opened #320 "M4 Particle de-agglomeration needed"
I am sure this is issue has been raised multiple times, but I cant seem to find it so I am just adding it again.

With the M4 data we added the ability to "particulate" the data but there is no ability to de-agglomerate touching particles.

Measured particles:![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/9d890cc9-e42b-47e1-afef-731280205234)

Line-up of particles showi

[2022-11-09 01:48] scarlett-01110011 opened #321 "Measurement area is not saved when reopening Investigator"
Drawn measurement areas in Investigator (V3.3.0.1315) work well in the same instance.
However, when the .ivst file is opened again, the measurement areas are not in the same position - even after saving the file.
The overview is saved correctly. Usually the number of fields remains the same, as in the screenshot, but it is clear in this sample because it has a small surface area, that the measurem

[2022-11-09 04:43] MarkGuo7 commented on #306
Thanks Matt

I think you are right. I am working on Mapping mode results now.
Will take care of this issue.

Mark

[2022-11-10 00:07] MarkGuo7 commented on #229
Double checked this issue, it is from our UI lib, BCGSoft.

Will spend some time to see if can fix it or not.

[2022-11-13 20:42] ChiLyMan commented on #320
@GGloy Would it be possible to get a copy of the M4 data for me to try/test. I've only got SEM data.

[2022-11-14 03:51] GGloy commented on #320
Hi Chi

Here is an example.

https://1drv.ms/u/s!AkdTTtfgGtY6oGEw9pPpsiiWkZUj?e=v2d9EQ

Regards!
Gerda

From: Chi Vinh Ly ***@***.***>
Sent: Monday, 14 November 2022 6:43 AM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Gerda Gloy ***@***.***>; Mention ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] M4 Particle de-agglomeration needed (Issue #320)

@GGloy<https://github.com/GGloy> Would i

[2022-11-15 16:27] jonathan-knapp commented on #319
@MarkGuo7 take a look at this. Perhaps we fist just need to understand what is happening.

[2022-11-15 16:34] ChiLyMan commented on #315
Once you get IT to allow remote access let me know and we can check the system set up.

[2022-11-16 02:17] MarkGuo7 opened #322 "Need a delete item option when close a project item"
Close a project item should be able delete it permently.

[2022-11-16 13:38] jonathan-knapp commented on #264
Would a solution be that 3.3 will not interfere with a 3.2 install but not share any files or settings? This is acceptable to me.

[2022-11-16 13:41] jonathan-knapp commented on #50
I just wanted to make a note that this has been added to the 3.3 release backlog. It will be addressed, but it is a major rewrite. It is linked to "Preserve All Spectrum Tree Branches, Even empty Ones" and will require much dedicated time for Mark. I wanted to make sure before we focused on this that you consider this a top priority.

[2022-11-16 13:44] jonathan-knapp commented on #278
Did we start a document for this? We will not do any automation steps in 3.3.1 (save for 3.3.2), but getting the document requirements done is important.

[2022-11-16 17:00] Matt-Power commented on #50
Thanks and yes, this is still needed but not as much as the preserve all spectrum tree branches.

[2022-11-16 17:07] Matt-Power commented on #297
OK, I've looked into this in a bit more detail:
To reproduce, take any measurement and reclassify through a different ore type (and certainly one that has steps and was created in 3.2 or before). On the example I used, I enabled various steps - but because the branch assignments are missing, this causes the various standards used in the steps to be assigned to unknown.
If you reclassify again but

[2022-11-17 01:12] GGloy commented on #278
I Just clarified with Adelaide what they want - I will put something together from my side - this is just calibration image requirements not Flat field correction

[2022-11-17 16:17] ChiLyMan opened #323 "Improved visibility of segmented area in the BSE image"
Clients have mentioned the difficulty of coordinating the segment location against the BSE image in the calibration image. And they have suggested adding a similar highlighting function as in AMICS Process while viewing in split image view mode, where-by the segment area is highlighted in both the segment view side as well as the BSE view side (See example image attached)
![image.png](https://imag

[2022-11-17 18:56] ChiLyMan opened #324 "Features to assist with mapping triggers"
With the addition of the BSE and area mapping triggers it would be useful to have easier visibility of the BSE histogram.
•	Add the BSE histogram as an additional tab behind the BSE image rather than to have to the right-click and then select the image properties option
•	To assist with the Area mapping triggers, have the option to show the area in pixels of a segment when selected for example as

[2022-11-17 19:55] Matt-Power commented on #183
Just had real problems with this. Some samples showed the lines and some didn't - it appears to be something to do with the stitching but it's not that straightforward. Details are:
Marc and I split a project into two - he stitched one half and I did the other. We used the same version (3.2.1.261 - there are some nasty bugs in 3.3 that mean that we cannot use any of the versions of that). I then p

[2022-11-18 15:55] ChiLyMan commented on #183
@Matt-Power I tried to recreate the white line issue we were discussing about yesterday. I first started by doing a batch export of the BSE image using AMICS Process 3.3.0.1406 using the Project Manager batch exporting option, but this didn't create white lines . I then did a batch export using the Batch button option in AMICS Process 3.3.0.1406, which also didn't create white lines in the BSE exp

[2022-11-18 17:53] Matt-Power commented on #183
@ChiLyMan the lines only show themselves in the mineral images - did you look at those?

[2022-11-18 19:07] ChiLyMan commented on #183
@Matt-Power OK I can now see it in mineral maps on 002 and 065RR (though note 002 looks like the bug you mentioned of have two data sets in same measurement).
I need to chat with Mark, because when doing the batch export an overview image is also produced (grey scale) which have "black" lines in 002 and 065RR, and not in 001RR.

[2022-11-18 19:15] Matt-Power commented on #183
OK, thanks, glad I'm not going crazy. 001RR was the one that was initially stitched on a different machine so does not have the lines.

002 does have that issue with the two datasets - can't remember how I triggered it but I think it happens in Investigator. Basically it writes two measurements into the same folder (or somehow duplicates the measurement within the folder). In that case, the measur

[2022-11-18 23:24] Matt-Power commented on #215
@MarkGuo7 I've just seen this happen again (3.2.1.261) and it seems to happen if a batch reprocess fails for some reason. A batch just failed on me (AMICS crashed) and it seems that the final field gets corrupted. The only way to fix is to reload the original measurement. Hope this helps track down.

[2022-11-24 06:43] MarkGuo7 commented on #288
Now will export the real pixel size of each item

:)

[2022-11-24 17:55] Matt-Power commented on #288
Great, thank you!

[2022-11-27 23:00] MarkGuo7 commented on #289
If current exporting can do that already, then we can give it a try.
If not, better do it next version.

[2022-11-27 23:16] MarkGuo7 commented on #264
If 3.2 and 3.3 use different settings, different user standard files, they are two products basically.
If users changed one product, added a standard to database, the other one didn't reflect the changes.
So they need to copy over all the changes every time. I am not sure that it is the side by side means.

[2022-11-28 07:02] MarkGuo7 opened #325 "Cut lower count percentage by details in Spectrum Tree count clustering"
This request is from Rio. If they focused on small percentage of count range, they want to see bit more details to cut.

[2022-11-28 20:12] jonathan-knapp commented on #318
@ChiLyMan did the upgrade fix this?

[2022-11-28 20:12] jonathan-knapp commented on #313
Is this still an issue? Seems like it was addressed.

[2022-11-28 20:15] jonathan-knapp commented on #315
Any progress on this?

[2022-11-28 20:17] Matt-Power commented on #313
I believe so. Not sure how to trigger it but it happens regularly. I'll check again next time I'm using 3.3.

[2022-11-28 22:55] MarkGuo7 commented on #315
Couldn't see it yet. Need to repeat it first.

[2022-11-28 23:06] ChiLyMan commented on #315
Still waiting for IT to prove remote access to the system.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mark Guo ***@***.***>
Sent: Tuesday, November 29, 2022 7:55:45 AM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Chi Vinh Ly ***@***.***>; Assign ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Run Fail due to fail to drive stage to position (Issue #

[2022-11-28 23:07] ChiLyMan commented on #318
Not heard any recurrence but just continue to monitor…

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: knapp-amics ***@***.***>
Sent: Tuesday, November 29, 2022 5:12:25 AM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Chi Vinh Ly ***@***.***>; Mention ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] V 3.3.0.1315 - Corrupted image capture on long runs (Iss

[2022-11-29 00:58] #278 closed, assigned to ChiLyMan

[2022-11-29 22:25] Aoife-Adelaide commented on #315
Apologies, IT are taking forever to allow us to remote access. I’m hoping it will be working this week.

Aoife

From: Chi Vinh Ly ***@***.***>
Sent: Tuesday, 29 November 2022 9:37 AM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Aoife McFadden ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Run Fail due to fail to drive stage to position (Issue #315)

CAUTION: Externa