[2021-05-22 20:14] knapp-amics opened #1 "Using the M4 Total XRay Map to filter for "Background" to eliminate and thus make it easier to convert M4 Map to a M4 Particle Map"

[2021-05-22 20:15] knapp-amics opened #2 "Compton and Raleigh Peak Maps as psudoBSE maps for particulization"

[2021-05-22 20:16] knapp-amics opened #3 "Using a BSE or PseudoBSE range for particulization based on segment BSE"

[2021-05-22 20:16] knapp-amics opened #4 "Add "Background" and "Pixel" to the manual assignment options."
Will add more pixels (sub-segment) to the background or porosity based on the BSE range
Would remove the pixels from segments
Based on pixel BSE, not segment BSE

[2021-05-22 20:17] knapp-amics opened #5 "Improved logic for the particulization selector: Open the dialog even when particulization is applied to change the selection or to undo all."

[2021-05-22 20:17] knapp-amics opened #6 "Particulization and Background Improvements"

[2021-05-24 00:15] Sperrylite-MattNg opened #7 "Particle Images in Exported MDB file"
This is an important function for a number of our clients to be able to view, sort, filter out particle images in the MDB file when loaded into MLA Dataview.

[2021-05-24 13:52] knapp-amics opened #8 "customized size classes"

[2021-05-24 14:04] knapp-amics opened #9 "Time remaining - 2617"
Show used time and time remaining in status window as well number of field and total fields

[2021-05-24 14:06] knapp-amics opened #10 "Attribute Mapping"

[2021-05-24 14:06] knapp-amics opened #11 "PsudoBSE - Total XRay Intensity Map"

[2021-05-24 14:07] knapp-amics opened #12 "Utilize "Expand" and "Collapse" functionality in other areas of the software"

[2021-05-24 14:07] knapp-amics opened #13 "Update variable associated with each standard spectra"

[2021-05-24 14:08] knapp-amics opened #14 "Import multiple spectra"

[2021-05-24 14:08] knapp-amics opened #15 "Automate the generation of 2 phase mixes by selecting 3 or more phases"

[2021-05-24 14:09] knapp-amics opened #16 "Three phase mixes"
![image.png](https://images.zenhubusercontent.com/60a274843870252752494569/dd03afda-6f46-403f-a18b-6ff93569730d)

[2021-05-24 14:10] knapp-amics opened #17 "Standard QA/QC (next closest match)"

[2021-05-24 14:10] knapp-amics opened #18 "Single spectral evaluation (import)"

[2021-05-24 14:11] knapp-amics opened #19 "Single spectral evaluation (live)"

[2021-05-24 14:11] knapp-amics opened #20 "Area select for Quant / Standards collection"

[2021-05-24 14:11] knapp-amics opened #21 "Area select shape to add to background"
With M4 (and block measurement) cannot filter before the measurement. This is adding a filtering step after the measurement, particularly for samples that are smaller than the measurement area.

[2021-05-24 14:12] knapp-amics opened #22 "Additional filters for diffraction peaks"

[2021-05-24 14:13] knapp-amics opened #23 "Mineral association results - no edge surface for block measurement"

[2021-05-24 14:13] knapp-amics opened #24 "Copy function improvements"

[2021-05-24 14:13] knapp-amics opened #25 "Export legend function legend has error "missing program""

[2021-05-24 14:14] knapp-amics opened #26 "Particle prop defined for mineral groups"
@AHM-amics

[2021-05-24 14:14] knapp-amics opened #27 "Database density calculation"

[2021-05-24 14:15] knapp-amics opened #28 "Element distribution table for multiple elements"

[2021-05-24 14:15] knapp-amics opened #29 "Option to turn off zero in mineral association results \"

[2021-05-24 14:16] knapp-amics opened #30 "Requests from Andrew Menzies"

[2021-05-24 14:16] knapp-amics opened #31 "Improved beam calibration"

[2021-05-24 14:16] knapp-amics opened #32 "Progress pop-up minimise"

[2021-05-24 14:17] knapp-amics opened #33 "Requests from Matt Powers"

[2021-05-25 01:03] Sperrylite-MattNg commented on #14
File formats allowed should include spx (bruker files), ems and msa files (DTSA-II); also possibly spc (EDAX files)

[2021-05-25 01:11] Sperrylite-MattNg opened #34 "Measurement file copying exe to allow and assist in copying files from multiple SEMs and work station PCs"
The exe will help to keep the files together. Especially when 1 large project may be measured on multiple SEMs. Files are then copied to a central location (server) and then to workstation PCs for QA/QC checking and then copied back onto the server.

[2021-05-25 01:17] Sperrylite-MattNg opened #35 "Can measurement file size be reduced any more?"
Can measurement file size be reduced any more to help with file loading in AMICs' Process and also for "long term storage" once project is complete.

[2021-05-25 03:54] MarkGuo7 commented on #14
You can import multi spx files now.
Other file formats need to confirm.

[2021-05-25 03:55] MarkGuo7 commented on #8
I think we can do it already.

[2021-05-25 03:57] MarkGuo7 commented on #11
This one should be done already. Need testing.

[2021-05-25 03:59] MarkGuo7 commented on #35
I guess the real request is to reduce the xrays collected, which will speed up our measurements.
These xrays are zipped but too many.

[2021-05-25 04:01] MarkGuo7 commented on #34
Is it means free version Result viewer?

[2021-05-25 04:02] MarkGuo7 commented on #31
Need more clear.
The issue facing and suggestions etc.

[2021-05-25 04:04] MarkGuo7 commented on #29
Now we can show zero as "-" to differentiate with the really small numbers.

[2021-05-25 04:05] knapp-amics commented on #14
Thanks Mark. Let's close this one and make. Anew one for other file formats.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: MarkGuo7 ***@***.***>
Sent: Monday, May 24, 2021 9:55:09 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Import multiple spectra (#14)

**E

[2021-05-25 04:05] knapp-amics commented on #8
If so let's move to testing

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: MarkGuo7 ***@***.***>
Sent: Monday, May 24, 2021 9:56:01 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] customized size classes (#8)

**EXTERNAL EMAIL**

I think we can do it already.

—

[2021-05-25 04:05] MarkGuo7 commented on #27
Andrew supposed to show us how to calculate from the formula, then we can implement it.

[2021-05-25 04:06] knapp-amics commented on #11
Ok. Let's move to needs testing.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: MarkGuo7 ***@***.***>
Sent: Monday, May 24, 2021 9:57:30 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] PsudoBSE - Total XRay Intensity Map (#11)

**EXTERNAL EMAIL**

This one should

[2021-05-25 04:07] MarkGuo7 commented on #23
We can give it a try if needed.

[2021-05-25 04:07] knapp-amics commented on #35
Mark, let's explore options for archive compression and other options.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: MarkGuo7 ***@***.***>
Sent: Monday, May 24, 2021 10:00:07 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Can measurement file size be reduced any more? (#35)

**EXTERNAL

[2021-05-25 04:08] knapp-amics commented on #34
Not quite. Let's discuss in detail. The changes we discussed today to the file would make this as easy as copy and paste.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: MarkGuo7 ***@***.***>
Sent: Monday, May 24, 2021 10:01:34 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Measurement fi

[2021-05-25 04:08] knapp-amics commented on #31
Yes. Let's discuss.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: MarkGuo7 ***@***.***>
Sent: Monday, May 24, 2021 10:02:30 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Improved beam calibration (#31)

**EXTERNAL EMAIL**

Need more clear.
The issue facing and

[2021-05-25 04:10] MarkGuo7 commented on #21
We can select rectangle and circle.
If not good enough, we'd better understand it more and select smartly.

[2021-05-25 04:11] MarkGuo7 commented on #17
Is the one we did with the locked xray?
Then we need test and review it.

[2021-05-25 04:12] knapp-amics commented on #21
Yes, need more information on this one

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: MarkGuo7 ***@***.***>
Sent: Monday, May 24, 2021 10:10:56 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Area select shape (#21)

**EXTERNAL EMAIL**

We can select rectangle an

[2021-05-25 04:13] knapp-amics commented on #17
Yes

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: MarkGuo7 ***@***.***>
Sent: Monday, May 24, 2021 10:12:10 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Standard QA/QC (next closest match) (#17)

**EXTERNAL EMAIL**

Is the one we did with the locked xray?
The

[2021-05-25 04:13] MarkGuo7 commented on #15
We can do that for sure, but not sure it is a good idea.
Need someone to review it.

[2021-05-25 04:15] MarkGuo7 commented on #16
See #15 :)

[2021-05-25 04:16] MarkGuo7 commented on #12
Where? :)

[2021-05-25 04:17] MarkGuo7 commented on #9
M4 system got this issue and Gerda noticed on SEM as well.
Better fix it.

[2021-05-25 04:27] knapp-amics commented on #12
No idea .. just collapse stuff! Lol

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: MarkGuo7 ***@***.***>
Sent: Monday, May 24, 2021 10:16:33 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Utilize "Expand" and "Collapse" functionality in other areas of the softwa

[2021-05-26 16:03] knapp-amics opened #36 "PsudoBSE overwrite the optical image, needs to be places as the "BSE" with the optical as a secondary"

[2021-05-26 16:07] knapp-amics commented on #7
Superseded by BiFROST

[2021-05-26 16:15] knapp-amics commented on #15
This could be a significant time-saver. I would like to also consider an automated mix-generator that will use adjacent minerals (even if separated by an unknown) that will generate a mix based on what is likely a mix. However, a intermediate step would be to manually select the minerals that we want to combine and automatically generate mixes between all selected.

We would want to have a one-to-

[2021-05-26 16:16] knapp-amics commented on #16
This is one of the most often requested features. Can you expand on why this may "not be a good idea?"

Thanks Mark

[2021-05-26 16:18] knapp-amics commented on #18
This is a good idea, but we are going to icebox this for a little while.

[2021-05-26 16:21] knapp-amics commented on #21
He is looking to add the freehand draw of shape...

[2021-05-26 16:22] knapp-amics commented on #22
This would be a global version of the channel limits for the standards. The ability to add more global limits. Perhaps we could have this applied based on the matching class

[2021-05-26 16:23] knapp-amics commented on #24
@AHM-amics can you give some specific examples for this one?

[2021-05-26 16:25] knapp-amics commented on #25
Error:
![image.png](https://images.zenhubusercontent.com/60a274843870252752494569/8ce0ee7a-780a-4621-8f8e-4f70c142ee82)

[2021-05-26 16:28] knapp-amics commented on #27
@AHM-amics can you post the calculation and we can think about this together

[2021-05-26 16:30] knapp-amics commented on #28
Will be covered in BiFROST

[2021-05-26 16:30] #28 closed

[2021-05-26 23:25] MarkGuo7 commented on #15
Then yes. Let's do it.
My only concern is that it is too easy build hundreds without any notice. It will slow the classification and the standard list will be messy.

[2021-05-26 23:29] knapp-amics commented on #15
Yea, I understand that. Could we auto-group that? I think we can trust the user to understand that.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: MarkGuo7 ***@***.***>
Sent: Wednesday, May 26, 2021 5:25:53 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Automate

[2021-05-26 23:31] MarkGuo7 commented on #27
This is about the automatically calculate Density property from Formula string.
Nothing about our result calculation.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/f7b86dc0-489e-40bd-a9fe-ecf622485c27)

[2021-05-27 00:27] Sperrylite-MattNg commented on #27
The formula can be found in Gaines et alia (1997, Dana's New Mineralogy - 8th edition; pg. xxix). Formula is D = (Z x M)/(N x V); D: specific gravity/density; Z: number of formula units in unit cell (crystallographic param = look up in a reference book); M: formula weight of compound (calculated from the quant); N: Avogadro's number (look up in a book, always the same value); V: volume of the unit

[2021-05-27 00:35] Sperrylite-MattNg opened #37 "Re-introduce MLA measurement types and methods. Also make improvements to them."

[2021-05-27 00:40] MarkGuo7 commented on #27
Wa, that's amazing to see someone in this group really know it. :)
I still need bit more help do implement it. Say, if I have a formula string as CuFeS2, what the D should be?

[2021-05-27 00:46] Sperrylite-MattNg opened #38 "Various template measurement set up methodologies for AMICS Investigator"
Various ways to set up measurements in AMICS Investigator to help reduce time, human base errors and keep consistency in measurement methodology especially for large projects (lots of samples, different size fractions and params, multiple measurements types per sample and on multiple SEMs).

[2021-05-27 00:53] Sperrylite-MattNg opened #39 "Email alert function of AMICS Investigator - for failed measurements or BSE drift or just measurement updates."
Email will be sent to a user defined email address or addresses if measurement fails or stops (i.e. finishes run), reference BSE changes by a user defined value and, if the user wants, sends an update (shorten measurement log) after each measurement has been successfully completed.

[2021-05-27 01:38] Sperrylite-MattNg commented on #27
Ok I'll write it up and send it to you.

[2021-05-27 05:28] Sperrylite-MattNg commented on #27
[Chalcopyrite Calculated specific gravity worked example.pdf](https://github.com/Bruker-Amics/bugs_features/files/6551299/Chalcopyrite.Calculated.specific.gravity.worked.example.pdf)
Uploading a worked example for chalcopyrite as a PDF file. (Hope this works)

[2021-05-27 05:52] MarkGuo7 commented on #27
That's awesome. I will give it a try for sure.
Well let you know if need any further helps. (most likely will :))

[2021-05-27 06:51] AHM-amics commented on #27
Thats Great!
Some comments to think about:
How do we search the reference database for the unit cell parameters? By formula or name? Or both. WhatiIf someone has a non-standard formula?
Also, the database is for minerals. What about for alloys or other man-made phases?. Is it somehow possible to have default unit cell parameters for different types of phases, e.g. metal oxides, slags etc

[2021-05-27 12:13] AHM-amics commented on #24
@MarkGuo7 This relates to the copy function, especially in the visual workspace. For example, when copying an image it copies the whole work space, rather than just a area which encompasses the sample of interest. This results in all copied images having to be cropped in a separate software before the can be used.

[2021-05-27 12:15] AHM-amics commented on #25
@markguo, @knapp-amics FYI: This legend copy function is working in my version v3.1.1.2227

[2021-05-27 12:22] AHM-amics commented on #13
@knapp-amics, @markguo7

The reason for this is because I am comparing data on the microXRF + with using 50kV and 35kV. This is because we can get 800uA at 35kV without any loss of relevant information. In fact it should improve the light element signal, which will help with various definitions, i.e. make them more robust.

Therefore, I would like to recommend and get feedback about adding the fol

[2021-05-27 12:25] AHM-amics commented on #12
@knapp-amics, @MarkGuo7 This was a request from me to include in the mineral groupings popup box. From my side, this was completed and I have tested it and it works.

[2021-05-27 12:29] AHM-amics commented on #6
@markguo7
All comments below relate to AMICS v3.1.1.2150

I have been playing with the Particulation Feature in AMICS with MicroXRF. This is a great feature and very powerful and will be of great benefit to numerous of our clients.

Sample Description: These are different minerals (mostly salts and sulphates) mounted in 30mm resin blocks. These samples also have different size fractions. I have be

[2021-05-27 23:31] MarkGuo7 commented on #24
Is it something like the save as function in Tool?

We can talk about what need to save and in which way and how to show the saved results.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/4ee1f010-d94b-42ea-b02d-ba356275eba0)

[2021-05-27 23:38] MarkGuo7 commented on #6
@AHM-amics Thanks Andrew, I think Van is the person you should mention :)

[2021-05-31 19:51] Matt-Power opened #40 "Default to Duplicate Standards List"
When a duplicate standards list is created from the current measurement, the old standards list is still marked as current, not the newly created duplicate. The duplicated list should become the current by default.

It is very easy to inadvertently edit the wrong (i.e. existing) standards list and therefore potentially mess up existing projects. It also means that you have to reclassify the measur

[2021-05-31 19:55] Matt-Power commented on #31
I think that this relates to the feature I raised on Teams:

Allow beam calibration at multiple mags and scan rates to compensate. Add ability to use a combination of BSE and EDS to determine offset - e.g. X-ray line scan over the edge of the Cu standard to ensure BSE image and beam position are synchronised.

Currently missing a lot of bright phases even at 32 µs scan rate despite very little app

[2021-05-31 20:01] Matt-Power commented on #32
From Teams:
The progress pop-up window in Process is always on top so gets in the way of all other work when active. If you click on it to move it, Process jumps to the fore and you have to relocate the application you were working on. Add ability to minimise (and also ensure that Process does not grab focus when the pop-up is clicked or moved around).

Window is always on top so really gets in th

[2021-05-31 20:06] Matt-Power opened #41 "Multiple Batch Processes"
Multiple batch processes (different projects / measurements) running causes instability. When one batch process is cancelled, it causes both to stop (and usually a crash).

Ideally, allow multiple batches to run at a time or, if not possible, prevent a second batch being instigated by mistake (with a warning message).

Update - have run two batches side by side successfully. It seems to be cancell

[2021-05-31 20:14] Matt-Power opened #42 "Include Cleanup Steps in Batch Process"
Currently, the cleanup steps in the current measurement are used when a batch reclassification process is run. When a batch is run, the cleanup steps are not inherited from the batch and so do not appear in the measurement so if the measurement is reclassified, the data change.

Add a Cleanup tab to the Common Standards window so these can be managed better and applied more consistently. (In a bat

[2021-05-31 20:52] Matt-Power opened #43 "Add Rotation to Block Holder Setup"
Setting up large block holders on the SU3900 is a real challenge. It is not possible to move to a single X-Y location and then rotate in each sample (like a carousel) as the coordinate system in AMICS places all of the samples in the same place in the representation. It is possible to create a representation of the holder in AMICS but the SEM is unable to drive to most of the positions.

e.g.
#H01

[2021-06-01 15:47] knapp-amics commented on #24
@AHM-amics can you see above?

[2021-06-01 15:59] AHM-amics commented on #24
@MarkGuo7 , @knapp-amics thanks for the reminder. I will check it tomorrow and provide feedback.

[2021-06-01 20:39] Matt-Power opened #44 "Move Groups Up and Down in Group Editor Pop Up"
Put ability to change order of mineral groupings into the groupings editor (i.e. add up / down buttons).

Currently has to be done outside the editor and then a reclassification is required to make changes "stick" and if the list is edited before the reclassification, the assigned order is lost.

[2021-06-02 00:22] knapp-amics commented on #37
Can you give us a little more information on exactly what measurement types you are looking for?

[2021-06-02 00:23] #38 closed

[2021-06-02 00:25] #34 closed

[2021-06-02 02:21] Matt-Power opened #45 "Run Summary Only Saved on Successful Completion"
The run summary in the batch export is only written at the end of the batch - it should be written / updated after each sample in case of crashes or other termination of the batch. If it is written as it goes, it is also possible to use the data contained while the batch is still running (for large sample batches, it can take several hours to complete).

[2021-06-02 19:20] Matt-Power opened #46 "Pores and Epoxy to Background"
OK, I've logged this one under several guises but I need to restate that this is mission critical for me. The ability to send pores and epoxy (and unwanted phases) to the background and get ignored from all calculations (including modals (area and mass %), density etc etc) has to be implemented.

For every project (now running to 1000s of samples), I have to go through each sample and delete all p

[2021-06-02 22:04] Sperrylite-MattNg commented on #37
Here are just a few things I have so far:
- Do x-ray mapping in particle and bright phase search measurements and using various (improved) methods to trigger x-ray mapping.
- Various time-saving approaches for Bright phase search measurements such as MLA's SPL_DZ, SPL_Lt_Map etc
- Improving workflow for bright phase search
- Have area scan and point scan options for x-ray collection during measure

[2021-06-02 22:56] Matt-Power opened #47 "Pores / Epoxy Re-appear After Deletion (and Save)"
Spent ages deleting pores and epoxy so that I could extract accurate modal data and grain densities only for the pores to reappear.

I saved after deletion but still returned once dataset closed and reopened. Did nothing else to data - no reclassification etc. Totally wasted day.

Deleted segments / minerals / pores etc should remain deleted and only re-appear when actively restored.

[2021-06-02 23:02] Matt-Power commented on #47
Update - summary pane on left indicates pores present when dataset is opened but they may not actually exist in the data (calculated tables show no pores / epoxy).
However, deleted segments have been restored by some process - will try to confirm if reclassification causes them to reappear.

[2021-06-02 23:03] Matt-Power commented on #47
Sorry, summary is of course on the right. Long day...

[2021-06-02 23:06] Matt-Power commented on #47
Apologies, it looks like it's the summary pane info that persists but the actual pores / segments etc remain deleted. Time for fresh air I think. I'll close this and add a note about about the summary pane.

[2021-06-02 23:06] #47 closed

[2021-06-03 00:32] Matt-Power opened #48 "Colours in Calculation Tables Convert to Numbers on Copy"
When the calculation table is selected, the colour column changes from a swatch to just numbers. When pasted into excel, the numbers remain, not the colours. I'm pretty certain that in previous versions the colours were preserved (and didn't change to numbers). Batch calculations are OK - the colours remain.

[2021-06-03 00:36] Matt-Power opened #49 "Reported Pore Space in Summary Table"
The porosity value remains in the table even after all pores are deleted. This is not necessarily a bad thing though - could be really useful depending what it refers to.

What is this value? Is it the area of dark space in the image, the originally identified pore space or something else?

[2021-06-03 00:41] Matt-Power opened #50 "Merge Classification Steps (Not Just Overwrite)"
Can we have the option to merge steps into the Common Standards please?

When working on multiple samples, it is not possible to merge classification steps from two or more measurements into the master list - the steps in at least one of the samples are lost / overwritten.

[2021-06-03 00:46] knapp-amics commented on #50
@Phan, Van ***@***.***>  perhaps a way to solve this problem is to have classification steps act more like standards and reside in a central place. I think that the goal here is to have classification steps from more than one measurement be able to apply to a batch. You want all of the classification steps in the batch applied, to be able to select which ones to apply.

@Matthew ***@***.***>  we h

[2021-06-03 00:49] Matt-Power commented on #50
OK, thanks, sounds good. Central store for steps (and cleanup) with ability to select what to use for a batch gets my vote.

[2021-06-03 15:57] Matt-Power opened #51 "Ability to Duplicate Group"
# Problem
Often I need similar grouping (for instance, one with the feldspars split out, one with them all grouped but all other minerals are the same) - reconstructing the list is very time consuming. It is possible to import from another measurement but this workaround is unwieldy.

# Solution
Add a duplicate group button on the group tab of the classification

# Acceptance Criteria
- [ ] the us

[2021-06-03 21:11] Matt-Power opened #52 "Add Functionality to Current Mineral Groupings Pane"
The list of minerals on the left showing the current mineral groupings and colours  takes up a lot of screen "real estate" yet is of limited use (it's really just a key at the moment).

It would be great to add more functionality and in particular a column to show the Mineral Area % summary data (currently on the right pane) so you can quickly see which groups make sense to merge (or remove). Data

[2021-06-03 21:31] Matt-Power opened #53 "Give "run-summary" a unique name."
All run summaries are named the same so have to rename before opening if looking at more than one instance (e.g. to compare or if working on more than one project at a time). Large opportunity to work / review the wrong copy too.

Adding the date and time to the end (like the folder name) would work fine.

[2021-06-04 04:14] MarkGuo7 commented on #27
@bernie1034

Here is the latest build with mineral density calculation. Please give it a try to see it is make sense.
https://bruker-my.sharepoint.com/:u:/p/junfeng_guo/EcRJDME8x_tNrRvBTulW4i4BwwXfrcItoVYhG9hfMfeYfw?e=CG4bLK

Please try the Average Atomic Weight as well.

For some reason, I couldn't @Sperrylite-MattNg.

Test steps:
1) Change Formula
2) Click the Parser button
The Density and Avera

[2021-06-04 05:11] MarkGuo7 opened #54 "Stage travel issue"

[2021-06-04 05:14] MarkGuo7 opened #55 "Avoid analysis sample holder"
If overview image is bit off, or the stage travel got offset, the measure area may bit off.
How to avoid sample holder?
How to calibrate sample holder position?

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/c54617af-9349-4258-bce4-2a83b953c130)

[2021-06-04 06:30] MarkGuo7 commented on #54
How much stage moving offset(tolerance) with rotation?
The stage travel issue may also cause the measure position is bit off with the setup area.
For this 28 samples holder, it may critical.

Driving to reference position:
![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/f12a15e0-813f-4181-8f7d-7fd0daed6b4e)

![image.png](https://images.zenhubusercontent.com/60a59e61f0254

[2021-06-04 07:19] Matt-Power commented on #54
For me, within a millimetre or so is acceptable - obviously the closer the better though. If I need to relocate accurately, I can use the quadrant type holder file (same as Gerda had).

Would it be useful to have a known rotation calibration position or is the offset due to a relatively poor tolerance / backlash on the rotate?

[2021-06-04 07:27] Matt-Power commented on #55
I think that one or more known rotation reference positions on the holder would be helpful here.

You could drive to the rotation references (e.g. centre of holder, the centre of the Cu standard and / or a small aperture placed close to the outer edge of the holder), do a quick line-up on those and, based on the absolute positions sync the Navicam and sample holder file - that would be really, rea

[2021-06-06 23:54] Sperrylite-MattNg commented on #27
@MarkGuo7 Chalcopyrite's mean atomic number should be around 23.5. Ok, I'll calculate it out for you and send it to you.

[2021-06-07 05:46] MarkGuo7 opened #56 "Record multi-reference images to do BSE stability checking"
If the stage with rotation, and the stage may have offset when driving and rotating, it is better to record multi-reference position to avoid rotation.

[2021-06-09 06:38] AHM-amics commented on #24
@MarkGuo7 Yes. I guess similar to this. As I understand it, this "save" in AMICS tool creates a separate .mre file of the selected fields.

For the copy of images I am referring to just the images, not the data. I would like to save either selected areas of the image or as a default, just the full sample image size not including the blank space in the AMICS workspace area. See attached sample....

[2021-06-09 12:09] AHM-amics commented on #51
I agree with Matt and this would be very useful. In other words, create a duplicate mineral list to a previous one so that it can be edited and renamed.

[2021-06-09 12:14] AHM-amics commented on #50
@knapp-amics, @phan, A comment assuming I am following this correctly, is that if a classification step exists in one sample, but when used in a different sample and the step has an output of 0%, then that branch automatically disappears. It would be ideal that all branches created are maintained when used in different samples, even if the output is 0% for any of the classification steps.

[2021-06-09 12:39] AHM-amics commented on #21
@MarkGuo7 Yes. The freehand shape selection would be useful to be able to remove "background data" especially for the M4 analysis. For example, in M4, it is only possible to measure a rectangle area. If the sample is non-rectangular it be would be great to select the area of the sample and re-save as a new .mre or to just change the other data to background. Let me know if you need an example.

[2021-06-09 12:45] AHM-amics commented on #15
@knapp-amics @MarkGuo7 Yes there is a concern that it could generate lots (hundreds) of classifications. Maybe a pop-up warning stating the number of mixes to be generated?
However, This is particularly important for M4 and most users know this and it is stressed during training because mixed information is so common.
Auto-grouping and Auto-compositions etc would be the next step once this functio

[2021-06-09 12:51] AHM-amics commented on #11
@MarkGuo7 This functionality works for me. The only issue is that it "replaces" the imported "optical" ("BSE") image from the M4 rather than generating a new visual option.

[2021-06-09 12:55] AHM-amics commented on #8
@MarkGuo7 Yes. This is working. I will do a more thorough test.

[2021-06-09 12:56] AHM-amics commented on #6
@phan this comment thread is for you

[2021-06-09 16:27] Matt-Power commented on #50
The thread was slightly different (if you have two steps in different measurements, you cannot integrate both into the common standards - you have to lose one) but totally agree. I think Nigel has raised this before (on both of our behalfs) but I'll add a separate comment with some additional detail.

[2021-06-09 17:57] Matt-Power opened #57 "Preserve All Spectrum Tree Branches Even Empty Ones"
Spectrum tree only displays branches containing spectra. Empty branches have to be displayed too. Apologies for the essay but there are many reasons that this is really important - a few outlined below:
It is very difficult to review steps and make sure they are correct or appropriate e.g. if a spectrum tree step successfully classes all spectra from unknowns, the tree will display as empty; there

[2021-06-09 19:41] knapp-amics commented on #57
Thank you for this detailed run-down. This has been added to the backlog as a high priority.

[2021-06-10 20:02] knapp-amics commented on #37
I am going to put each measurement mode in as a separate feature. A few questions:
--> What parameters do you want to trigger x-ray mapping?
--> Do you have some specifics on the improved workflow for bright phase search?
--> By area scan and point scan do you mean trigger a esprit area and point measurement, or do you mean to have it map in a matrix?

[2021-06-10 22:54] knapp-amics commented on #24
@MarkGuo7  and @AHM-amics  - let me make sure that I understand. You do not want any white around the copy image? I think if you only want part of the image the snip tool from Microsoft works well.
![image.png](https://images.zenhubusercontent.com/60a274843870252752494569/77fefe90-24aa-43f7-9263-8ce174fc8afd)

[2021-06-11 00:01] MarkGuo7 commented on #31
Should we have an option to calibrate at the beginning of each measurement?
Let's give it a try.

[2021-06-11 00:11] Matt-Power opened #58 "Investigator - Sort Sample Order"
Ability to sort (and unsort) samples by sample number, hole or mode within the On Stage Samples window in Investigator. There does not appear to be a way to sort or reset the order of the measurement file (right click and hitting reset does not work). For instance, if several samples are moved up the order but priorities change, there is no way to quickly reset the order, samples have to be reorde

[2021-06-11 00:42] Matt-Power commented on #31
Yes, I think that would be useful, thanks.
I don't think that the offset changes much over time so it would be great to add a calibration routine where a series of magnifications and scan rates are done as part of an automated routine - a calibration table of offset for each scan rate and mag could then be constructed and used during measurement. The idea would be to run this as part of a monthly

[2021-06-11 01:21] MarkGuo7 commented on #31
Thanks Matt, I will give it try.
@knapp-amics Somehow, I couldn't @Matt-Power from this page.

[2021-06-11 01:58] Matt-Power commented on #31
Great, thanks - good luck!

[2021-06-11 04:27] van-amics commented on #41
Hitting the close (x) button will eventually cancel the batch process. However, it will take a bit of time for the process to "orderly" cancel its current task.

[2021-06-11 04:29] van-amics commented on #32
Conflict request: we got a request of making it "always on top" a while back, and the always-on-top progress bar is the result of it.

[2021-06-11 04:30] Matt-Power commented on #41
OK, thanks but the main point was that when two batches are running, cancelling one of the batch can cause the second to crash.

[2021-06-11 04:35] Matt-Power commented on #32
Can we have an option in the preferences then please? When working on several instances of Process, it is really challenging. I lose my place and pick up on a similar but different / wrong sample almost daily.

[2021-06-11 04:39] van-amics commented on #4
Is this the same with the TouchUp feature that allows turning a [filtered] grain into background?

[2021-06-11 04:43] van-amics commented on #5
Could you please elaborate on this requirement? What would you want to see happening when the user clicking the "Particulation" button?

[2021-06-11 04:46] GGloy opened #59 "The periodic table pop-up when in "add elements" is not complete"
The periodic table do not include the bottom REE elements. Maybe should still have the ability to just add in an element without selecting from periodic table.

[2021-06-11 04:55] van-amics commented on #49
Can you please give me a sample screenshot?

[2021-06-11 16:59] Matt-Power commented on #49
<img width="785" alt="AMICSProcess64_AREVFzkSwF" src="https://user-images.githubusercontent.com/84986921/121723662-a613f700-ca9b-11eb-8cba-946a62b8d1ed.png">

[2021-06-11 17:02] Matt-Power commented on #49
As I mentioned in my original email, this could actually be useful as the pores are deleted so I can get accurate grain density but it looks like the value is still preserved in the summary table on the right (which is also useful). It would be good to know how that porosity value is calculated given that the "pores" have been deleted.

[2021-06-14 16:15] knapp-amics commented on #1
@van-amics this is important for the M4 to make it useful. Can you please get with Andrew to discuss this in more detail? I'd like to try and include this in the 3.2 release

[2021-06-14 16:23] knapp-amics commented on #16
@MarkGuo7 can you put an estimate on this? I want this in the beta if possible. Lets put a warning if it is going to generate more than 60 or 70

[2021-06-14 22:25] Sperrylite-MattNg commented on #37
@knapp-amics
For the triggering of x-ray mapping, spectrum based trigger, BSE based trigger and a combined option too (for example you may want to x-ray map siderite or iron hydroxide but not hematite/magnetite).
Workflow for Bright Phase Search, post measurement a file can undergo a channel ROI peak searches (eg. Au peaks or Au and Cu peaks), identified grains can then be bookmarked with an "emoj

[2021-06-15 00:21] knapp-amics commented on #37
Ok. Our plan right now is to map out this x-ray trigger for combined mode and rare phase search mode and include some modes in this release and more in the next release.

-Jonathan

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Sperrylite-MattNg ***@***.***>
Sent: Monday, June 14, 2021 4:25:13 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonat

[2021-06-15 06:49] AHM-amics opened #60 "MicroXRF bcf Import into AMICS - dual detector"
@knapp-amics @van-amics @MarkGuo7 This issue relates to the importing of bcf files from an M4 measurement and the loss of 50% of the data due to the separation of data streams for Detector 1 and Detector 2.

Example Data Sets are uploaded onto OneDrive:

Link: https://1drv.ms/u/s!AiQ95bfsvcO8hb9ZWLZCUIyH7OJFFA?e=l9CMLN

Message me for more information when needed.

[2021-06-15 06:59] AHM-amics commented on #6
@van-amics Hi Van. This comment thread is for you. Let me know if you have questions.

[2021-06-16 06:29] AHM-amics opened #61 "Deagg Button not useable for M4 data after Particulization"
After particulization of M4 data there are often touching particles - for example see attached image.

1. The deagg button does not function because it needs "BSE" images.

Possible Solutions:

1. Can the "deagg" button use the "pseudoBSE" image create on importing M4 bcf data?
2.  Is there a manual method for separating particles. As seen in the image it is only a pixel or 2 that need to be delet

[2021-06-16 06:35] AHM-amics commented on #61
@knapp-amics let me know if you need more information on this issue.

[2021-06-16 17:21] knapp-amics commented on #54
Duplicate of Core #303, in progressw.

[2021-06-16 17:21] #54 closed

[2021-06-16 18:24] knapp-amics commented on #60
This issue is being addressed at this time. This is covered by a core issue and will be fixed by the beta release

[2021-06-16 18:24] #60 closed

[2021-06-17 07:21] MarkGuo7 commented on #32
@Matt-Power You got it:)
Do you need a switch or not-on-top is good enough?

[2021-06-17 15:43] Matt-Power commented on #32
Is it possible to just have it on top of the instance it is running from? (I.e. it's doesn't get in the way of other apps or instances of amics.) If that is not possible, not on top is good enough for me as long as it doesn't get hidden (there was a build of amics where it would be impossible to get to certain message boxes because they were on underneath others). I realise that others may prefer

[2021-06-17 21:11] ChiLyMan opened #62 "Process an open database in batch process"
![Batching_Error](https://user-images.githubusercontent.com/84643841/122472754-9a866b80-cf86-11eb-8660-d31f9f544c7c.JPG)

Still getting the error trying to run a batch when the database is opened by AMICS.

[2021-06-17 21:13] ChiLyMan opened #63 "Still can not quantify without Espirt installed"
![Quantification_Error](https://user-images.githubusercontent.com/84643841/122472966-d9b4bc80-cf86-11eb-8b2a-a2432b6509b0.JPG)

Still getting the EDS (no ESPIRT) error when trying to quantify. Maybe I need to install an additional ESPIRT demo version on the system?

[2021-06-17 21:14] ChiLyMan opened #64 "Tool tips might be useful"
![Tool_Tips](https://user-images.githubusercontent.com/84643841/122473113-0668d400-cf87-11eb-8724-5ff4c522bd60.JPG)
Float-Over Tool Tips would be helpful.

[2021-06-17 21:15] ChiLyMan opened #65 "Measurement locked out when checking the Key Mineral Analysis"
![BPS_Error](https://user-images.githubusercontent.com/84643841/122473169-17194a00-cf87-11eb-8809-2cda05990a4a.JPG)
When I set up a Bright Phase Search, and click the “Key Mineral Analysis” check box, it locks out all the measurement setting, including the “Key Mineral Analysis”. The only way to regain access to the setting is to select another sample and go back. But then if you uncheck the “Key

[2021-06-17 21:22] ChiLyMan opened #66 "QA/QC Screen - AP035"
# Problem
Automated Minerology needs better quality control.

# Solution
1. Bring back the accuracy value plot and add standard deviation.
2. Add a QA mode vie where by default it shows what classification step was used for each pixel
3. If a user clicks on a material definition or reverence spectra the map will shift to showing the spectral index of each pixel and the grain boundaries of what was

[2021-06-17 22:14] knapp-amics commented on #64
Chi,
To be clear you mean to hover over the @> and abc> to say rwhat they do?

- confidential -
From: ChiLyMan ***@***.***>
Sent: Thursday, June 17, 2021 3:14 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Bruker-Amics/bugs_features] Tool tips might be useful (#64)

**EXTERNAL EMAIL**

[Tool_Tips]<https://user-images.githubusercontent.com/84643841/122473113-06

[2021-06-17 22:15] knapp-amics commented on #63
@Chi Vinh ***@***.***> what do you think about recording the "theoretical" and "measured" valued separately?

- confidential -
From: ChiLyMan ***@***.***>
Sent: Thursday, June 17, 2021 3:14 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Bruker-Amics/bugs_features] Still can not quantify without Espirt installed (#63)

**EXTERNAL EMAIL**

[Quantification_Error]

[2021-06-17 22:26] ChiLyMan commented on #64
Jonathan,

Yes that is correct. Might be helpful for all the other buttons too, but I know that would be A LOT of work.

Chi

From: knapp-amics ***@***.***>
Sent: Thursday, June 17, 2021 5:15 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: ChiLyMan ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Tool tips might be useful (#64)

Chi,
To be clear you mean to hover over

[2021-06-17 22:36] ChiLyMan commented on #63
@knapp-amics Do you mean the ZAF quant versus direct assay/book value?

[2021-06-17 22:56] MarkGuo7 opened #67 "Testing: BSE stability checking on Block samples"
We could check bse stability by field for block mode, so it need drive back to reference position to check.
Need more testing.

[2021-06-18 00:40] MarkGuo7 commented on #32
@Matt-Power Got it, and will do as you suggested. Thanks

[2021-06-18 01:32] MarkGuo7 commented on #32
There it is :)

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/ec7d7347-5284-49b8-b89d-75c47c9c144f)

[2021-06-18 02:04] MarkGuo7 commented on #31
@Matt-Power One more question, Matt, do you notice that the beam offset may relate to the mag?
I will find some machine time to test that, but guess you already know that. Thanks

[2021-06-18 02:10] Matt-Power commented on #31
I'm pretty sure it's related to mag (as well as scan speed) but I haven't done any careful testing / checking. Patrick may know better though.

[2021-06-18 02:11] Matt-Power commented on #32
Yay, thank you!

[2021-06-18 18:52] Matt-Power opened #68 "Ability to Generate Standard from Classified Spectra (Not Just Unknowns)"
Quite often I would like to create a standard from spectra that are already classified (to make a better match or split some similar minerals). I know it is possible to do this in Spectrum Tree (this is time consuming) but it would great to have the option in the right click menu (same as when you click on unknowns).

A warning message (and the option to switch off) e.g. "A standard already exists

[2021-06-21 13:12] MarkGuo7 commented on #48
Confirmed with Van that export to Excel will preserve the colours. Is it good enough?

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/0acb9659-e07b-4332-a994-c179f8302625)

[2021-06-21 16:48] Matt-Power commented on #48
The issue was with Copy/Paste (not export) - if I right click on the table, copy the data and then paste into Excel, the colours become numbers. See image - the colour column becomes a bunch of numbers. It used to work but not in the latest builds.

<img width="734" alt="s7iABBPmqc" src="https://user-images.githubusercontent.com/84986921/122798529-8c319b80-d275-11eb-9d7f-2e15e0bfd302.png">

[2021-06-21 21:55] MarkGuo7 commented on #48
Thanks Matt, I will take a further look.

[2021-06-22 13:23] AHM-amics commented on #68
@Matt-Power Hi Matt. This is possible in the latest version of AMICS. In addition, a standard can be created from a combined group of pixels to give a more robust spectrum.

[2021-06-22 14:20] knapp-amics commented on #62
@van-amics this is something that is a big hindrance in the workflow. Is it possible to overcome this?

[2021-06-22 17:54] Matt-Power opened #69 "Crashing During Batch Calculation Table Export"
When trying to batch export calculation tables, the process gets 4 or 5 samples in and then crashes. I have tried selecting different samples but it doesn't make a difference i.e. it is not a specific measurement that is causing the crash. Log file attached.

[Fail 22-6-21.txt](https://github.com/Bruker-Amics/bugs_features/files/6696419/Fail.22-6-21.txt)

[2021-06-22 18:26] Matt-Power opened #70 "No Column Headings in Run Summary"
There are no column headings in the run summary excel sheet. I think that this only happens when the first measurement is ignored (e.g. because it is already open). Means that if you are tracking changes in specific minerals, you can't tell which is which (or have to guess).

<img width="758" alt="EXCEL_JhzCSFCLM3" src="https://user-images.githubusercontent.com/84986921/122979841-e2bdd900-d34c-11e

[2021-06-22 21:27] Matt-Power opened #71 "Last Line of Run Summary Missed Out"
When running a batch, the data for the last sample is always missed out. Looks like the datasheet is written out while it is still calculating the data. This happens regardless of how long I wait after the process has completed. The correct data are shown in the pop-up progress summary window.

![image](https://user-images.githubusercontent.com/84986921/123001741-e742bb80-d365-11eb-8dd1-691c5801eb

[2021-06-22 21:32] Matt-Power commented on #71
Is it also possible to get rid of the blank rows in the summary? It means that various excel shortcuts can't be used e.g. auto fill / ctrl-shift down etc and have to be removed which is a pain for large datasets.

[2021-06-22 22:18] Matt-Power opened #72 "Image Editing Tools for Clean Up"
It's really useful to be able to get rid of image artefacts by "painting" them out. For instance, getting rid of bubbles, thin section glass and other random debris that can be within and around a sample (and doesn't always have a fixed chemical composition or shape). It is currently really challenging to do, especially on block type samples - particulates are a bit easier.

Is it possible to impl

[2021-06-22 22:38] Matt-Power commented on #71
Just to add to the original issue, standard names containing commas are also missed out. (I think it's the same issue as the Spectrum Tree so if you could change to a semi colon, that would be great, thanks.)

[2021-06-24 01:23] MarkGuo7 commented on #58
Please test with the version 2325, uploaded to GitHub under V3.1.2Beta release.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/5d16173f-9cb2-47ce-8603-36754e2ebfb2)

[2021-06-24 17:51] Matt-Power commented on #32
I've just switched this off (great!) but unfortunately, now when one instance is running a process, I cannot get to a different instance. When I click on the correct instance on taskbar, it defaults to the instance processing. I've tried moving the window (both the progress window and the actual window) to see if I can click on the one underlying but it's not visible. I have also tried ctrl tab an

[2021-06-25 00:40] MarkGuo7 commented on #32
Thanks Matt, I will give it a try.

[2021-06-25 01:34] Matt-Power opened #73 "Process has become really, really slow"
Since including the standards hierarchy, Process is really slow.

Process times have gone from 2 minutes to reclassify to upwards of 10-20 minutes per sample (this is on a fast desktop).
Switching between sample images and the calculations tables takes 2-5 minutes to appear (previously 10-20 seconds).
Just opening a file takes a few minutes.
More than 2 instances of AMICS running and doing somethi

[2021-06-25 01:55] Matt-Power commented on #73
Update: Just tried installing v. 2305 to see if that improves matters but still takes an age.

When opening a file, loading global standards takes a while.
When switching to the calculation tables or charts, it appears to hang calculating the primary data. Just sits there for ages doing something. Ditto with the secondary data.

[2021-06-25 02:13] jonathan-knapp commented on #73
Matt,
Please roll back to the latest version that worked. Van is on vacation and he will address this when he returns and addresses a few things on the BiFROST critical pathway. I think that will need 2 or three days once he returns. Sorry, for the delay, but it is important. My sincere apologies for the slowdown, seems to be a memory leak. Make tome a bit to track down.

-Jonathan

- confidential

[2021-06-29 02:06] Matt-Power opened #74 "Batch table export - defaults back to primary groupings"
After running a batch table export, Process defaults back to the primary mineral grouping list. If doing a series of exports e.g. to get liberation data for a bunch of minerals, the correct mineral grouping list has to be re-selected - taking a lot of time.

After export, the table should default back to whatever it was on before the batch started and with the same settings.

[2021-06-29 02:18] Matt-Power commented on #74
Just to add, the report also defaults back to the modal table so in the above example, that has to be reselected too (and wait for the data to be recalculated). It takes 3 recalculations (each of which takes time) to get back to where I was before running the batch: 1 when I switch to the Mineral Grouping, 1 when I select the calculation table that  I was working on, and 1 to change the mineral.

[2021-07-01 14:32] ChiLyMan opened #75 "Allow Batch Calculation to export multiple outputs"
Notice that the current Batch Calculation option on my version exports one output (e.g. Modal, Liberation, Assay etc) from multiple samples, which is handy. But in case no one had mentioned it might be useful to be able to select different outputs from multiple samples.

But this might be something you guys are looking at including into an Auto-Reporting function.

[2021-07-01 14:48] ChiLyMan opened #76 "Mineral Area% Rename"
Not sure if someone else has mentioned this, but I remember that all the versions I've tried the Mineral Area % in Property on the Sample Images does not change when I do clean ups of images, or even delete particles. Though it is good to have a record of the original species distribution, it can sometimes help to know how clean up and particle deletions affect the bulk distribution without skippi

[2021-07-01 15:16] ChiLyMan opened #77 "Mineral accuracy plot stops at ~19-20 fields"
I just noticed that the Mineral accuracy plot does not plot past 29-20 fields.

![image](https://user-images.githubusercontent.com/84643841/124148549-5b135100-da55-11eb-82e0-c6353a7fb632.png)

[2021-07-09 01:23] MarkGuo7 commented on #48
We need to find the version that worked before, but couldn't.

[2021-07-09 01:24] MarkGuo7 commented on #48
We may need to figure out another way to make it work somehow.

[2021-07-09 01:49] MarkGuo7 opened #78 "Collect standards by multi-xray collection"
Requested by Matt Ng to collect standards by multi times xray collection.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/c4f6aeee-edab-4f2a-9b9e-dfc88579b0fd)

[2021-07-15 22:02] Matt-Power opened #79 "Mineral Grouping Locked Out"
It is not possible to edit a mineral grouping if it is in use in any of the tabbed sheets, not just the current sheet. You often have to hunt out which sheet is using the list which is time consuming.

For instance, if a mineral grouping is used in the Calculation Tables, Calculation Charts and the Sample Images, you have to click each tab, select a different grouping (or the primary) before you c

[2021-07-15 22:21] Matt-Power opened #80 "Massive Memory Use When Calculating Primary / Secondary Data"
AMICS Process appears to consume a vast amount of memory when calculating the primary / secondary data (e.g. when switching from the sample images to the calculation tables tab). It usually happens if more than one instance is open. The calculations appear to stall (stuck on 0% progress) but it eventually finishes and releases the memory (can be well over a minute waiting and most other windows pr

[2021-07-21 04:11] ChiLyMan opened #81 "Missing fields???"
So after running the same sample three times, in one of the runs this section of the sample was skipped for EDS analysis. BSE image was collected, but no x-rays. Attached are false color images and BSE image, and I'll also attached the analytical conditions for the analysis.
![Missing Fields (Conditions)](https://user-images.githubusercontent.com/84643841/126429658-0673b19e-0f22-4ce1-bb43-34e37d70

[2021-07-21 18:28] ChiLyMan commented on #81
Just an update on this. Saw it again today on one sample. Looks like occurs in one field, and Nigel and I saw something like this when we were messing around with the Grey Level Factor, where the segmentation seemed not to be correct on lower section of field. And this unsegmented portion could change with changing Grey Level Factor, and then fixed itself.
For reference BSE, mineral and run condit

[2021-07-22 15:42] ChiLyMan commented on #81
@MarkGuo7 Here is an interesting example of the missing fields issues I noticed today. In this case we are seeing two fields which have been affected, and the cut off seems to be at the same horizontal level between the fields. But what is more interesting, in the right hand field you will notice that the large particle is partially segmented, but then bottom half has not been included in for x-ra

[2021-07-22 19:45] ChiLyMan opened #82 "Missing X-rays???"
@MarkGuo7 I know you guys are looking for things to do so here is another interesting "feature" we've seen here.

This time the BSE is being collected, and the segmentation seems to have been done correctly, but this time some of the segments have not been x-rayed. If you look at the colored mineral map, those large grey areas near the lower half are all unknowns, but are unknown because no x-ray

[2021-07-22 22:47] MarkGuo7 commented on #82
Sorry Chi, never saw this issue before. We will collect all xrays generated from segmentation.
May I have this result? I can take a closer look. Thanks

[2021-07-23 01:13] MarkGuo7 commented on #81
Hi Chi, may I know which version you are using?
I fixed an issue related to this missing segments sometime in April?

[2021-07-23 03:13] ChiLyMan commented on #81
Hey Mark,

I’ll let Nigel and Jonathan let you know the version but it looks like they didn’t update the software so I will just blame them 😁

Chi

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mark Guo ***@***.***>
Sent: Thursday, July 22, 2021 7:13:37 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: ChiLyMan ***@***.***>; Author ***@***.***>
Subject: Re: [Br

[2021-07-24 19:21] ChiLyMan commented on #82
Hey Mark,

Sorry didn’t answer this question, but yes can send you the data for this sample once I get back home tonight.

Chi

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mark Guo ***@***.***>
Sent: Thursday, July 22, 2021 5:47:12 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: ChiLyMan ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_feat

[2021-07-26 15:25] ChiLyMan commented on #82
Morning/Evening Mark,

Please find the zipped up datafile for that sample with no x-rays. Let me or Nigel know if you need more data, as this is the only file I have, Nigel will need to get you any info from the machine.

[Ma5002_3842_Run_1.zip](https://github.com/Bruker-Amics/bugs_features/files/6879378/Ma5002_3842_Run_1.zip)

[2021-07-27 14:42] jonathan-knapp commented on #80
@van-amics did you see this?

[2021-07-27 14:42] #81 closed, assigned to nobody

[2021-07-29 00:40] ChiLyMan opened #83 "Failing to open database"
I'm having trouble opening a data base I recently got from Nigel who is rerunning the samples for me.

I know Nigel recently updated to latest version of the software so that might be the issue. I'm still running  v3.1.1.2305.

I tried to upload the data file here but github would not accept the zip file for some reason.

In case you need an example of the database I've included a link below:-
htt

[2021-07-29 00:42] jonathan-knapp commented on #83
Select "Releases" to the right
***@***.***

- confidential -
From: ChiLyMan ***@***.***>
Sent: Wednesday, July 28, 2021 6:40 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Bruker-Amics/bugs_features] Failing to open database (#83)

**EXTERNAL EMAIL**

I'm having trouble opening a data base I recently got from Nigel who is rerunning the samples for me.

I know

[2021-07-29 00:54] ChiLyMan commented on #83
Sorry If I am blind, I can not find "Releases: anywhere. Is it in a submenu?

![image](https://user-images.githubusercontent.com/84643841/127414892-bcc6cafd-70f6-4c51-b529-6082dccce9e9.png)
![image](https://user-images.githubusercontent.com/84643841/127414913-ef09c2f7-1ea4-47ca-a11b-962f1ed19fc6.png)

[2021-07-29 01:12] ChiLyMan commented on #83
never mind, Nigel version to me, testing it now.

[2021-07-29 01:14] ChiLyMan commented on #83
Fixed with new version!

[2021-07-29 01:14] #83 closed, assigned to nobody

[2021-07-29 16:29] jonathan-knapp commented on #75
I have added this to the product backlog for the next release.

[2021-07-29 16:31] jonathan-knapp commented on #72
This is a good idea. I will add this to the product backlog for the next release

[2021-07-29 16:33] #68 closed

[2021-07-29 17:23] #29 closed

[2021-07-29 17:23] #20 closed

[2021-07-29 17:23] #7 closed

[2021-07-29 17:23] #14 closed

[2021-07-29 17:23] #17 closed

[2021-07-29 19:43] jonathan-knapp commented on #16
@MarkGuo7 for clarification... when we say three-phase mixes we mean combining three spectra into a single spectrum.  Has this been done? Nigel provided the chart...

I went to look for that but found not find it.

[2021-07-29 22:56] MarkGuo7 commented on #16
Nope, no time to do it yet.

[2021-07-29 22:59] jonathan-knapp commented on #16
Ah, ok. It was in the "Done" workflow. Let's move it to the backlog and try to do it when we have time for the beta. It's important to the M4 users. This was very high on the list from Andrew Menzies. I think that the most quick and dirty will be ok to start. See how it works...
________________________________
From: Mark Guo ***@***.***>
Sent: Thursday, July 29, 2021 4:57:08 PM
To: Bruker-Amics/b

[2021-07-30 06:51] MarkGuo7 opened #84 "Include email sender source code into source code control"
And update the installer

[2021-07-30 14:05] ChiLyMan opened #85 "Improved analysis speed by splitting out post process?"
I was wondering if anyone has tested to see if there are any significant decrease in analytical time by not doing any spectra matching during the data acquisitions? So during acquisition only BSE collection, Segmentation and X-Ray collection is done. The data is then save, and material characterization can then then done offline.

Just wondering if this would make any significant increase in sampl

[2021-08-03 22:00] ChiLyMan commented on #82
@MarkGuo7
Here is another example of the missing x-rays. Looks like it has affected the whole field this time. Settings are the same as the other data sets. I've included the data set for the same for you. Again if you need any additional data from this data Nigel can get it from the machine.

Note I believe Nigel has updated the software on the system to 3.1.1.2444. I believe some of the examples

[2021-08-03 22:43] ChiLyMan opened #86 "Greyed out Reclassify and Cleanup (intermittent fault)"
Just notice while reviewing samples that ability to Reclassify and Cleanup get greyed out. Closing and reopening the sample didn't fix the issue. Only shutting down and restarting process brought these options back online.

Only difference from last batch of samples is I changed the dictionary in the previous sample. And when opening this sample the warning about dictionary not matching comes up.

[2021-08-03 23:14] bernie1034 commented on #82
Correct - the measurements with the issue first occurring were from an earlier version (v2084? Will have to check). All measurements were re-run using v2444. Check the version in the measurement log, to double-check.

[2021-08-03 23:19] bernie1034 commented on #82
I just opened that measurement on my machine, and it seems this field is ok - there are X-rays collected:

![image](https://user-images.githubusercontent.com/84200879/128098289-f1b3cd82-2f34-418b-98e0-85f6a2147467.png)

[2021-08-03 23:20] jonathan-knapp commented on #57
@van-amics let's break this into several work items. We can dothe "view" of the text version this release and than move the rest to the release related to standards (2.4)

[2021-08-03 23:22] jonathan-knapp commented on #69
Is this still happening?

[2021-08-03 23:26] jonathan-knapp commented on #77
This feature is not ready for production. We need to work more on that. Chi, let's discuss how to make this better at AAPG.

[2021-08-03 23:36] jonathan-knapp commented on #41
Need to test

[2021-08-03 23:38] jonathan-knapp commented on #36
Place the optical (video) as secondary. Similar to the CL. The psudoBSE should be automatic and always the same as the BSE.

[2021-08-03 23:39] #25 closed

[2021-08-04 00:03] ChiLyMan commented on #82
OK let me try again.

[2021-08-04 00:06] ChiLyMan commented on #82
Hahaha...now when I click on the x-ray spot process just crashes. I tried reclassifying the dataset, and that didn't fix the greyed out field and clicking the x-ray spot still crashes process. I'll fiddle some more and give you feedback....

[2021-08-04 00:19] ChiLyMan commented on #82
@bernie1034  Not sure how you got it to read the x-ray but this is what I've tried:-
* Reclassify the dataset
* Open original one Nigel set me before any processing.
* Downloaded the one I uploaded (notice the MRE file was missing so just used the .cache version)
* Updated my software to v3.1.1.2495

And in all cases when I load the processed, reprocessed, unprocessed, uploaded version, 1) that ar

[2021-08-04 00:55] MarkGuo7 commented on #82
@ChiLyMan Hi Chi, thanks for these reporting.
For some reason, the xray data didn't save properly. The issue field id is no.6, and you can see the size of its xray file is 0.

![image](https://user-images.githubusercontent.com/84481724/128104492-bc74b45c-3c7b-4802-b2f4-37bab50c3b38.png)

From the Investigator log, seems the saving is normal.

![image](https://user-images.githubusercontent.com/8448

[2021-08-04 00:57] MarkGuo7 commented on #82
@ChiLyMan Let me know if you want to have a meeting. :)

[2021-08-04 02:59] ChiLyMan commented on #82
@MarkGuo7 Morning Mark. No need if you've figured out it a file issue. Need to ask Nigel to check the original file on his end to see if the file on the instrument PC contains the x-ray data. Then it becomes a stupid Windows playing funny bugger with us issue.

[2021-08-04 16:55] Matt-Power opened #87 "Cancel / Break Out of Batch Files"
If I run a batch calculation and there is an error (e.g. the measurement does not have the requested mineral list), the batch cycles through all selected measurements generating the same error. There is no way to break out of the loop. If hundreds of samples are selected, it's really time consuming (way better to kill the instance of Process).
I've tried to get to the underlying cancel button on t

[2021-08-04 22:15] Matt-Power opened #88 "Hang-up on Editing Common Standards Groupings"
If I edit the Groupings from the tab in the Common Standards manager (i.e. not in Current Minerals Groupings), Process hangs when I hit OK after I have made the edits in the Mineral Standards Group window.

Not checked extent of behaviour but it happens when I create new standards but have not reprocessed the data.

Killing Process and re-opening the files shows that the edits have been made thoug

[2021-08-05 02:17] MarkGuo7 opened #89 "Update Mineral Standard Property both from result and common standards"
If change the name of common standards, the current result mineral will change as well.

[2021-08-05 14:41] ChiLyMan opened #90 "Reporting Zero and undetected"
Just a suggestion, when doing the batch export of mineral data I notice that minerals with zero wt% and area% could either be not detected (i.e. zero grains) or some lower reporting limit (i.e. 1 or two grains).

Some suggestions:-
1) If it is possible to set the reporting detection limit (i.e. setting decimal points to export) and/or
2) Differentiate between "below reporting detection limit" and

[2021-08-05 16:27] Matt-Power commented on #90
Just to chime in, I agree with Chi but having flexibility is important so can we have user-set designations in the options menu please?

For instance, when exporting data to spreadsheets, the "-" or any text value hiding in the data causes a bunch of errors in calculations and is a pain to weed out, especially with dozens of tabs of data (this is actually a daily issue for me). In other cases I ha

[2021-08-05 16:45] ChiLyMan commented on #90
Good point Matt,

Though I've not encounter this for the AMCIS data, I do know we need to adjust elastic data to -9999.99 to align with wireline log readers.

You would think we could have a global standard for "zero" !

[2021-08-05 16:48] jonathan-knapp commented on #90
@van-amics can we add a user-defined value to use for each type?

[2021-08-05 18:28] ChiLyMan commented on #90
@van-amics That might be the easiest way to do it. User can choose between "-" or "ND" or "0". Same they could choose "0" or "DL" Or "BL" etc etc.

In most cases for labs this will be fixed to fit into their nomenclature, but poor consultant need to adapt to client, but usually I just run a script to find/replace data for me anyway.

Quick question, is the number of decimal points reported already

[2021-08-05 18:42] Matt-Power commented on #90
@ChiLyMan - I think that I can answer that one:
![image](https://user-images.githubusercontent.com/84986921/128403869-a91aeec1-07b1-4651-b458-a1ba1574ef8f.png)

It's under Extras>More Options

[2021-08-05 18:44] ChiLyMan commented on #90
Gracias

[2021-08-05 20:12] ChiLyMan commented on #82
Just so we have it documented here, Nigel and I think the issue is not a writing issue of AMICS, because the  xray file on the system was ok. But seems to be an access/copy issue from windows. I believe NIgel is going to do some more testing because the original example I posted, the x-ray file I copied is only partial, which is why half the field has no quantification (and also Process does not c

[2021-08-06 20:16] Matt-Power opened #91 "Virtual Standards"
Can we have the ability to create virtual standards please? This would be a massive help in processing using the spectrum tree. Pulling out solid solution detail or separating phases is incredibly tricky and time consuming given that new standards often have to be created and these change the data, therefore the spectrum tree also changes etc etc.

These would be "standards" to which you can assig

[2021-08-06 21:07] jonathan-knapp commented on #91
Matt,
The concept of separating the "Material Definitions" from the "Spectral Reference" is in the near-term road map. We will address this directly after we address project management. What you describe will just be the normal way standards operate with either a spectrum tree step or a spectral reference pointing to a definition.

-Jonathan

- confidential -
From: Matt-Power ***@***.***>
Sent: Fr

[2021-08-06 21:23] Matt-Power commented on #91
OK, thanks. As long as we can create the definitions ad-hoc from the spectrum tree (or wherever) and they are essentially empty containers not used during the spectral matching but filled afterwards, that should work and allow the list used for direct spectral matching to be slimmed down a lot.

[2021-08-11 23:17] #82 closed, assigned to nobody

[2021-08-12 00:33] #77 closed, assigned to nobody

[2021-08-12 03:47] Sperrylite-MattNg opened #92 "“Image Calibration GUI” in AMICS Investigator to read a live image from the Hitachi SEM"
“Image Calibration GUI” in Investigator to read a live image from the Hitachi SEM for:
1.	Filament saturation and Filament  alignments
a.	Control SEM Brightness, Contrast (possibly also gain) from GUI

2.	Image calibration purposes (setting gold standard pin to 250 and resin to 15 BSE)
a.	Line Scan function on a live image
b.	Video scope function on a live image

3.	Testing measurement set up  par

[2021-08-12 16:53] Matt-Power opened #93 "Option for Brightness and Contrast to be Assigned per Measurement"
We really need to have the option to read the B&C into a specific measurement at set-up (but default = as set on instrument at start).
I regularly have a mixed bag of samples in the holder, some with bright phases (galena, sphalerite, gold etc) and some with just oxides / gangue. It's really tricky to pick a B&C range that gives me enough contrast at the bright end but still gives a decent image a

[2021-08-12 23:21] ghost commented on #93
@knapp-amics This would also be useful for us.

[2021-08-13 00:20] jonathan-knapp commented on #93
We have already made the request to have this API opened up to us and it is in the process. As soon as these API settings are available directly from the instrument manufacturer we will implement this. For stability and speed reasons these settings must come directly from the manufacturer and not be set through Esprit.
________________________________
From: Sperrylite-MattNg ***@***.***>
Sent: Thu

[2021-08-17 00:04] #80 closed, assigned to nobody

[2021-08-17 19:59] #89 closed, assigned to MarkGuo7

[2021-08-17 20:31] #12 closed

[2021-08-17 20:31] #8 closed

[2021-08-17 20:49] #71 closed

[2021-08-17 20:49] #70 closed

[2021-08-17 21:00] #31 closed

[2021-08-17 21:05] #16 closed

[2021-08-17 21:05] #15 closed

[2021-08-17 21:22] #58 closed

[2021-08-17 21:29] #46 closed

[2021-08-18 00:58] Matt-Power commented on #88
Just tried this with v.2556 and it crashes (rather than just hangs).

[2021-08-18 20:08] Matt-Power opened #94 "Long Delay When Switching Tabs"
When switching between some tabs (e.g. from Sample Images to Calculation Tables), there is often a really long delay (several minutes) where Process appears to have hung. The progress window opens to calculate the primary but then just sits there. It eventually kicks after a few minutes. Switching between the tabs after that seems OK.

It doesn't happen all the time and is not sample-dependent. Cu

[2021-08-18 20:18] bernie1034 commented on #94
@Matt-Power   What is your file size (number of fields, approx size of the measurement folder)? I'm testing that version out right now and it's behaving normally - slight delay on switching to the Calculation Tab, but not awful. I'm testing on a file with 199 fields, and total measurement folder size of ~310Mb.

[2021-08-18 21:02] Matt-Power commented on #94
These ones are pretty big (143 fields and 1.5Gb - it's a block measurement) but it is really patchy - sometimes it will work OK (10-20 seconds) but then other times, it seems to get stuck (always at the same point i.e. after the progress window has opened but before anything shows on the bar). It happens fairly regularly but not consistently - it can sit there on one sample but e.g. after a reclas

[2021-08-18 21:46] Matt-Power opened #95 "Black Field Boundaries With BSE Adjuster"
Just been trying the BSE adjuster - very nice, thanks! However, it generates a bunch of black lines across the image on stitched samples (see below). Any way to get rid of these without re-stitching?

![image](https://user-images.githubusercontent.com/84986921/129976383-138af8d9-6977-41bd-976c-f243381c2c30.png)

[2021-08-19 17:46] Matt-Power opened #96 "Spectra Do Not Update When Selected With Cursor Keys"
When cycling through the standards list using the keyboard in either the common standards or current mineral groupings tabs, the spectra do not change. It appears that there is no way to use the keyboard in this list as hitting enter, space bar, tab etc does nothing.  They only change with a mouse click.

Need keyboard functionality for backup (e.g. when mouse battery dies), accessibility for peop

[2021-08-19 18:00] Matt-Power opened #97 "No Multi-select in Batch Sample Picker"
Please add multi-select to the measurement picker in the batch processes. Manually selecting blocks of samples from a much larger project (e.g. a subset of 50 from a 200+ sample) is time consuming when you have to do individually.

[2021-08-19 18:15] Matt-Power opened #98 "No Cancel on Batch Calculation"
There is no ability to terminate the batch calculation process - really need to have a kill button.

For instance, I've just set off a batch calculation for 200+ samples (inadvertently) but it is throwing an error (data not compatible with columns for some reason) and rather than click through the error boxes, the only way to terminate is to kill Process.

Interestingly, killing Process doesn't en

[2021-08-19 19:40] Matt-Power opened #99 "Mineral Order in Batch Export"
Really like the ability to export the data grouped into separate tabs for area %, wt % etc, thank you.

However, the minerals are now in alphabetical order, not as set in AMICS. The order from Process should be retained by default and only changed as an option (i.e. a drop down with the option to order as in Process (default), alphabetically, by mineral abundance etc would be ideal).

I spend a lo

[2021-08-20 00:19] GGloy commented on #99
Hi Matt,  please try build 2606.  Should be fixed in this one (according to my tests work)

[2021-08-20 00:52] Matt-Power commented on #99
Perfect, thanks!

[2021-08-20 00:52] #99 closed, assigned to nobody

[2021-08-20 04:18] Matt-Power opened #100 "Flat-Field Correction"
I'm sure this is on the list already but correction of uneven brightness across each frame would be really, really useful, especially when running at low-ish magnification and a larger aperture (great for beam current but produces horrible vignetting and / or brightness gradients). BSE adjustment has been applied to the example below but the gradation across the image is really severe.

![image](h

[2021-08-20 13:02] jonathan-knapp commented on #100
We have a plan to revisit image tools, particularly image stich and blend, later. We need to do some real R&D to make sure we get this right. It's more than just a tweak.

I think that the best approach may be a separate utility that allows for image adjustment, stich, stack, etc. as a plug-in.

So, I am working in that. I'll close this issue because it is a duplicate of a whole set that are plann

[2021-08-23 18:50] jonathan-knapp opened #101 "Default-on for set voltage and current box"
![image.png](https://images.zenhubusercontent.com/60a274843870252752494569/da9d6cf1-eeaa-4f59-969c-3b0aa3987cc9)

[2021-08-23 18:51] jonathan-knapp opened #102 "Default off for autofocus"
![image.png](https://images.zenhubusercontent.com/60a274843870252752494569/c0fc2ce5-4b82-41e0-91b5-2187ab8cbb09)

Autofocus is a trap. It is rarely working. Always set to off by default.

[2021-08-24 16:18] #91 closed, assigned to nobody

[2021-08-24 20:49] jonathan-knapp commented on #36
The optical or video is NOT in the secondary image. See bug

[2021-08-24 20:50] #59 closed

[2021-08-24 20:54] jonathan-knapp commented on #32
If this has a bug please add as a bug. the feature is present and I will close

[2021-08-24 20:55] #32 closed

[2021-08-25 04:35] MarkGuo7 opened #103 "Image Stitching issue of big result @ Rio"
Hi Mark and Gerda,

Attached are some screenshots and the Process log file from trying to stitch the measurement.
It seemed fine on the lower half of the measurement but the top half did not stitch well.

Kind regards,
Scarlett

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/2ca1fd42-d3d1-44f2-935c-743a81374eac)

[2021-08-25 04:36] MarkGuo7 commented on #103
This is a high resolution BSE only result running 8 days :)

[2021-08-25 17:39] Matt-Power opened #104 "Ability to Pause Batch Process"
The ability to pause a batch process would be really handy. The system resources get really bogged down even with lots of memory and CPU cores so being able to pause while doing other work and then resume afterwards would be very helpful.

[2021-08-25 17:48] Matt-Power opened #105 "Process Missing Frames During Batch"
Batch reclassification regularly misses frames:
![image](https://user-images.githubusercontent.com/84986921/130839308-2bec3f66-35f1-45b2-bd96-cd87f48374ab.png)

Out of the 8 files here, only 2 actually fully processed.

Result is the missing frames are all classed as unknowns:
![image](https://user-images.githubusercontent.com/84986921/130839391-1b8a38b6-73c0-45f2-8d32-380e8ac1bd80.png)

Suspect i

[2021-08-26 13:19] jonathan-knapp commented on #102
Nevermind... don't do this.

[2021-08-26 13:19] #102 closed, assigned to nobody

[2021-08-26 13:22] jonathan-knapp commented on #95
I want to be able to demonstrate this feature, and this is not great. It will come up every time. Must fix.

[2021-08-26 13:28] jonathan-knapp commented on #79
@van-amics can you tell us if this is a fix we can do for 3.2 or if it is extensive and needs to be put off to 3.3. Matt, FYI, the 3.3 will not be too far off.

[2021-08-26 13:31] jonathan-knapp commented on #69
Superseded by new batch calculations.

[2021-08-26 13:39] #103 closed, assigned to MarkGuo7

[2021-08-26 20:48] Matt-Power opened #106 "Crash on Sync Ore Type Entries"
If I compare result file with an ore type, show difference and then sync the differences, Process crashes out.

[2021-08-26 22:57] van-amics commented on #105
The detailed errors probably in the log file. Please have a look at the log file to see what may cause the frame skipping.

[2021-08-27 03:30] MarkGuo7 commented on #88
@Matt-Power Is it still there? Could you show me when you have time? Thanks

[2021-08-27 21:57] Matt-Power commented on #88
Yes, although it seems to crash rather than hang now. I'm free anytime next week from Tuesday morning your time. About 4-6 pm PST is best for me but I'm flexible.

[2021-08-30 06:57] AHM-amics opened #107 "M4 Investigator - Control Tick Box For kV and uA"
The control tick box is needs to be activated to change the kV and uA values. If it is not activated a measurement will not change values to those selected. This may be important if a user has used the M4 software and changed the startup kV and uA values.
Two issues: what is the expected workflow? and what is the software command workflow?

[2021-08-30 07:00] AHM-amics opened #108 "M4 Investigator - Saved bcf location"
The saved bcf file and mre are saved where the ivst file is saved independent of any other choices such as in “options”.

[2021-08-30 07:01] AHM-amics opened #109 "M4 Investigator - no option to choose "ore type""
Where do I choose the “ore type”. This is not clear. When the .mre is opened it is always blank and needs to be reclassified.  Is this because the "save bcf" option is activated?
If so, could there not be a "oretype" option so that when opening it automatically does the reclassification as well?

[2021-08-30 07:02] AHM-amics opened #110 "M4 Investigator - Start Button (x2)"
There are two start buttons. The start button on the main toolbar is often greyed out. This is especially so if I do a measurement and then add a new measurement the start button is greyed out and I need to use the button on the right.

[2021-08-30 07:03] AHM-amics opened #111 "M4 Investigator - Measurement Order"
There are no arrows to move the measurement order up or down once created.

[2021-08-30 07:04] AHM-amics opened #112 "M4 Investigator - Block Holder "Z" Values"
Does the block holder design incorporate a “z” value. This would be useful for a M4 as a fixed block would be of a specific height and the optical focal point is always fixed and does not change like on an SEM.

[2021-08-30 07:06] AHM-amics opened #113 "M4 Investigator - GUI Labels"
The “WD” concept is not correct M4 and should be labelled differently, i.e. Z stage height.

This is a generic issue throughout the software where everything is expressed from a SEM point of view. Many labels/buttons/information is thus incorrectly expressed when using the software on a M4 (or microXRF system)

[2021-08-30 07:07] AHM-amics opened #114 "M4 Investigator - Location Save Button does not work"
The “location save” button information does not work.

[2021-08-30 07:11] AHM-amics opened #115 "M4 Investigator - WD value entered manually"
Can not enter a “WD” (Z Stage height) value manually, it must always be measured or obtained from the system.

[2021-08-30 07:12] AHM-amics opened #116 "M4 Investigator - Number of Detectors selected limited to 1"
Currently can only have 1 detector selected. When two detectors are selected in options, the measurement does not start, and the software waits indefinitely and the M4 software is frozen.

[2021-08-30 07:13] AHM-amics opened #117 "M4 Investigator - M4 system stabilisation"
The control for the kV and uA current needs to wait longer to stabilize. For example, when changing from 100uA to 200uA it starts the measurement at some value different to 200uA, for example 185 uA, that is, the M4 system hasnt yet stabilized from the changing values.

[2021-08-30 07:15] AHM-amics opened #118 "M4 Investoigator - Time Left Calculation is wrong"
The Time left calculation is wrong. Especially if the system needs to change the kV and or uA values. The calculation should be from when the Xray collection starts and not from when the start button is pushed and the kV and uA values need to change or to open the m4 software. This often leads to an extremely long calculated measurement time, and therefore is only close to reality after a period t

[2021-08-30 07:16] AHM-amics opened #119 "M4 Investigator - "Switch" Button not working"
Uncertain as to what the “switch” option does. If it is to deactivate a measurement, it does not work.

[2021-08-30 07:17] AHM-amics opened #120 "BUG-MINOR_AMICS_M4 INVESTIGAOR_MEASUREMENT:System Hangs when changing kV values"
Sometimes when changing the kV and uA the system hangs, that is it doesn’t reach the correct conditions and times out or stops working. After which a hard software reset is required.

[2021-08-30 08:50] AHM-amics opened #121 "M4 Process - Batch bcf Import"
It would be usefull to be able to import more than 1 bcf  file at a time. A batch import would be ideal.

[2021-08-30 14:38] jonathan-knapp commented on #121
Good idea. Will add to backlog for 3,3 release.

[2021-08-30 14:40] jonathan-knapp commented on #118
This is a duplicate of longstanding issue #9 in bugs_features. Closed due to duplication.

[2021-08-30 14:41] #118 closed, assigned to nobody

[2021-08-30 14:41] jonathan-knapp commented on #9
The Time left calculation is wrong. Especially if the system needs to change the kV and or uA values. The calculation should be from when the Xray collection starts and not from when the start button is pushed and the kV and uA values need to change or to open the m4 software. This often leads to an extremely long calculated measurement time, and therefore is only close to reality after a period t

[2021-08-30 14:44] jonathan-knapp commented on #113
This is a duplicate of Core #394 that is in the testing workflow.

[2021-08-30 14:44] #113 closed, assigned to nobody

[2021-08-30 14:45] knapp-amics commented on #112
Good idea, added to the backlog

[2021-08-30 14:46] knapp-amics commented on #111
Good dead to add for the future. At this time, you can sort.

[2021-08-30 14:47] jonathan-knapp commented on #110
THis is a duplicate of Core#389 listed as done and ready for testing in the next build. Will be closed.

[2021-08-30 14:47] #110 closed, assigned to nobody

[2021-08-30 14:49] jonathan-knapp commented on #109
Andrew,
Because of the way that we collect data with M4 no ore type is used in the M4 investigator. The conversion happens when you open in process, so with M4 you will always have to do a reclassification. Perhaps we can consider doing the reclassification in the import window automatically in 3,3. This will be closed.

[2021-08-30 14:49] #109 closed, assigned to nobody

[2021-08-30 14:50] jonathan-knapp commented on #108
This is an issue with the M4 software, not AMICS. We will be changing this in AMICS 3.3 to have a project structure. At this time we will not be changing this. This item will be closed, as the changes planned for 3.3. We will not change for 3.2.

[2021-08-30 14:50] #108 closed, assigned to nobody

[2021-08-30 14:56] knapp-amics commented on #107
@MarkGuo7 I am unsure what happened to the already logged issue for this, but we need a fix. If a voltage and current are set, then we need to send that to the M4. This setup is confusing and needs to be addressed. Default is on and I don't think this is needed.

[2021-08-30 15:01] jonathan-knapp commented on #106
This is a duplicate of Core #341 that is listed as "in progress" and will be closed. This will be fixed before 3.2 release and included in the next Beta

[2021-08-30 15:01] #106 closed, assigned to nobody

[2021-08-30 22:28] BGHTC opened #122 "Illegible fonts in Process"
On my primary monitor and 24" peripheral monitor, I can't read some of the fonts due to sizing in 3.2.0.3 Process![Tiny fonts_Process.JPG](https://images.zenhubusercontent.com/60a9a80fd2c5ea7e18753cf3/77dad397-9715-4b27-8738-cf90d9a246a6)

[2021-08-31 02:01] MarkGuo7 commented on #88
@Matt-Power Please let me know when your connection is ready. I am flexible as well, except Monday night, Tuesday night and Thursday night :)

[2021-08-31 17:11] Matt-Power opened #123 "BSE Adjuster No Minerals in Field"
I am trying to adjust some mapping measurements but I get the following error:

![image](https://user-images.githubusercontent.com/84986921/131545474-572bfa4f-833d-494c-bbdf-44f9c8d0350b.png)

Trouble is that the sample is >80% Dolomite_1 so very abundant in every field:

![image](https://user-images.githubusercontent.com/84986921/131545899-43d5faa2-e0f0-47c4-957a-3e5ba51501bd.png)

This seems to

[2021-08-31 17:20] Matt-Power opened #124 "Grain Panel Properties Not Visible"
In the grain panel, the properties do not show until you move your mouse over either the "Failed" image or one of the selected grains in the "Passed" panel. Really noticeable in mapped measurements but also a bug in segmented ones too.

[2021-09-01 02:42] GGloy opened #125 "Bug - cant delete an oretype"
In version 3.2.0.3 when selecting to remove an oretype get "unspecified error"

![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/1ea05180-7b5b-4593-b046-e702cf20385c)

[2021-09-01 02:45] GGloy opened #126 "Crash when syncing ore types"
In version 3.2.0.3 when selecting to "sync" an Ore type Process  will crash.

[2021-09-01 08:31] AHM-amics commented on #125
Hi All (Gerda),
Yes. I have had this issue. This error occurs in AMICS Standard Manager. However, the Ore Type can be deleted from within AMICS Process. There are also potential differences between the functionality of AMICS Standard Manager and controlling the Standards from within AMICS Process.

[2021-09-01 08:34] AHM-amics opened #127 "When "mixing" minerals and three minerals are selected - 2x2 does not work - 2598"
When "mixing" minerals and three minerals are selected - 2x2 does not work.

That is, the option to do only 2x2 mixing does not work - nothing happens. It is possible to do the 3x3 mixing (which then also includes the 2x2 output). However there is a popup box asking if you want 3x3 or 2x2 and the 2x2 does not work.

Note 2x2 mixing works when more than 3 minerals are selected.

[2021-09-01 08:38] AHM-amics opened #128 "Mixing generates incorrect mix spectra output"
I am not sure of the seriousness of this issue.

However, in using a simple system of olivine, fayalite and forsterite endmembers, the AMICS mixing does not generate the correct mixes.

It overestimates the Si and Mg, so that in the final mixes a Fo80 olivine becomes Fo20 or 30 in the mixes. I have the synthetically created spectra for the range of Fayalite to Forsterite and they do NOT match when

[2021-09-01 19:34] jonathan-knapp opened #129 "Not running all measurements in M4 3.2.0.3"
When "start" is pressed it only runs the measurement selected, not all measurements with the "switch" on.

[2021-09-01 20:09] bernie1034 commented on #125
I can delete Ore types from v3.2.0.3. I do this within Process (I thought Mineral Standard Manager had been retired and with functionality transferred to Process?).

[2021-09-01 20:18] Matt-Power opened #130 "Density in Modal Mineralogy Calculation Table"
I really need a simplified way of getting the average rock density for each sample. I know that I have requested this is various forms but this is really important for our workflows.

If you can add a density column to the modal mineralogy calculation table, I can then calculate the overall rock density (and please make sure that this is included batch export process along with area, wt% etc etc).

[2021-09-03 04:28] Matt-Power opened #131 "Calculation Batch Export Only 2 Decimal Places"
When running a batch export, the data are exported at 2 decimal places even though I have set the default to 5 d.p. (to avoid data loss, rounding errors and also see detail in the trace phases).

Please change so that the number of decimal places in the export matches the default selected in the options.

[2021-09-03 05:54] Matt-Power opened #132 "Calculation Table Appears Then Disappears"
OK, I thought that taking a video would show this better than I can describe - link sent direct to you. I overlaid the resource monitor so you can see how much memory it is using (basically all 32Gb of it)

When I open up a file to extract simple modal data, the table loads (takes a while) but then instantly disappears and Process starts to use massive amounts of memory (in the video the AMICS win

[2021-09-03 06:11] Matt-Power opened #133 "Wrong Mineral Legend When Extracted From Calculation Tab"
If you export a mineral legend when the calculation table tab is active, the legend extracted is the Primary Mineral Grouping, even if the correct mineral grouping is selected in both the sample images tab and the calculation table tab. If you switch back to the sample images tab (which often means a long wait), the correct mineral legend will be extracted.

[2021-09-05 23:59] MarkGuo7 opened #134 "Key mineral trigger cost lots of time"
It slow down one measurement from 31s to 9m. Need fix it asap because Gerda need to run samples for Newcrest.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/0fb8aa74-ac5f-4505-8931-b9c3333d423c)

[2021-09-07 06:43] AHM-amics opened #135 "Mixing Spectra Calculation is Incorrect"
As I understand it, the mixing of spectra first requires that each spectra should be normalized. This process is incorrect, and generates incorrect mixed spectra.  The spectra should be normalized based on time (either live or real time). These values will be included with each spectrum. The use of normalizing base on total counts will create incorrect spectra, the severity of which will vary depe

[2021-09-07 06:49] AHM-amics commented on #135
AMICS Process v3.1.1.2617

[2021-09-07 06:52] AHM-amics opened #136 "AMICS Process Standards not fully functional unless a measurement is open"
AMICS Process v 3.1.1.2617

It is not possible to use AMICS Process Standards without opening a sample measurement first.

For example, if I wish to edit a Mineral List or import spectra etc, the buttons in the standards tab are greyed out until I open a measurement.

[2021-09-07 06:56] AHM-amics opened #137 "AMICS Process Standards Functionality - missing capabilities"
AMICS Process Standards v3.1.1.2617

Some simple functionality in the AMICS Process Standards is missing or not obvious as to how.

1. It is not possible to change an "Ore Type" name in AMICS Process Standards (only in Standard Manager)
2. It is not possible to scroll with the mouse for choosing a Standard (Ore Type) to use or edit when the list of Ore Types is longer than can be displayed. First

[2021-09-07 07:08] AHM-amics opened #138 "AMICS Process Standards AAN Calculation is Incorrect"
AMICS Process v3.1.1.2617

The calculation for AAN when entering a formula in a standard is wrong.

This now yields different values to those stored in the database under the AAW column header.

Question: The AAW (Average Atomic Weight) is an incorrect term. The values in this column in the database are the AAN (Average Atomic Number). The AAW should be the AAM (Average Atomic Mass), which is some

[2021-09-10 02:44] MarkGuo7 commented on #125
I will close this item for the moment.
All the oretype operations should be in Processing and I will remove the old mineral standard manager out of installer.
Let me if you have any other issues or suggestion around oretype.

[2021-09-10 02:44] #125 closed, assigned to nobody

[2021-09-15 03:38] MarkGuo7 opened #139 "Attach the log file with email notification when it fails."
Attach log for customers checking.

[2021-09-15 03:46] MarkGuo7 opened #140 "Change low count rate needs to classify twice"

[2021-09-17 00:17] MarkGuo7 opened #141 "PETROBRAS stage extender design"
From the new layout, we need to adjust the way how interpret the layout properly.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/7aa68657-c55d-4c81-9dd1-dc7a35d2ea55)

Hi Mark,

The contraption that converts the rotation motor into X and Y movement is made so that it is insensitive to the exact R position.
In other words:

R=90=110
R=180=160
R=270=290
R=0=340.
The reas

[2021-09-17 00:24] #86 closed, assigned to nobody

[2021-09-17 00:27] jonathan-knapp commented on #96
We will implement this in AMICS 3.4. Good idea!

[2021-09-17 00:31] jonathan-knapp commented on #90
ok, this is going to be super hard. We will take a look at this for the future.

[2021-09-17 00:33] jonathan-knapp commented on #94
Going to delay this as we look at other speed improvements.

[2021-09-17 00:37] jonathan-knapp commented on #79
This is super tough to change. If you use linking tabs, when you change it on one it will reduce this from happening. We will think hard on how to fix this.
![image.png](https://images.zenhubusercontent.com/60a274843870252752494569/2526e4dd-ffcd-4049-9954-90095ffcaacb)

[2021-09-17 00:44] jonathan-knapp commented on #123
Can you test with the Beta to see if this is fixed?

[2021-09-17 00:45] jonathan-knapp commented on #124
We need to think about hot to address this. Let's discuss.

[2021-09-17 00:51] jonathan-knapp commented on #132
@bernie1034 have you seen this? I have not. I did not see this video. Can you re-send the video to everyone?

[2021-09-17 00:52] jonathan-knapp commented on #135
We need to address with Timo

[2021-09-17 01:39] MarkGuo7 commented on #138
@AHM-amics Could we discuss it when you have time and what's the right way to calculate from formula? Thanks

[2021-09-17 01:42] MarkGuo7 commented on #128
@AHM-amics We discussed this morning and the best way is maybe to have spectrum generator that can generate proper mix spectrum with the given element compositions. Could Esprit team help?

[2021-09-17 01:51] MarkGuo7 commented on #119
Need confirm with Nigel on M4.

[2021-09-17 01:53] MarkGuo7 commented on #117
Need confirm with Nigel on M4.

[2021-09-17 01:54] MarkGuo7 commented on #107
Need confirm with Nigel on M4.

[2021-09-17 03:33] MarkGuo7 opened #142 "Testing with GTK"
Need time to test with GTK. They got AMICS for valuation. Anybody knows details about this customer?

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/cf566574-fefc-4751-ab97-6cbb32cff1da)

[2021-09-17 03:34] MarkGuo7 commented on #142
They bought license of 2.3 but missing the API option.
The 1.9 version on their system works.
It's a FEI system with MLA.

[2021-09-17 04:38] MarkGuo7 opened #143 "Export current oretype doesn't work"
![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/b55bb95c-9b41-424f-b2ca-ce332d6f682c)

[2021-09-17 07:57] AHM-amics commented on #142
Hi Mark,

As I understand it the have an official AMICS licence for many years. They purchase a FEI MLA/QEMSCAN and also purchased a AMICS for this system. This was facilitated by Sam. I suspect they are keen to get AMICS runnign smoothly as they have an M4+ with AMICS now and I will be doing the training in the first week of October. So they will have both SEM and M4 AMICS.

[2021-09-17 07:59] AHM-amics commented on #138
@MarkGuo7 I am generally available all next week. Let me know which Day is best for you - morning my time / afternoon yours.

[2021-09-17 08:03] AHM-amics commented on #135
I have the synthetic spectra module from Timo and it works well. However, this will not solve all the issues for AMICS. This is because to create the synthetic spectra it needs an Atomic Formula. Two main issues amongst others are: 1. This is only for microXRF spectra and not SEM ebeam spectra. 2. Not all spectra used for matching have a "correct" or "accurate" associated forumla, especially any u

[2021-09-17 08:06] AHM-amics commented on #128
This is link to issue #135. I have commented there. I will talk this side. However, I am not sure this is the solution. I do not believe we can create synthetic e-beam spectra. I will discuss here.

[2021-09-17 13:36] bernie1034 commented on #132
@knapp-amics  Yes, I have seen this. I replicated while on a call with Matt.

[2021-09-17 15:12] Matt-Power commented on #79
I have Linked Tabs on by default so the issue still occurs / is not minimised using by switching on. The issue is compounded by the multiple recalcs bug as if I have to go back to a calculation table to change the mineral grouping (to release one for editing), I have to wait for the full calc of properties (which it does and then instantly does a second time but slower) and then again after I have

[2021-09-17 15:16] Matt-Power commented on #132
Link to video on a OneDrive share re-sent. Let me know if you have any issues.

[2021-09-17 16:40] Matt-Power opened #144 "Batch Calculations Not Working For Association Data (ver 3.1.1.2617)"
Batch calculations for Mineral Association data do not work. The batch process appears to work (the progress window appears to go to completion) but no datasheet is generated.

I have not tried many other data types but modals and liberation do appear to work.

[2021-09-20 20:24] bernie1034 commented on #107
This worked just fine for me. If I untick a measurement in the queue it does not start that measurement. Maybe the name "Switch" is just confusing? Call this "Measure"? Other ideas?

[2021-09-20 20:43] bernie1034 commented on #119
Added a comment in GitHub that didn't link to here. But an update - the switch "sort of" works. If you have two measurement areas, you can switch off the second and have it stop. However, for more than 2 measurements, if you switch off one in the middle of the run, it prompts an error on the M4: "Fehler bei Bereichsprufung" (translates as "Range check error"). You need to manually hit the error di

[2021-09-20 20:45] bernie1034 commented on #107
There are still issues with the control of voltage and current. If I have "Standby after XX minutes" active in the M4 software, this can kick in and switch the beam off during a measurement. If I "Read HW Data", it sets the current to zero in the measurement settings (the line at the bottom of the screen). However, if the current is set to zero for a measurement, but the "Control HV & Current" but

[2021-09-20 20:47] bernie1034 commented on #116
This appears to work on our local instrument. No issues.

[2021-09-20 20:47] #116 closed, assigned to MarkGuo7

[2021-09-20 20:48] bernie1034 commented on #114
Does this refer to the "Result File Location" option in the main menu bar? If so, this either doesn't work or I don't know how it works.

[2021-09-22 03:15] MarkGuo7 commented on #138
@AHM-amics Hi Andrew, do you have time today? Your morning, my afternoon?

[2021-09-23 04:31] MarkGuo7 opened #145 "AMICS license generator didn't generate proper license key if the user name is too short."
Always generate license with more than 4 letters would be fine.
Need to keep it in mind :)

[2021-09-23 10:40] MarkGuo7 opened #146 "Combine the spectra from dual detectors manually"
Discussed with Thomas, not sure why only collect xray from single detector when there are multi installed, and even there is an issue, there will be no fix until next release in Esprit. So current solution is to read spectrum from each detect separately and combine them together manually.
This one have to be done with more than one detectors.

[2021-09-28 00:38] Matt-Power opened #147 "Export Secondary Channel Image"
When the secondary channel image is active, on export, only the BSE (channel 1) image is saved. Seems that there is no way to save / export the secondary channel image.

Really need to add ability to export the secondary channel image (or at least the export image should be of the channel selected).

An option in the batch export would also be a really nice feature.

[2021-09-28 23:46] MarkGuo7 commented on #146
![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/5c601046-c73c-4fe8-8388-b24ce8768aed)

[2021-09-29 00:10] MarkGuo7 commented on #115
If there are no WD values, will be auto-focus. If recorded WD values from the system, then will set to the given values.
These focus values, should set by each sample or do auto-focus. Manual input need a safety check, otherwise may cause trouble.

[2021-09-29 05:05] AHM-amics commented on #115
Agreed that from a safety procedure that it is required to record from the system.

[2021-09-29 05:10] MarkGuo7 opened #148 "Need to export secondary image if it is available"
This is a must have option asked by Gerda :)

[2021-09-30 04:17] MarkGuo7 opened #149 "Investigator not starting"
Hi Mark / Patrick,

I’ve got an issue with Investigator – it takes ages to start (>30 mins) and load holder files.

Here’s a description:
•	Investigator was running fine (although I hadn’t loaded a holder file or restarted the app since the install).
•	I wanted to restart Investigator to make sure that some settings were correctly applied (related to a different issue which I needed to test).
•	On

[2021-09-30 05:47] MarkGuo7 commented on #149
![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/e59e9459-e099-4fd3-bfad-80662be1a0be)

[2021-09-30 07:16] #115 closed, assigned to nobody

[2021-09-30 07:18] MarkGuo7 opened #150 "Move the default settings to Option dialog"
Seems Showing these values on Ribbon bar are confusing and Nigel suggested to move them into option dialog.

[2021-09-30 07:21] MarkGuo7 opened #151 "Start button didn't grey out after click it on M4"
It will grey out after building the connection. On M4 system will take some time.
If customers click it again, will cause trouble on M4 because it is building connection.

So should grey it out earlier to avoid double clicking.

[2021-09-30 07:24] MarkGuo7 opened #152 "Result folder location should show ore type grid on M4 system"
The results are not linked to ore types on M4 system

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/e342e379-f72b-4da0-a838-b562ebbfa25b)

[2021-09-30 23:39] #129 closed, assigned to nobody

[2021-10-04 21:17] Matt-Power opened #153 "Measurement starts on wrong sample 3.2.0.87"
Using the 28 block holder, the hole 7 is the first sample to be analysed even though samples are sorted in position order.

It appears that the samples are measured by default in rotation order (0 rotation samples, then 90 etc) and there is no obvious way to change this. This makes workflow management very challenging, especially where different projects with different priorities are in the same h

[2021-10-04 21:26] Matt-Power opened #154 "Can't change properties of duplicated standards 3.1.1.2617"
When I duplicate a ore type, all of the standards are locked out and I cannot change any property such as density, colour, priority etc. Only standards created after the ore type is created can be changed.

[2021-10-04 22:17] MarkGuo7 commented on #146
It's an API issue and need Berlin team to figure it out.

[2021-10-05 05:51] MarkGuo7 opened #155 "Make sure there are UUID for all user standards."

[2021-10-05 07:05] #119 closed, assigned to MarkGuo7

[2021-10-05 07:05] #114 closed, assigned to MarkGuo7

[2021-10-05 07:06] MarkGuo7 commented on #117
Duplicate with #120

[2021-10-05 07:06] #117 closed, assigned to MarkGuo7

[2021-10-05 22:16] MarkGuo7 opened #156 "Sort Oretypes"
We need a way to sort Oretypes. The list may look messy when it gets longer.

[2021-10-05 22:17] MarkGuo7 opened #157 "Generate UUID for all the minerals"
All the minerals should have a valid UUID.

[2021-10-05 22:42] Matt-Power commented on #155
Not sure if this is related but when you create a new standard from a measurement and copy data from the library, the UUID is only assigned if you edit one of the properties. If you just accept the data without changing, no UUID is generated. It is possible to force a UUID to be assigned (e.g. by clicking on one of the properties boxes) but not if the standard has come from a pre-existing list (i.

[2021-10-05 22:50] ghost commented on #155
UUID also not automatically generated when a mix spectra of two minerals is made. UUID only generated when properties for the mix is modified.

[2021-10-05 22:50] MarkGuo7 opened #158 "Update Chinese resources for release 3.2"
Localize the UI, all the messages.

[2021-10-06 21:18] Matt-Power opened #159 "Some standards consistently lose their chemistry"
Standards in an ore type can lose their chemistry data. Once this happens, the same standards always lose their chemistry data. To reclassify, you have to click on the standard and update the chemistry using the parser otherwise it will generate an error.

If I then open up a different sample that uses the same ore type, the same standards have again lost their chemistry data.

Several of my ore t

[2021-10-07 14:27] MarkGuo7 opened #160 "Move stage from mirror view goes to wrong position"

[2021-10-07 14:30] MarkGuo7 opened #161 "Shouldn't show small particle / Large particle / remove edge for block sample"

[2021-10-07 14:51] MarkGuo7 opened #162 "Run measurements the order from the list"
If there are rotations, AMICS will try to group the same rotation together to run.
Maybe need an option to run as exactly what customer setup?

[2021-10-07 15:02] MarkGuo7 opened #163 "Centralize the result folder at remote machine is really slow."
Current solution is the avoid remote centralize folder.

[2021-10-07 16:38] Matt-Power commented on #162
Yes please. Running in the specified order should always be the default (and is imperative to have this) and the group by rotation should be an option. The option to rotate in samples (like a carousel) on the 28 block holder is really, really important too.

With the 28 block holder, the sample order is completely jumbled which makes managing multiple projects in the same holder tricky and extreme

[2021-10-07 16:45] Matt-Power commented on #163
So are you saying that the basic functionality to write results to a central server location will not be fixed / included? This is a really big deal with respect to data backup and many, many aspects of project management.

[2021-10-07 17:07] jonathan-knapp commented on #163
Matt,
It's part of BiFROST. We will write to a local folder and Sync. We can have option to remove from local storage once it's in the central location. The size of the files and data structure makes writing directly to network storage (without a local intermediate step) not feasible. To have a client where we write to a local drive and then it moves the data to the central server is how most appl

[2021-10-07 17:49] Matt-Power commented on #163
I was thinking of this at the data collection and processing stage (implementing at the BiFROST stage seems several steps too far down the line - I will have moved manually for processing, editing etc long before then). The main concern is that raw data needs to be preserved and written to project locations before the data reduction step (which may be carried out by several people). Ideally the lo

[2021-10-07 18:02] jonathan-knapp commented on #163
AMICS must always access a locally mounted drive. The R/O requirements are too high for a network drive. At the earliest stages the files will be saved to a local HDD or SDD that will sync to the cloud. You can implement this today by pointing your investigator to a network syncing BOX, Google Drive, or OneDrive folder. AMICS gets the R/O it needs and the data - even at the early stages - is sent

[2021-10-07 18:07] Matt-Power commented on #163
OK, thanks and I get that the network will be a bottleneck.

The issue here though is that AMICS takes literally 30 minutes or more to start if the centralised folder is enabled.

[2021-10-07 18:18] jonathan-knapp commented on #163
Please send screenshots of the setup and the location of the folder. If it's still taking a long time when not on a network mounted drive than Mark will take a look. This centralized folder will be outdated with the 3.4 project though. The new project structure will supersede this grater. This is a stopgap measure.
________________________________
From: Matt-Power ***@***.***>
Sent: Thursday, Octo

[2021-10-08 01:48] MarkGuo7 commented on #163
@Matt-Power Hi Matt, thanks for your feedback. I would like to give it another try since it is important. May I have another look of your computer when you have time?

[2021-10-08 04:10] #161 closed, assigned to nobody

[2021-10-08 16:28] Matt-Power commented on #163
Hi Mark,

Thanks and no worries. Can you have a look mid-next week please? It is a long weekend and the system is set to run some very big measurements which can’t be interrupted but they should be finished by Tuesday (my time). I’ll drop you a note when they are done / system is ready (I’ll try not to forget!).

Thanks,

Matt

Matthew Power Ph.D.
d - 604.420.0117
c - 604.880.7656

From: Mark Guo

[2021-10-10 23:28] MarkGuo7 opened #164 "Review Deagglomeration Algorithms"
Didn't update it for quite long time, better spend some time to review it with current issues:

- Over Deagglomeration issue(especially cross frames)

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/9c37f717-9d76-46b8-b33b-f697daab4c07)

- Didn't Deagglomerate properly (large particles)

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/da5452dc-

[2021-10-11 00:01] MarkGuo7 opened #165 "Quanta in Processing doesn't work"
It should works like in Mineral Standard Manager.

[2021-10-11 06:02] MarkGuo7 commented on #128
As Andrew suggested, better to mix spectrum by the life time, but currently we don't have this value yet. And we need to figure out what the life time will be if the standards generated from the combined result xrays.

[2021-10-11 06:05] jonathan-knapp commented on #128
What do you mean by lifetime?
________________________________
From: Mark Guo ***@***.***>
Sent: Sunday, October 10, 2021 11:02:53 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Mixing generates incorrect mix spectra output (#128)

**EXTERNAL EMAIL**

As Andrew suggested, better to mix spectrum by the life time, but currently we

[2021-10-11 06:08] MarkGuo7 commented on #128
Each Xray captured has real time, life time and dead time. Normalize xray by life time make more sense than by total counts, which is the current way to mix.

[2021-10-11 06:28] jonathan-knapp commented on #128
Live time?
________________________________
From: Mark Guo ***@***.***>
Sent: Sunday, October 10, 2021 11:08:17 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Comment ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Mixing generates incorrect mix spectra output (#128)

**EXTERNAL EMAIL**

Each Xray captured has real time, life time and dead time. Normalize x

[2021-10-11 06:29] MarkGuo7 commented on #128
Oh, I see. Called it life time couple of years already :)

[2021-10-12 01:32] Sperrylite-MattNg commented on #164
Can we please have user controlled deagglomeration parameters? Because the deagglomeration parameters maybe be different for mineral sands type sample (rounded particles) compared to a sample rich is plate-like particles (eg. phyllosilicates - chlorites, mica, talc etc). Ideally include recommended values and user saved values.

[2021-10-12 01:39] MarkGuo7 commented on #164
@Sperrylite-MattNg We definitely can do that. Actually they are a few parameters control the deagglomeration at the behind.
Need to think a way to make it simple to use and suitable for most common cases.

[2021-10-12 04:15] MarkGuo7 opened #166 "Sample Holder Editor"
Should be able to change the sample hole labels without export and import the layout text file.

[2021-10-12 04:18] MarkGuo7 opened #167 "Save Mapping results as Particle results then you can deagglomerate them etc."

[2021-10-13 04:02] GGloy commented on #142
YEs they have bought AMICS its not a trail

[2021-10-18 03:07] MarkGuo7 opened #168 "Remove HT and current control option out of M4"
Let do it on next release when the API issue sort out by Esprit team

[2021-10-18 03:14] jonathan-knapp commented on #168
Thanks Mark. That's my feeling too. Let's plan it for next release and work on points to boot. We have made huge strides with M4, so I don't feel bad. Thanks.
________________________________
From: Mark Guo ***@***.***>
Sent: Sunday, October 17, 2021 8:07:27 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Bruker-Amics/bugs_features] Remove HT and current contro

[2021-10-18 05:54] MarkGuo7 opened #169 "Remove User STD Manager out of source code"

[2021-10-20 04:49] MarkGuo7 opened #170 "Remove Genesis controller related"

[2021-10-20 04:50] MarkGuo7 opened #171 "Remove IXRF controller related"

[2021-10-20 04:50] MarkGuo7 opened #172 "Remove AMICS Client controller related"

[2021-10-20 04:59] MarkGuo7 opened #173 "Remove pdf related code"

[2021-10-21 18:09] Matt-Power opened #174 "Formula parser doesn't work and normalisation splits all elements evenly"
Looks like the formula parser has stopped working in 3.2.0.128; if I change the formula and then hit the parser button, nothing changes. The existing data is kept but new elements are not added and the chemical data remains unchanged.

If I then hit the normalisation button, whatever elements are already there are divided equally (i.e. if there are 3 elements listed, they are all reset to 33.33, i

[2021-10-26 22:50] Matt-Power opened #175 "Mineral Image Disappears After Stitching (Maps)"
The mineral image disappears after I stitch a mapped measurement and all data fields are empty. It doesn't matter which layer is selected - all are blank. The BSE image remains though.

I have to re-open the file for it to reappear.

[2021-10-28 01:02] MarkGuo7 opened #176 "The screen ratio doesn't work on M4 overview image"
M4 always keeps the 1:1 ratio.

If choose 4:3 from Tools, the overview will look like:

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/52d02e47-64bd-46df-a4bb-7c257e9f145c)

[2021-11-07 01:55] Matt-Power opened #177 "28 Block Holder Measurements Fail on Rotate"
After rotating to the next group of holes, measurements usually fail 30-40 seconds into the measurement. This is with Investigator version 3.2.

Holes with 0° rotate run OK (e.g. 7, 8 etc) but when the measurement proceeds on to the next rotation group, it generally fails on the first sample in the group (not always but most times).

It can be restarted without issue by clearing the measurement an

[2021-11-08 05:33] MarkGuo7 opened #178 "Stop by particles doesn't work properly"
Gerda ran sample stop by particles much longer than expected.

[2021-11-08 05:50] MarkGuo7 opened #179 "Particles missing on fine samples"
Some brighter small particles missing on the fine sample results, need to find out why and how to improve it.

[2021-11-11 00:37] MarkGuo7 commented on #177
@Matt-Power Sorry reply late. Any chance you can send me the logs of these failures? Thanks

[2021-11-17 04:09] MarkGuo7 opened #180 "the license file do not expire anymore"

[2021-11-24 19:54] #142 closed, assigned to nobody

[2021-11-24 20:23] jonathan-knapp commented on #105
@MarkGuo7 what is the status of this?

[2021-11-24 21:02] jonathan-knapp commented on #137
The oretype will change in v. 2.3. THanks for the comment, but it is going to be a lot different. Will update you with the plan soon/

[2021-11-24 21:02] #137 closed, assigned to nobody

[2021-11-24 21:03] jonathan-knapp commented on #136
This has been addressed. Simply have to pick the checklist option.

[2021-11-24 21:03] #136 closed, assigned to nobody

[2021-11-24 21:30] #24 closed

[2021-11-24 22:10] #30 closed

[2021-11-24 22:11] #33 closed

[2021-11-25 01:10] GGloy commented on #169
Mark, is this for version 3.2?

[2021-11-25 01:12] MarkGuo7 commented on #169
I removed it from 3.3 source code.
Still with 3.2.

[2021-11-25 01:14] GGloy commented on #169
Did you do anything for the optimize X-ray position? What do I need to look for? (this is also not 3.2 right?)

From: Mark Guo ***@***.***>
Sent: Thursday, 25 November 2021 11:13 AM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Gerda Gloy ***@***.***>; Comment ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Remove User STD Manager out of source code (Issue #169)

I removed it from 3.3 sou

[2021-11-25 01:18] GGloy commented on #179
Improved significantly - this can be closed

[2021-11-25 01:35] jonathan-knapp commented on #179
Please close anything that can be closed

Jonathan P. Knapp Ph.D.
Market Segment Manager
AMICS Product Manager
1 (720) 236-2129
***@***.***

________________________________
From: GGloy ***@***.***>
Sent: Wednesday, November 24, 2021 7:19:07 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Particles missing on fine samples (Issue

[2021-11-25 02:10] MarkGuo7 commented on #169
This is not about xray position.
I removed the Std Manager source code out of 3.3, and there will be no std manager included in the installer anymore.
We didn't maintain these source code for quite long time. Let me know if you still need it.

[2021-11-25 03:05] GGloy commented on #123
@MarkGuo7  This seems to work only if I increase the dot size. Is that correct?

[2021-11-28 14:48] jonathan-knapp commented on #135
@AHM-amics we will have a project early in the new year to address spectral mixing. Hitachi has an expert that has also been working on this. In release 3.4 or 3.5 I want to bring spectral simulation into AMICS and have the ability to generate mixes or sythitic reference spectra. I don't want to spend any

[2021-11-28 14:48] #135 closed, assigned to nobody

[2021-11-28 14:59] jonathan-knapp commented on #85
Thanks for the idea Chi. We found speed improvements through algorithm improvements.

[2021-11-28 14:59] #85 closed, assigned to nobody

[2021-11-28 15:15] jonathan-knapp commented on #35
This will be addressed in three ways. First, we are looking at matching that can be done with less counts, that will speed up measurement and make file size smaller. Second, we are going to have the hybrid mode soon that will result in less x-rays. Third, we will try to make the entire file something that can be compressed. Thanks for the feedback, we know it is an issue.

[2021-11-28 15:15] #35 closed

[2021-11-28 15:17] #18 closed

[2021-11-28 15:17] #19 closed

[2021-11-28 15:18] #27 closed

[2021-11-28 15:21] #163 closed, assigned to nobody

[2021-11-28 15:38] #165 closed, assigned to nobody

[2021-11-28 17:07] #101 closed, assigned to nobody

[2021-12-01 19:52] Matt-Power opened #181 "Cannot modify properties of mineral definitions synced from other ore types"
If I sync mineral definitions from one ore type to another, I cannot change any of the properties in the destination ore type. Fields such as state, chemistry, density etc etc are all inaccessible. These need to be editable after transfer to the destination ore type.

[2021-12-03 02:24] #176 closed, assigned to MarkGuo7

[2021-12-03 02:25] #152 closed, assigned to MarkGuo7

[2021-12-03 02:25] #151 closed, assigned to MarkGuo7

[2021-12-03 02:26] jonathan-knapp commented on #176
Is this fixed and tested?

Jonathan P. Knapp Ph.D.
Market Segment Manager
AMICS Product Manager
1 (720) 236-2129
***@***.***

________________________________
From: Mark Guo ***@***.***>
Sent: Thursday, December 2, 2021 7:24:19 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] The screen ratio doesn't work on M4 overview image (Iss

[2021-12-03 02:28] MarkGuo7 commented on #176
Gerda said it is good enough now :)

[2021-12-03 02:29] #178 closed, assigned to MarkGuo7

[2021-12-03 02:29] #157 closed, assigned to MarkGuo7

[2021-12-03 02:29] #155 closed, assigned to MarkGuo7

[2021-12-03 02:30] #122 closed, assigned to nobody

[2021-12-03 02:30] #148 closed, assigned to MarkGuo7

[2021-12-03 02:30] #168 closed, assigned to MarkGuo7

[2021-12-03 02:30] #73 closed, assigned to van-amics

[2021-12-03 02:30] #131 closed, assigned to van-amics

[2021-12-03 02:31] #139 closed, assigned to MarkGuo7

[2021-12-03 02:31] #143 closed, assigned to MarkGuo7

[2021-12-03 02:31] #127 closed, assigned to nobody

[2021-12-03 02:33] #140 closed, assigned to nobody

[2021-12-03 02:34] #126 closed, assigned to nobody

[2021-12-03 02:35] #130 closed, assigned to van-amics

[2021-12-03 02:35] #74 closed, assigned to van-amics

[2021-12-03 02:35] #95 closed, assigned to nobody

[2021-12-03 02:36] MarkGuo7 commented on #65
Is it still there? @ChilyMan

[2021-12-03 02:37] #87 closed, assigned to van-amics

[2021-12-03 02:37] #98 closed, assigned to van-amics

[2021-12-03 02:37] #84 closed, assigned to MarkGuo7

[2021-12-03 02:37] #39 closed

[2021-12-03 02:37] #78 closed, assigned to MarkGuo7

[2021-12-03 02:38] #67 closed

[2021-12-03 02:41] #158 closed, assigned to MarkGuo7

[2021-12-03 02:41] #162 closed, assigned to MarkGuo7

[2021-12-03 02:42] #138 closed, assigned to MarkGuo7

[2021-12-03 02:42] #149 closed, assigned to MarkGuo7

[2021-12-03 02:43] #150 closed, assigned to MarkGuo7

[2021-12-03 02:44] #88 closed, assigned to van-amics

[2021-12-03 02:49] #141 closed, assigned to MarkGuo7

[2021-12-03 02:50] MarkGuo7 commented on #123
Need test with spot size one on mapping mode.

[2021-12-03 02:54] #53 closed

[2021-12-03 02:57] #121 closed, assigned to nobody

[2021-12-03 02:59] MarkGuo7 opened #182 "The classification results are different from the click match list"

[2021-12-03 03:13] #146 closed, assigned to MarkGuo7

[2021-12-03 03:16] #169 closed, assigned to nobody

[2021-12-03 03:16] #179 closed, assigned to MarkGuo7

[2021-12-03 03:16] #134 closed, assigned to MarkGuo7

[2021-12-06 17:54] Matt-Power opened #183 "BUG-MAJOR_AMICS-3.3.0.1660_PROCESS_EXPORT: Batch export puts white lines on frame boundaries in matrix mapped images"
When I run a batch export to extract mapped images, white lines appear at the frame boundaries. If I manually export the same image, all is OK and there are no white lines. This unfortunately means that the batch export for mapped images can't be used as it messes up any post-AMICS calculations.

For what it's worth, I have the dot size set at 5 for the measurements (so there is no white space aro

[2021-12-07 01:12] ChiLyMan commented on #65
Hi Mark,

Sorry for delay in getting back to you let me check and give you feedback, I’ve been preoccupied with new job.

Chi

From: Mark Guo ***@***.***>
Sent: Thursday, December 2, 2021 8:37 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: ChiLyMan ***@***.***>; Mention ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Measurement locked out when checking the Key Mineral Analysis (#65)

I

[2021-12-09 04:22] MarkGuo7 opened #184 "Build 3.3 with the new source code structure"

[2021-12-09 04:24] MarkGuo7 commented on #184
While waiting for the new build solution, make it works for testing.

[2021-12-09 05:41] MarkGuo7 commented on #63
Quanta is part of Esprit function. Need to figure out how to Quanta without Esprit. Is there a web solution?

[2021-12-16 00:28] GGloy opened #185 "Export particle properties directly to Excel"
Add direct export of table to the Particle Prop Tab AND the general export bar

[2021-12-16 00:31] GGloy opened #186 "Function to select which oretypes are used for matching during auto atandard collection"

[2021-12-16 00:39] GGloy opened #187 "Add a new reclassification recipe from Investigator and/or ability to add a new ore type in process without the need to open a result file"

[2021-12-16 00:45] jonathan-knapp commented on #185
Yes!! In addition to this we need the ability to export the particle images into a folder labeled with the particle ID.

Jonathan P. Knapp Ph.D.
Market Segment Manager
AMICS Product Manager
1 (720) 236-2129
***@***.***

________________________________
From: GGloy ***@***.***>
Sent: Wednesday, December 15, 2021 6:29:06 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subj

[2021-12-16 01:12] GGloy opened #188 "Bar graphic for spectra display"

[2021-12-16 01:13] jonathan-knapp commented on #188
Can you get more details on this. Do you mean a bar graphic when we display the spectra in the match window or do you mean on the map?

Jonathan P. Knapp Ph.D.
Market Segment Manager
AMICS Product Manager
1 (720) 236-2129
***@***.***

________________________________
From: GGloy ***@***.***>
Sent: Wednesday, December 15, 2021 7:12:16 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed **

[2021-12-16 01:14] GGloy commented on #188
Still working on it! Sorry I pressed submit at the wrong time I guess!

From: knapp-amics ***@***.***>
Sent: Thursday, 16 December 2021 11:13 AM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Gerda Gloy ***@***.***>; Author ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Bar graphic for spectra display (Issue #188)

Can you get more details on this. Do you mean a bar graphic when we displa

[2021-12-16 01:20] GGloy commented on #188
Can we use bar graphics to display spectra (anywhere we display spectra)

This is what it looks like in Esprit
![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/9f696344-485e-41a2-8f12-a89b60bc062e)
 And here is an example from MLA
![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/b84bb99e-38c4-4830-bb27-dc23994c4253)

[2021-12-16 01:43] Matt-Power opened #189 "BUG - MAJOR - AMICS 3.2.0.222 - PROCESS - BATCH - Batch BSE export not working"
Exporting BSE images using the batch process does not work - it just stalls on the first sample (see pic).

Export of mineral images works OK.

![image](https://user-images.githubusercontent.com/84986921/146292534-295925c3-8e53-4e4b-aa77-5417ac283a45.png)

[2021-12-16 02:10] GGloy opened #190 "New features in spectrum Tree"
- For spectrum tree standard listing where we have #exclusions also have the other way to have number of inclusions.

- For primary standard listing with grouping -  we need to be able to split this again based on the groups - for example if I pull out Quartz - but under quartz there might be 5 different spectra - I want to split it based on the Quartz 1, Quartz 2 etc..

- Once I applied a spectru

[2021-12-16 02:17] GGloy opened #191 "X-ray position in segment"
I think thisissue might already be listed (or closed) but can we look at where the X-ray is positioned in a segment again? To close to the edge/close to another phase leads to unknowns, when the phase should be easily recognized.

These two large segments highlighted by the green rectangles are both classified as unknown because the X-ray was positioned so close to another phase.

![image.png](htt

[2021-12-16 02:23] GGloy opened #192 "Error message when doing multi-collect standard collection in Vs 3.2.0.222 and vs 3.3"
When selecting  collect a standard from the drop down collect
![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/48f167ac-25f6-4ca8-a36f-f02198edcd03)

I get this error - however I can still collect a spectrum afterwards.

![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/53bfe5af-0f14-4b22-a4d1-6d942767698e)

[2021-12-16 02:25] GGloy opened #193 "Import spectrum file greyed out in vs 3.2.0.222 and vs 3.3"
![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/6a7f2b5a-bad8-4e95-9192-d537c334318b)

[2021-12-17 23:21] Matt-Power opened #194 "Batch extraction of Association Data Doesn't Work"
If I run a batch calculation for mineral associations, the process completes but no spreadsheet is generated at the end.

[2021-12-17 23:26] Matt-Power opened #195 "Option to Crop Stitched Images to Square / Rectangle"
Once images are stitched, there is often a stepped offset across the image (effectively a small rotation over the whole image) and therefore thin wedges of white (or transparent) space around the outside of the image. They are only small but they can cause a heap of problems for post-processing.

Can we have the option to automatically crop the images to the mineral image please? (i.e. crop to get

[2021-12-19 22:50] GGloy opened #196 "BUG! Area % in particle grid not correct vs 3.2.0.222 and vs 3.3!"
The Area % in the particle grid display Version 3.2.0. 222 is displaying incorrectly -

![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/7987f42f-c035-4c62-b8fc-3fbb38dc57c1)

[2021-12-19 23:32] MarkGuo7 commented on #185
Let's plan it :)

[2021-12-19 23:39] MarkGuo7 commented on #186
Need to be more specific ...

[2021-12-21 01:13] GGloy opened #197 "Bug - Touching Un-x-rayed pixels are not merged in latest versions"
@MarkGuo7 I have noted in the latest version 3.3.0.332 that touching pixels of Un-x-rayed spectra are not merged and x-rayed - I will share examples with you (bookmarked)
![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/47a26a38-813c-4945-a68c-f7401e2810ca)

[2021-12-25 19:24] ChiLyMan commented on #65
Hi mark,

Sorry for the delay again. I just checked the new build and the issues seems to be resolved. Just note that I am testing it on a standalone PC as I do not have access to the instrument anymore.

Chi

[2021-12-27 23:24] ChiLyMan opened #198 "Batch Calculation Data Sheet ID name cropped"
I love the new Batch excel exporting of multiple sample. EXACTLY what I needed.

But I notice that the "Data Sheet" names are cropped so you can not see what you are sorting by.
![image](https://user-images.githubusercontent.com/84643841/147513317-af66d45c-9027-4559-ad02-3e59bbf268b0.png)

[2022-01-10 00:45] GGloy commented on #193
This ticket can be closed, thanks.

[2022-01-11 04:55] #147 closed, assigned to nobody

[2022-01-31 09:29] Portaspecs opened #199 "Mineral classification using current mineral grouping"
Recently added minerals to the common standards list can't be used when classifying minerals in the spectrum tree, without reclassifying first. This is very time consuming and counter productive. Wasn't an issue in previous versions (refer to V3.1.1.1222).

[2022-02-01 01:33] Matt-Power opened #200 "Crash on selecting group name 3.2.0.299"
On the Mineral Standards tab and with the Common Standards>Groupings selected, if I select a mineral group (on the left) and then try to select the group name on the properties window (on the right), AMICS crashes immediately.

[2022-02-04 01:50] GGloy opened #201 "Renaming OreType not applied"
When renaming an Oretype it seems the name has changed but when applying the Oretype an error message will state that it is out of sync, and after synching the name will revert to the original name.

[2022-02-14 02:27] GGloy commented on #182
This can be closed

[2022-02-14 02:30] #182 closed, assigned to MarkGuo7

[2022-02-22 18:58] Matt-Power opened #202 "BUG-MINOR_AMICS-3.3.0.1158_PROCESS_EXPORT: Secondary Channel Not Exporting"
When exporting the secondary channel image of sorted particles, the exported image is the primary channel image. The exported image should be the same as the image in the current view.

[2022-02-22 18:59] Matt-Power opened #203 "No scale bar on sorted images"
When particles are sorted, the exported image has no scale. All images should have a scale bar (or at least there should be an option for including a scale bar).

[2022-02-22 21:45] PMC-Labs opened #204 "Hitachi FlexSem II Use"
I am just wondering if anyone is successfully using the Hitachi FlexSem II with Amics.
If so, I would like to know how you are standardizing your SEM conditions for measurements. (ie. Specimen current or Count rate)
If you are having a substantial amount of beam drift which seems to be initiated by running AMICS measurements.

[2022-02-24 01:45] ChiLyMan opened #205 "Processing subset of particles"
Hi All,

Just wondering if anyone know if there is a way to select a subset of particles to do processing on. For example, being able to do a grain size distribution, and selecting all grains >x um, then do bulk mineralogy, liberation, association etc. processing only for those grains.

Might be useful to mimic metallurgical processes, i.e. following the concentration or gangue through various phy

[2022-02-24 03:24] MarkGuo7 commented on #205
Hi Chi

That's a really good question.
I guess the BiFrost project will do all these needs.

For the moment, you can select these grains, and choose the "selection" data set. Then all the calculations will base on the selected grains.
It is only One selection available for the moment. Maybe we can keep a selection tree, then you will be able to keep all these subset.

![image](https://user-images.

[2022-03-01 19:24] Matt-Power commented on #191
Just to add to Gerda's point I've attached a matching mineral / BSE pair - the black is the unknown segment and I've drawn an arrow showing the Xray point for the segment. The point chosen for the Xray is actually mostly off the grain and on quartz (not sphalerite). It's a pretty bizarre place to put a point given the overall size, shape and uniformity of the BSE over the segment.

![AMICSProcess6

[2022-03-01 19:58] Matt-Power commented on #191
Just to add to Gerda's note, here's another example of an odd position for an X-ray point. The black is a single unknown segment and the associated Xray is arrowed - it's been placed right on the edge of the grain even though the segment is pretty uniform and large. The points in the centre of the segment are actually picking out tiny inclusions. For the record, there are no field boundaries near

[2022-03-03 00:58] GGloy opened #206 "Copy details from one mineral in a list to another - when close and open file - property data lost"
When I use the function "copy properties to..." to copy the details of an existing mineral to a new mineral (added as a new standard using spectrum tree) it seem to copy the data and I can reclassify etc without issues, but when closing and opening the file again, all the properties that have been copied are lost.

![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/d29385fb

[2022-03-09 22:49] jkabel opened #207 "Extra > Toggle Background Unexpected Behaviour"
In prior versions it was possible to have the background colour in mineral maps to be set to black.  This makes targeting of rare phases for followup analysis in other instruments fairly straightforward with an exported image.

Currently (3.2.0.40) there appears to be no way to change the background colour of mineral images making it very difficult to pick out grains for correlative analysis on ot

[2022-03-16 08:09] Portaspecs opened #208 "Classification steps not applying if there is a space at the end of the name."
Found this one out the hard way. If there is a space at the end of the classification step name, the step always fails to apply during reclassification.

[2022-03-25 00:30] MarkGuo7 opened #209 "Collect BCF file on SEM"
Need test to see how much cost.

Here is the info tested on 25/03/22 on Jonathan's SU5000:
Need discuss with Thomas

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/c3404688-6c37-42c0-a197-10584d5963bd)

[2022-04-01 16:07] jonathan-knapp commented on #185
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Engineering-Team-60a274aed175980014d57660/issues/Bruker-Amics/bugs_features/185?planning-poker) with ZenHub @MarkGuo7

[2022-04-01 16:10] jonathan-knapp commented on #187
Let's put this as part of the overall need to reconsider the OreType.

[2022-04-01 16:38] jonathan-knapp commented on #204
Thanks for the question. We will have Patrick reach out. We are working on a BSE stability workflow that will use a standard. We only have one other FLEXSEM II user, but many FLEXSEM I users.

[2022-04-01 16:38] #204 closed, assigned to nobody

[2022-04-01 18:55] #65 closed

[2022-04-03 23:16] MarkGuo7 opened #210 "Testing Esprit API - Connection Reset"
This one will solve the issue of hardware connection failure.

Need new scan box and not compatible with old Esprit version.

[2022-04-03 23:18] MarkGuo7 opened #211 "New Esprit API to read image parameters"
Need Esprit to give us ability to read image parameters so we can know it is mess up or not.

This API relates to the binary image issue.

[2022-04-03 23:20] MarkGuo7 opened #212 "Try to restart Esprit to solve the binary image issue"
That's current solution we have.

1) need to identify the binary image
2) double check if there are something wrong
3) restart Esprit to reset image scan parameters.

[2022-04-03 23:28] MarkGuo7 opened #213 "HyperMap mode of mapping on SEM"
Collecting BCF file each frame to speed up the measurement time.

Only for Block mode.
Need to collect high resolution image or not?

[2022-04-03 23:53] GGloy commented on #201
This can be closed

[2022-04-03 23:56] GGloy commented on #193
Can be closed

[2022-04-04 00:01] GGloy commented on #196
This  ticket can be closed

[2022-04-04 00:06] #201 closed, assigned to MarkGuo7

[2022-04-04 00:06] #193 closed, assigned to MarkGuo7

[2022-04-04 00:07] #196 closed, assigned to MarkGuo7

[2022-04-04 19:44] Matt-Power opened #214 "Batch file log and datasheet are only written if batch is successful"
When running a batch file, the log and / or datasheet are only written if the whole batch runs successfully. If the batch fails for any reason, no data is recorded and it is not easily possible to figure out where the batch failed. For larger projects, this is really problematic because the chances of it failing are very high and it takes ages to find out which measurement is corrupt.

At the mome

[2022-04-04 23:35] jonathan-knapp commented on #144
@Matt-Power how would you want this output to look like? We can only do this as a repeated table (not combined), but give us an idea of what it will look like.

[2022-04-04 23:37] jonathan-knapp commented on #66
@ChiLyMan We will get with you when we bring this feature back. For now, we have removed it.

[2022-04-04 23:38] Matt-Power commented on #144
Tab per sample would be fine.

[2022-04-05 00:04] MarkGuo7 commented on #199
![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/018da289-dda4-49a4-a884-56303d643336)

[2022-04-05 00:10] jonathan-knapp commented on #199
@Portaspecs we are working on a more elegant solution that will be in 3.3.1 or 3.3.2

[2022-04-05 00:19] jonathan-knapp commented on #44
Let's have this automatically added as a touch-up step called "Manual Assignments" so that they will be assigned every time it is reclassified.

[2022-04-05 00:26] jonathan-knapp commented on #105
@Matt-Power can you please tell us if this is fixed?

[2022-04-05 00:27] #9 closed

[2022-04-05 00:30] jonathan-knapp commented on #96
@Matt-Power we think this is a GREAT idea to have keyboard shortcuts. We can do this. Can you please come up with a list of shortcuts you want and we will implement them?

[2022-04-05 00:35] jonathan-knapp commented on #177
@Matt-Power has this been fixed?

[2022-04-05 00:36] jonathan-knapp commented on #175
@Matt-Power is this still happening?

[2022-04-05 00:38] Matt-Power commented on #177
Not sure if fixed per se but with AMICS control of stage, it's not an issue (stage movements are quicker so doesn't time out). Might still be there when Esprit controls stage though.

[2022-04-05 00:38] #154 closed, assigned to nobody

[2022-04-05 00:39] #159 closed, assigned to nobody

[2022-04-05 00:39] jonathan-knapp commented on #79
@Matt-Power we need to change a lot about the mineral database to allow it to be global. This will need to be revisited after that change is made.

[2022-04-05 00:41] jonathan-knapp commented on #94
Will be addressed in coming weeks by another issue

[2022-04-05 00:41] #94 closed, assigned to nobody

[2022-04-05 00:46] Matt-Power commented on #105
I don't think so - had a measurement do it today or at least something similar - fills in background randomly with a mineral in certain frames. Not sure if it's the same bug though.

[2022-04-05 00:58] #37 closed

[2022-04-05 01:52] Matt-Power commented on #175
Yes - still happening in 3.2.0.236

[2022-04-05 02:00] Matt-Power opened #215 "Background in some fields tagged as mineral"
Occasionally (maybe 1 every 20 or so samples), the background in one or more fields is tagged as a mineral. There are usually several segments of background and each may be tagged as a different mineral. The initial measurement seems OK - this only happens once the data have been reclassified. The error stays even when reclassifying more times and / or with a different ore type.

It can also creep

[2022-04-05 05:08] Matt-Power commented on #96
Almost too many areas to list but to start with:
Standard spectra to change to that selected as you cycle through with the cursor keys
Keyboard shortcut to copy data and name / copy data to current mineral
Shortcuts to zoom and pan in the all image screens
Key combo to switch between BSE and Mineral images (and separate key to switch to the secondary channel if available)
Tab (or similar) to switc

[2022-04-05 05:30] Matt-Power opened #216 "BSE Batch Export Fails"
Think this has been fixed several times but then creeps back in somehow: more often than not, the batch BSE image export fails. It seems to be a bit random - sometimes it works but mostly just sits at the first sample apparently doing nothing for several minutes (10+) until either crashing or I lose interest and kill the batch. It also sometimes cycles through all of the samples and gives an "Expo

[2022-04-05 17:14] #1 closed

[2022-04-05 17:24] jonathan-knapp opened #217 "Do not reprocess any segment that is background or porosity"
New option in the settings dialog:
[x] Do not reprocess segments defined as porosity

[2022-04-05 23:36] #209 closed, assigned to MarkGuo7

[2022-04-11 20:47] jkabel commented on #100
I've been thinking a bit about this one.  Is the vignetting still present at longer working distances?  The 10mm analytical working distance (in the SU3900/Quanta) is somewhat arbitrary.  Systems with AMICS installed could be issued the Bruker variable Z flange adapters for the EDS and optimized for a 15/20mm WD.  That would increase the low magnification operating envelope before lens distortions

[2022-04-11 21:27] Matt-Power commented on #100
That's a bit creepy - was thinking about the same issue when your comment popped up!
I think that there are two parts to this - the vignetting and the grey scale gradient across the image.
For the vignetting, this image was actually acquired at 20 mm (with the variable Z adjusted to maximise the count rate). It is still present at these longer working distances but much better than at say ~10 mm.

[2022-04-11 21:56] jonathan-knapp commented on #100
@Matt-Power do you have any examples in Python I can share with Robb? Do you think we need to do a BSE standard correction at the center and edge to correct it?

[2022-04-11 22:15] Matt-Power commented on #100
Haven't looked at python as it needs to be done on a frame by frame basis rather than on the final image i.e. would ideally sit within Investigator (as per offset calibration) or Process (as per BSE correction). It's usually done by taking a reference image (a normally exposed image of a uniform surface such as blank area of resin, a polished area of aluminium on the holder, or the Cu standard) an

[2022-04-11 22:19] jonathan-knapp commented on #100
As we work to improve BSE stability, this is good to implement. What is best is to take the frame-by-frame data and process after data collection but before process. This will help with stitching.

-Bruker Confidential-
From: Matt-Power ***@***.***>
Sent: Monday, April 11, 2022 4:16 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Comment ***@***.***>
Subject: Re: [

[2022-04-11 22:55] jkabel commented on #100
Sorry for the giant images.

One thing the FEI Quanta seems to have going for it is the ability to deliver massive current without a lot of vignetting.  I don't think there's any secret sauce here, given the age of the system (2003).  I specifically don't suspect anything like an intermediate lens (a la Tescan) that would allow large FOV trickery.

Here's a stitched image of a section loaded with

[2022-04-11 23:09] jonathan-knapp commented on #100
Thanks for this! I will bring it up. A software solution may be good enough. Using proved subtraction combined with reference image collection, we can likely address this in a pre-processing step. It is not out of the question to have an application-specific hardware configuration.

-Bruker Confidential-
From: jkabel ***@***.***>
Sent: Monday, April 11, 2022 4:56 PM
To: Bruker-Amics/bugs_features

[2022-04-11 23:13] jonathan-knapp commented on #100
@robbmcleod I wanted to bring your attention to this issue.

[2022-04-12 00:02] robbmcleod commented on #100
I'm not very familiar with the S3900, but it looks a bit like a mis-centered objective aperture? It's really not a (symmetrical) vignette, but rather a gradient in intensity, which implies something is mis-centered.

I'm not sure if the S3900 has any alternative objective lenses available or not. I'll ask.

[2022-04-12 00:19] jkabel commented on #100
I suspect something else.  He's probably running a damn big aperture and it's hard to get the large ones so off so as to cause a gradient.  Maybe the quad balance?  I don't know if there are trim pots hiding somewhere.  The S3000N didn't have them which was annoying.

@Matt-Power you may want to switch your SBU to square images.  It's basically free extra image coverage.

[2022-04-12 00:53] Matt-Power commented on #100
Thanks @jkabel , I'll give the square images a go (not really played with the SBU yet).

We do use a large aperture and the beam and adjustable aperture are aligned before each run so although it's very unlikely to be perfect, it is broadly aligned. The vignetting (which is usually accompanied by image softness / spherical aberration at the edges and in the corners) is more sensitive to alignment

[2022-04-12 03:50] jonathan-knapp commented on #100
Gentlemen,
I propose you two meet soon. You are in the same city and would get along famously. I will regret suggesting this, as you will now have an entire coalition in Van... Perhaps we plan a little user group meeting?

-Jonathan

-Bruker Confidential-
From: jkabel ***@***.***>
Sent: Monday, April 11, 2022 6:20 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Com

[2022-04-14 16:29] jkabel opened #219 "Sample Image Replaced by Particle Grid"
Version is 3.2.0.242

Steps to reproduce unknown.  Occasionally the sample image will be replaced by a particle grid when changing tabs.

This seems to happen more when editing the mineral groupings while on another tab (calculation tables for example).

![amicsSampleImageGone](https://user-images.githubusercontent.com/12158231/163433143-32cce929-35d1-4252-8399-be956b19ec42.png)

[2022-04-14 21:10] Matt-Power opened #220 "Crash on Extracting Data (Update)"
This has been logged in different ways several times but it is still a significant issue that is delaying several of my projects.

Regardless of using block or granular measurements, large images of fine grained rocks causes a crash when switching to the calculation tables (memory runs up until if finally gives up and crashes - briefly taking the OS with it). A slight work around is by switching t

[2022-04-20 05:45] AHM-amics opened #221 "AMICS Quantification: M4 Data"
The ability to Quantify data within AMICS is not working. This has been testing with both and "Online" and "Offline" AMICS licence on an offline laptop. The issue appears to be that the software is always looking for the EDS detectors and then fails when it can not "detect" or communicate with the EDS detectors.

Offline quantification will be very useful and can not be tested until this above iss

[2022-04-20 05:46] AHM-amics opened #222 "Using Energy Channels in Standards"
The Energy channel criteria is not applied in v3.3.0.660.  It appears that they are ignored completely.

[2022-04-20 05:51] AHM-amics opened #223 "Batch Processing"
When Batch Processing using "ore type" it is not possible to select the values for the fitting factor for the "high", "normal" and "low" priority standards.  It applies the "default" values.  These default values are not visible in the "options" list to change.

A possible work around is to use to batch process with "current sample".  That is, select a sample, re process it with the desired ore ty

[2022-04-20 15:59] AHM-amics opened #224 "Energy Channel Ranges: Software Crashes and Automatically closes"
Very often when entering energy channel ranges in standards, at the end of the selection and clicking enter, the software just automatically closes. Software v3.2.0.249

[2022-04-20 16:32] Matt-Power commented on #223
Just to add to this (and this issue has been raised a few times), the batch dialogue also needs to include all of the steps including spectrum tree and touchup steps. The way it is done at present is clunky and not transparent - it is not clear what steps are included and at what stage. For instance, are spectrum tree steps included in the "Classify with standards..." part or the "Apply mineral gr

[2022-04-20 17:40] Matt-Power opened #225 "Include the reclassification values in the batch summary txt file"
It would be really helpful to have a record of the % criteria for the classification match (the high, medium, low % values) used when batch processing, what steps were included, and any touchup steps applied to the batch.

Just a simple line recording what these are at the start of the batch txt file is enough.

Currently, the only way to figure out which values were used is to find the sample fro

[2022-04-21 01:31] Matt-Power opened #226 "BUG - MAJOR - AMICS 3.3.0.1382 - PROCESS - Errors running a batch calculation on a frame layer"
Running a batch calculation (e.g. modal mineralogy) on the frame layer of a block measurement results in the following message:

[Measurement Name] does not support the requested granular view mode [2]

The grain and segment layers do appear to work as normal though.

[2022-05-10 23:06] Matt-Power opened #229 "Display error in mineral grouping editor"
The formatting of the Mineral Group editor popup window is corrupt (see right hand window of the screen shot). The little "+" sits over the mineral group name. Still works but difficult to see the mineral group names.

In version 3.3.0.926

![image](https://user-images.githubusercontent.com/84986921/167738693-006b48b7-b80e-452d-8b44-0c7a19e96a21.png)

[2022-05-11 00:40] Matt-Power commented on #191
Has there been any movement on this? I have a batch of measurements that really suffers from this issue - the Xray points are very often placed on top of small inclusions, cracks, and at the edge of segments even though the majority of the segment is uniform and smooth.

[2022-05-11 07:14] MarkGuo7 commented on #191
@Matt-Power Hi Matt
Which version you are using?
Do you have time to talk about this?
I did something about this issue, but not sure whether it is good enough or not.
If you can send me a sample with issue bookmark positions, that would be great.

[2022-05-19 23:25] avdhandt opened #230 "AMICS skips position (out of range) (v3.3.0.911)"
We just got AMICS running on a JEOL JXA-iHP200F electron microprobe. When trying to run particle analysis, the software skips all frames and does not collect any data.

There seems to be a mismatch by an order of magnitude between stage positions of the frames generated by AMICS and the stage limit definitions in Esprit (see attached log file). However, stage positions are correctly read in as wel

[2022-05-19 23:40] MarkGuo7 commented on #230
Please try to un-tick the option of "Limit Stage Travel". Or you can adjust the travel ranges.
This option is for stage protection. You also need to double check the stage travel limit in Esprit.

![image](https://user-images.githubusercontent.com/84481724/169421100-fe2c3905-02ec-42c9-b38f-ce2d51eb44b2.png)

![image](https://user-images.githubusercontent.com/84481724/169421381-24e221ac-975c-4e0f-9

[2022-05-19 23:52] avdhandt commented on #230
Hi Mark,

Thanks for the prompt reply.

Unchecking the "Limit stage travel" flag did the trick to get the measurements going. However, the positions are not correct and it went off the designated area. I think there is still a problem between the conversion of EPMA/SEM stage positions to AMICS positions.

The stage range values in Esprit are correct.

[2022-05-20 00:01] MarkGuo7 commented on #230
Do you have Teamviewer?

You can try this:
1) Mark the position (if you already know the SEM position on the stage, you don't need to do this)
2) Find the supposed position on stage, right click "Sync the HW position".
It will match your stage position to SEM.

You also need to confirm the chamber setting to match your SEM.

![image](https://user-images.githubusercontent.com/84481724/169422890-27b

[2022-05-20 05:30] jkabel opened #231 "Collection Fails - Quanta 600 / MLA 600"
I'm running version 3.2.0.236 on an older FEI Quanta 600 (ex-MLA) and AMICS regularly fails on thin section collections.  Esprit (2.3, 32 bit server and client) will often have an error in the background and hard crash.  I finally managed to get Esprit to spit out service files without needing to kill it off.

AMICS logs and Esprit dumps attached.

[Investigator32_2022_05_19_09_43_28_Debug-failure

[2022-05-20 14:44] jonathan-knapp commented on #219
I see the issue is that the Sort DIrection is set to Descending by Area. Can you see if this is happening spontaneously or if it is associated with action?

[2022-05-20 18:35] avdhandt commented on #230
Hi Mark,

I think I traced the problem to the sample holder designer in AMICSTool. When I create a new holder, save the file and reopen it, the center position of the holder has shifted.

I had setup the following coordinates
![SMM32x3_Setup_correct](https://user-images.githubusercontent.com/64916634/169590000-f4a1d87c-cec0-436a-85cf-4e9237d053f6.JPG)

And after reopening the file, it has changed

[2022-05-26 06:34] GGloy opened #232 "Overview causes crash (vs3.2)"
Hi Mark.

When doing an overview when lowering the stage height , and either "defined area" or "only inner fields" is selected, Investigator will crash! Can we add a warning/make sure this does not happen in vs3.3?

![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/5271133f-0674-47d8-a12f-dccb288dbc82)

[2022-05-26 06:38] GGloy opened #233 "Mineral properties not copied over (vs3.2)"
When adding minerals to a list and using the right-click "copy data and name" or "copy data" in same cases the information is not copied on the first try but only on the second or third attempt. It seems more likely to happen after a reclassification and then adding another mineral.

[2022-06-02 04:16] MarkGuo7 commented on #128
Talking with Thomas, so many factors included in the xray file (spx file), so there is no way to manually to mix them properly.
So I will close it for the moment. May need Berlin team to give us an API to mix the spectrum that Esprit can Quant properly.

[2022-06-02 04:16] #128 closed, assigned to MarkGuo7

[2022-06-02 04:29] #177 closed, assigned to nobody

[2022-06-02 05:50] AHM-amics commented on #128
Dear Mark / Thomas,

Thanks for the information, however I am a little confused.  Currently the normalization and subsequent mixing is based on the number of counts.  This needs to change to be based on normalizing based on the “live time”.  This should be recorded in the spx (or am I wrong).  Therefore, the mixing can be accurately done if this factor “live time” is used rather than counts.

I am

[2022-06-02 05:56] MarkGuo7 commented on #128
@AHM-amics Morning Andrew

Thanks for you quick reply, let's talk with Thomas when there is time lot fit all of us.

Mark

[2022-06-02 17:33] Matt-Power opened #234 "Incorrect Xray Assignment at Field Edges (3.2.0.229)"
There appears to be an issue that accentuates field edges by assigning incorrect spectral matches.

The first image is as-measured (reclassified but the field boundary corrections are those applied by Investigator during measurement). At the field edges, spectra appear to be assigned to incorrect or poorly matching standards despite better matches being present and identified.

The screenshot show

[2022-06-02 21:47] Matt-Power opened #235 "Unpredictable Matching"
I'm still getting a lot of unknowns that should be classified but are not (unknowns in black).

In the image below, the area circled has got a bunch of spectra that should match to the ankerite standard. The discrimination is set to 60 for "normal" spectra which the ankerite standard is. The Xray points all indicate that they match to that standard at a confidence of over 60 and, in this case,  to

[2022-06-03 01:49] MarkGuo7 commented on #235
@Matt-Power Sorry about that, Matt

May I have this result with issue location bookmarks.
If the result too big, you can cut the issue frames out in Tool.

By the way, I am working on bug fixing this two weeks. Please let me know if there any other issues that you want me take a look first.
I will take a look of the xray position issue you reported before. Sorry for delay.

[2022-06-03 23:57] Matt-Power commented on #235
@MarkGuo7 No worries and thanks. I've processed that particular project up so that particular issue has been worked-around. I'll tag up some other measurements which show it and send over.

Thanks!

[2022-06-06 00:00] van-amics commented on #234
Hi @Matt-Power. Could you also please send us this very measurement data so we can reproduce the issue and hopefully fix it. Thanks.

[2022-06-09 16:50] Matt-Power opened #236 "Post zero peak channel cut off set by ore type"
It would be really useful to have the post zero peak channel cut off value associated with the ore type rather than a global setting.

I have several projects where the C peak is really important, so have to use a much lower value than the default. However, this precludes me from working on other projects (where I need to ignore the C peak) at the same time. And there are the inevitable cases wher

[2022-06-13 16:47] Matt-Power opened #237 "Scan or beam deflect on stage move"
Can you include a function to either deflect the beam (as in the pause function on the 3900), blank, or at least keep the beam scanning during stage movements please?

When running at high beam current, the beam burns a massive hole at the centre of the field and also deep lines all over the sample (mostly in the resin but I worry about some minerals too). So much so that you can see the lines wit

[2022-06-13 19:21] Matt-Power opened #238 "Corrupt micron sign in image scale bar 3.3.0.926"
The micron symbol in exported images is corrupt and comes out as odd characters. It works fine in version 3.2.

Example below:

![image](https://user-images.githubusercontent.com/84986921/173428724-4408705f-1cb2-455a-9991-977f1ea6754a.png)

[2022-06-14 00:21] Matt-Power opened #239 "Batch Extraction of Mineral Size Data Jumbled"
Extracting the mineral size data in a batch produces very strange results. It looks like the size columns are repeated multiple times but not in any particular order. The resultant datasheet is totally unusable.

[2022-06-14 05:33] MarkGuo7 commented on #237
@Matt-Power

Hi Matt, just want to confirm that you want to blank/freeze the beam while the stage moving?

[2022-06-14 06:06] Matt-Power commented on #237
@MarkGuo7
Short answer is yes, I would like the beam to be blanked / frozen while the stage is moving. (I am assuming that freezing deflects the beam into the side of the column.)

The slightly longer answer is, I want to avoid the beam sitting on one spot at any time e.g. after the Xray acquisition is finished, during stage moves, during BSE segmentation / before Xray acquisition etc. Each of the

[2022-06-14 06:16] MarkGuo7 commented on #237
Got it, Matt. It makes lots of sense and very important.
I will take a look and get back to you

[2022-06-14 19:28] avdhandt commented on #237
Hi, I am adding my voice to the choir. We are also very concerned about the focused beam burning lines into the sample during stage movements.

This is on a JEOL JXA-IHP200F electron microprobe. I don't think that there is a beam blanking option per se for this instrument. Just going into the fast beam scan before stage movement might be the best solution for us but this issue has definitely a hig

[2022-06-15 00:56] MarkGuo7 commented on #237
@avdhandt Thanks for making the point.

Basically, we should keep the beam on when collecting image and xray, other time the beam should be blank or in fast scan mode.
Is it right?

[2022-06-15 05:43] MarkGuo7 commented on #191
@Matt-Power

Hi Matt

Here is the screen copy of the xray position in your result:
![image](https://user-images.githubusercontent.com/84481724/173749487-2e729cad-d7b1-4156-8fc3-bd59b074c93e.png)

I can see this issue from the version 3.2.1.0
![image](https://user-images.githubusercontent.com/84481724/173749915-26eb6e60-107a-44b2-b27b-9e775729e203.png)

Now the position of the same area would be in

[2022-06-15 05:55] MarkGuo7 commented on #191
Here is another example:

The bookmark from result:
![image](https://user-images.githubusercontent.com/84481724/173752702-34892b26-ffea-4f05-8e82-94f846aa1f14.png)

The xray position in 3.2(similar with the result)
![image](https://user-images.githubusercontent.com/84481724/173752773-38309deb-ec8a-4a2f-8b25-c35dec64aa7d.png)

Now in 3.3:
![image](https://user-images.githubusercontent.com/84481724/

[2022-06-15 17:34] Matt-Power opened #240 "Incorrect number of fields being measured"
I have had a few instances now where Investigator does not measure the correct number of fields (i.e. the total measured area does not match that indicated in the measurement). In the latest instance, I specified an area with 110 fields but only 80 were measured. Interestingly the measurement settings were copied from one measurement to several others and only about half of them had the same issue

[2022-06-15 22:35] MarkGuo7 commented on #240
@Matt-Power Thanks Matt

I will take a look after downloading.

[2022-06-15 23:26] MarkGuo7 commented on #240
@Matt-Power Hi Matt, could you upload the mre file as well? I want to take a look of your settings. Thanks

[2022-06-16 01:07] Matt-Power commented on #240
Just uploaded to that share (give it 10 mins though). Thanks.

[2022-06-16 03:12] MarkGuo7 commented on #237
Is it possible that the sample got burned while collecting xrays?
Say, 6000 xray by 10ms will cost over a minute to collect.
In that way, we need to reduce the xray collection count per frame.

I will try to blank the beam while not collecting images and xrays.

Any other suggestion?

[2022-06-16 17:10] Matt-Power commented on #237
The beam moving across the sample to the various Xray points doesn't seem to be a problem. It's just the static beam before / after the acquisition phase and during stage moves that seems to be the issue.

There is no need to change the acquisition settings and I certainly don't want to reduce the xray collection times or number of points - that can be managed in other ways.

As well as looking at

[2022-06-16 17:20] Matt-Power opened #241 "Washed out images: batch extraction of mapped images"
If I run a batch image extraction of mapped measurements, the images are washed out (a bit like the background when specific minerals are selected for viewing).

Extracting the images individually works fine.

Example below.

![image](https://user-images.githubusercontent.com/84986921/174129336-58e703ea-63c3-4c4f-8850-880abf3c2edf.png)

[2022-06-16 22:43] MarkGuo7 commented on #237
Thanks Matt

I will take a look

[2022-06-17 04:08] MarkGuo7 commented on #237
@Matt-Power Hi Matt
I break down one frame time from the result you send me. Here is the info:

Field 8 time analysis of [VL-22166-008-Seg]
Stage movement: 2.541
Image collection: 17.589
Image processing: 2.271
Xray collection: 15.008
Classification & Saving: 2.131

Time info from log file:
Start moving stage: 2022-6-15 5:03:28.828
Start to read image (2 channels):  2022-6-15 5:03:31.369
	800 * 60

[2022-06-17 04:10] MarkGuo7 commented on #237
I think it is a good idea to move the stage to next frame while doing classification.
Thanks

[2022-06-17 05:19] MarkGuo7 commented on #181
@Matt-Power Hi Matt

Is it still there? Could you show me how to repeat it? Thanks

[2022-06-17 05:22] MarkGuo7 commented on #203
Maybe Van already fixed it :)

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/3e92e2a4-a2b2-4068-85b0-2bcd66248e4c)

[2022-06-17 05:33] MarkGuo7 commented on #219
It is in sorting mode.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/ea9a4d09-4412-45e8-ade1-6b1eae53b17f)

Most likely by switching between Particle Grid and Sample Images with Linking Tabs option:
![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/3d4b5945-e3bb-4d5c-b31b-8b9016ad6e75)

[2022-06-17 05:38] #230 closed, assigned to MarkGuo7

[2022-06-17 16:30] Matt-Power commented on #203
@MarkGuo7 Hi Mark, it's actually the scale bar on the exported image that is missing (normally runs along the bottom edge). Hopefully Van fixed that too but try hitting Export - I think you'll find that the scale along the bottom of the resulting .png file is only present on the unsorted images and not the sorted ones.

[2022-06-17 16:47] Matt-Power opened #242 "Duplicating Ore Type - Mineral Groupings Missing"
Whenever I duplicate an ore type, the mineral groupings are missed out. The steps are duplicated but groups are not. They can be imported from the measurement but if you forget and then try to import at a later date, the groupings are corrupt.

Can you make it so that the mineral groupings are automatically copied across from the original ore type please?

[2022-06-21 00:28] MarkGuo7 commented on #242
@Matt-Power Sorry Matt, I will sort it out.

[2022-06-21 00:30] MarkGuo7 commented on #203
@Matt-Power Thanks for clarifying. I guess Van is the best person to answer it :) @van-amics

[2022-06-22 23:23] MarkGuo7 commented on #224
@AHM-amics Could you show me how to repeat this? Thanks

[2022-06-22 23:36] MarkGuo7 commented on #240
@Matt-Power Sorry Matt, couldn't repeat it here. Not sure why. Let me know if it happens again. I can add extra log message to trace it on your system if needed.

[2022-06-23 16:44] jkabel commented on #210
Is this what's happening in my runs at the moment?  AMICS seems to get caught on some fields when setting xray points.  Log file attached
[Investigator32_2022_06_22_16_52_17.log](https://github.com/Bruker-Amics/bugs_features/files/8969145/Investigator32_2022_06_22_16_52_17.log)
.

[2022-06-24 00:37] MarkGuo7 commented on #210
Hi Jacob

From the log file, I can see there some issues of collecting xrays.
It happens often on the old version firmware scanbox.
When AMICS noticed this issue, it will try to reset the communication to see if can keep going.

You can search “Will try to reset SEM communication” from your log. It happened many times until at some point, still failed after 5 times reset in a row.
Then AMICS will

[2022-06-24 00:38] MarkGuo7 commented on #210
Need to check the firmware of the scanbox first. Sadly, there is no easy way to upgrade it.

[2022-06-24 05:19] GGloy commented on #207
It is still not working.....or I am doing something wrong!

[2022-06-24 05:42] GGloy commented on #174
Can be closed

[2022-06-27 00:01] GGloy commented on #223
@van-amics Has anything been changed or is the solution just to use the current sample?

[2022-06-27 00:05] van-amics commented on #223
Hi Gerda,

The #223 fix was to add options to set default high/normal/low threshold for any default processing. You can set them in the Options box.

Let me know if you have any problems using it.
Thanks,
--van

-Bruker Confidential-
From: GGloy ***@***.***>
Sent: Monday, 27 June 2022 10:02 AM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Phan, Van Hung ***@***.***>; Mention ***@***.***>
Subject

[2022-06-27 11:35] AHM-amics opened #243 "Common Standards: Exporting of ore types db"
AMICS v3.2.0.252
Common Standards: Exporting of ore types db creates a “db” file.  However, when trying to import from this file AMICS crashes making it impossible to use the db to import Ore Types.  This has been confirmed on multiple computers.

[2022-06-27 11:36] AHM-amics opened #244 "AMICS Issues with Large Number of OreTypes"
AMICS v3.2.0.252 (and others)
In my AMICS Common Standards I have lots of Ore Types, probably over 50. This causes a huge delay when opening any AMICS file, even extremely small datasets. For example, these datasets open instantaneously on other computers (i.e. the trainees, who have only a couple of ore types) whereas on mine it is at least two minutes with the screen stuck with the pop up window

[2022-06-27 11:36] AHM-amics opened #245 "Common Standards area: Graphical interfaces"
AMICS v3.2.0.252
Common Standards area: Graphical interfaces when right clicking on mineral list. For example, if I right click “remove minerals” and then my mouse hovers over a mineral in the background of the pop-up window, then the pop-up window itself becomes deactivated and does not work.

[2022-06-27 11:37] AHM-amics opened #246 "BUG-MAJOR-AMICS-3.2.0.252_PROCESS_MIXING: needs to keep density and formula correctly"
AMICS v3.2.0.252 (and others)
Common standard areas. Generate Mix. During this process, there is the option (tick box) for mix elements. If NOT selected then the software keeps the element information for the dominant mineral in the mix.  This is correct and perfect.  However, in addition to keeping the correct elements, it also needs to to keep the correct density (which is still mixed) and the c

[2022-06-27 11:38] AHM-amics opened #247 "Pixel Spacing Value Error"
AMICS v3.2.0.252
When importing a bcf file the value recorded as the pixel spacing shown in the information area is incorrect. Nevertheless, the value used in the calculations is correct!

[2022-06-27 11:39] AHM-amics opened #248 "Energy Channel Calibration Issues"
AMICS v3.2.0.252
The ability to use the Energy Calibration component in the Common Standards is several compromised.  That is 9 times out of 10, the popup window does not appear and the AMICS software freezes resulting in a hard reset (i.e through Task manager).  This is confirmed on numerous different computers.

[2022-06-27 11:39] AHM-amics opened #249 "High Priority Reclassify option"
AMICS v3.2.0.252

When using the reclassify option and I have High Priority standards, they do NOT use the fitting factor number entered into High Priority, but rather the fitting factor for the normal standards.

[2022-06-27 17:30] Matt-Power commented on #244
Can I add my vote to looking at this issue too please?

I think that this manifests itself in a few places in AMICS and not just on opening samples. I believe it is also dependent on the number of standards in the ore types as well as the number of ore types so even a relatively small number of complex ore types (and almost all of mine are complex unfortunately) makes it very time consuming.

The

[2022-06-27 22:31] AHM-amics commented on #244
Hi Matt,

Thanks for the feedback, and you are correct. This problem does spill over into all “ore type” functionality where tasks such as duplicating an ore type or copying minerals from an ore type become extremely slow.

And an issue for myself is that I normally don’t have the luxury of deleting old oretypes as I must save them for clients, different M4 Systems (i.e. M4 vs M4+), training lists

[2022-06-28 13:43] MarkGuo7 commented on #244
Thank you for reporting this, I will take a look of it. Basically, the oretype list shouldn't be listed unless necessary.

[2022-06-28 14:09] jonathan-knapp commented on #244
All,
I want to change the way OreType Classification Methods work for AMICS 3.3. The Classification method needs to be part of the DataStore and included in the DatStore SQL. Only the selected Classification Method shuld be loaded into memory and saved with the file. Only a list of methos is loaded. This will speed it up and have much better functionality.

Our vision for the Datastore  is that it

[2022-06-28 19:05] Matt-Power opened #250 "Investigator - make noise reduction, secondary channel acquisition available in measurement"
Is is possible to make some of the global settings available at the measurement level? This would make it way easier to measure mixed batches of samples and make Investigator a lot more versatile.

For instance, I sometimes use noise reduction to make up for poor sample polish (e.g. on thin sections where repolishing is not possible).  I therefore have to stop a run before / after the suspect samp

[2022-06-28 22:47] jonathan-knapp commented on #250
It is a close-in objective to move as many settings as possible to the measurement level. @Guo, Junfeng ***@***.***> may have already done this.

-Bruker Confidential-
From: Matt-Power ***@***.***>
Sent: Tuesday, June 28, 2022 3:05 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Bruker-Amics/bugs_features] Investigator - make noise reduction, secondary channel

[2022-06-28 23:15] MarkGuo7 commented on #250
@Matt-Power @knapp-amics Do you think these settings should be with each sample settings?

[2022-06-28 23:17] Matt-Power commented on #250
@MarkGuo7  I would like to see them at the measurement level please (sample level would be OK but measurement level would be way better / more versatile).

[2022-06-28 23:22] MarkGuo7 commented on #250
@Matt-Power Thanks Matt, could you make a list of parameters you want to put in Measurement? We need to think about how to show them, because there already many parameters there. More parameters, easier to forget. :)

[2022-06-28 23:27] jonathan-knapp commented on #250
It has to be at the measurement level. We can have global defaults, but we need to have granularity and measurement control. All x-ray, imaging, etc. Needs to be set at the measurement.

[2022-06-28 23:42] Matt-Power commented on #250
Agreed.

As for which settings - it's basically as many as you can so that the user can tailor their settings to their instrument, workflows etc. Ideally I would like to have the channel cut off in there too but (at least so that it gets carried through to Process).

Personally, the more control you can give me, the better. I'd really like to be able to optimise scan settings, segmentation etc. To

[2022-06-29 22:33] Matt-Power opened #251 "Investigator - add maximum segment size limit"
Can you add a maximum segment size limit to the measurement parameters please? (And add a shape factor if at all possible.)

With the current segmentation area factor, you can only adjust the comparative difference in size (low values = can have very big and very small segments, high values = all segments are close in size but larger). I need to have small segments to capture fine textures in the

[2022-06-29 22:49] van-amics commented on #249
Since I cannot reproduce the issue with my small samples, can you please send me the very measurement that caused this problem, so I can reproduce it and hopefully get to the bottom of this one. Thanks.

[2022-07-01 07:24] MarkGuo7 commented on #244
Now the common standards in Process will not automatically loaded if un-check "Compare Result Mineral" option:

![image](https://user-images.githubusercontent.com/84481724/176845486-66a38bb4-c84c-4ed9-8447-c2ca5b28a46d.png)

[2022-07-01 07:29] MarkGuo7 commented on #237
First step, the beam will be in fast scan while not reading images.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/7c7c5daf-e747-419d-84c4-16e69222c238)

[2022-07-01 07:31] MarkGuo7 commented on #237
Is fast scan is good enough to avoid the damage?

Need someone give me bit light here :)

[2022-07-01 17:12] Matt-Power commented on #237
Hi Mark, Yes, I think that will work fine, thank you.

[2022-07-04 07:14] MarkGuo7 commented on #199
Now, the Assign To mineral list will be same with current oretype mineral list, so you don't need to reclassify it before showing it in spectrum tree.

![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/a5b6f02b-3f98-456f-b61a-810062c5f531)

[2022-07-05 00:25] Matt-Power opened #252 "Right Click on Mineral Standards Not Working 3.3.0.1155"
The right click functionality in the Standards tab does not work e.g. if I create a new standard, switch to the Standards window, compare to existing an standard and find a match, the menu does not appear when I right click on the match to copy the data / colours across.

[2022-07-05 00:28] MarkGuo7 commented on #252
In Investigator or Processing, or both?

I will take a look

[2022-07-05 00:31] Matt-Power commented on #252
Appears to be just Process. Thanks.

[2022-07-05 00:33] MarkGuo7 commented on #252
Got it, thanks Matt.
The fix will be ready today :)

[2022-07-05 00:37] Matt-Power commented on #252
Wow, thank you!

[2022-07-05 22:06] Matt-Power opened #253 "New standard not automatically selected when created - Process 3.3"
If I create a standard from a measurement, switch to the standards tab, the standard (or most recently created standard) is not automatically selected in the standards list. The spectrum is shown and it is still possible to find a match and copy the data and name, but the entry in the ore type remains blank.

To get it to work, you have to scroll down and specifically click on the new standard bef

[2022-07-05 22:14] Matt-Power opened #254 "It is possible to create standards with identical IDs and names"
I think that this may be related to Issue 253 but it is now possible to mistakenly create multiple standards with the same name and ID (even though the reference spectrum associated is different). This causes errors in the grouping manager window and I'm sure creates all sorts of problems elsewhere.

I have not been able to check exactly how to recreate yet but I suspect that if a standard is not

[2022-07-06 05:20] MarkGuo7 commented on #253
@Matt-Power The fix will be in next build. Let me know if you want to try first.

[2022-07-06 18:29] Matt-Power opened #255 "Over-ride spectrum in Process. (Modify spectrum not working properly in Tool.)"
I have a lot of measurements where disseminated inclusions are being inadvertently hit by Xray points for the surrounding much larger segments. This means I have a lot of really large segments which have an inappropriate spectrum assigned. Could you add an "over-ride" function in Process where specific segments could be assigned to a different mineral please?

I noticed that there is a modify Xray

[2022-07-06 18:30] #252 closed, assigned to MarkGuo7

[2022-07-06 23:46] MarkGuo7 commented on #255
@Matt-Power Did you try to use 3.3 Investigator to measure? It seems the xray positions are better than 3.2.

The assign xrays to given minerals in Tool is quite old. I can bring it to Process if needed. But this function need to be approved by Jonathan @knapp-amics

[2022-07-07 00:00] jonathan-knapp commented on #255
We do want to bring this to process asap. However, we have the problem that any assignment would be overwritten during reclassification. We have never defined how we want this to work. I see the following options as being feasible:
(1) manual assignments are added as a classification step that can be turned on and off like a spectrum tree step.
(2) manual assignments are persistent unless clearing

[2022-07-07 00:01] Matt-Power commented on #255
These are mostly older measurements where I have used 3.2 (not tried 3.3 yet but will do once the latest project is through the instrument). I've got a massive backlog of similar measurements that I work up when I have time so this will be a recurring theme for me (and I suspect that even with the better Xray placement, there will still be a need for the override).

It is a last resort function bu

[2022-07-07 00:03] Matt-Power commented on #255
@knapp-amics I think my preference would be for your option 2 so that it works in a similar way to the BSE adjuster etc. This gives the option of clearing adjustments if they are not needed / incorrect but are otherwise persistent.

[2022-07-07 00:07] jonathan-knapp commented on #255
@Guo, Junfeng ***@***.***> please implement. This has been requested many many times. Let me know if you have questions.

Get Outlook for iOS<https://aka.ms/o0ukef>

-Bruker Confidential-

________________________________
From: Matt-Power ***@***.***>
Sent: Wednesday, July 6, 2022 7:04:07 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Knapp, Jonathan ***@***.***>; Mention ***@***.***>
Subject:

[2022-07-07 00:09] Matt-Power commented on #255
Thanks

[2022-07-07 00:17] MarkGuo7 commented on #255
Ok, I will give it a try.

The first step would be manually change one/many selected xrays to given mineral. So these changes should be your last step to polishing your data. You need to do them again after reclassification.

The next step we may consider how to keep them persistent. We need to discuss what if the given mineral changed, or disappeared etc.

How does it sound?

[2022-07-07 00:26] guo commented on #255
Please don’t use @guo. It tagged wrong person. Thank you!

On Wed, Jul 6, 2022 at 8:17 PM Mark Guo ***@***.***> wrote:

[2022-07-07 00:37] Matt-Power commented on #255
Sounds good but persistence is important to include asap please. I've lost track of the number of times I've had to reprocess things after I thought that I was finished e.g. to correct a density or other minor tweak - having to go back and polish the data again afterwards would be pretty frustrating.

Not sure how to figure out the disappearing / changing mineral but I guess that wouldn't happen t

[2022-07-07 01:21] MarkGuo7 commented on #255
@Matt-Power Thanks Matt, got it.

[2022-07-08 12:13] jonathan-knapp commented on #221
We have started a major project for quantification. This will be completed in Q4.

[2022-07-08 12:13] #221 closed, assigned to nobody

[2022-07-08 12:13] jonathan-knapp commented on #224
@AHM-amics have you shown to recreate this?

[2022-07-08 12:16] jonathan-knapp commented on #231
Thank you for submitting this. The issue has been referred to service and will be addressed with new hardware as needed.

[2022-07-08 12:16] #231 closed, assigned to nobody

[2022-07-08 12:19] jonathan-knapp commented on #235
I am going to close this issue because we have a solution in the works with Robb. We will have a prototype to test soon.

[2022-07-08 12:19] #235 closed, assigned to nobody

[2022-07-08 12:20] #236 closed, assigned to nobody

[2022-07-08 12:24] jonathan-knapp commented on #240
We could not recreate it. Mark has added additional logging. If it happens another time we need the file.

[2022-07-08 12:24] #240 closed, assigned to nobody

[2022-07-08 12:25] #244 closed, assigned to MarkGuo7

[2022-07-08 12:28] jonathan-knapp commented on #248
@MarkGuo7 and @van-amics I think this needs to be fixed in 3.2

[2022-07-08 12:29] jonathan-knapp commented on #249
@MarkGuo7 and @van-amics I think this needs to be in 3.2 before it is sent to production.

[2022-07-08 12:30] jonathan-knapp commented on #250
@MarkGuo7 is this done?

[2022-07-08 12:33] jonathan-knapp commented on #251
Great idea.

[2022-07-08 13:57] jonathan-knapp commented on #104
@van-amics can you add this as a high-priority?

[2022-07-08 14:10] jonathan-knapp commented on #216
duplicate of #189. Comment added to 189.

[2022-07-08 14:10] #216 closed, assigned to nobody

[2022-07-08 14:11] jonathan-knapp commented on #189
From Matt: **Think this has been fixed several times but then creeps back in somehow: more often than not, the batch BSE image export fails. It seems to be a bit random - sometimes it works but mostly just sits at the first sample apparently doing nothing for several minutes (10+) until either crashing or I lose interest and kill the batch. It also sometimes cycles through all of the samples and g

[2022-07-09 13:44] #184 closed, assigned to MarkGuo7

[2022-07-09 20:11] Matt-Power commented on #194
This still does not work in v. 3.3.0.1158. It works through all of the samples and then creates a junk xml file that excel cannot open (and it's 1k in size so suspect empty anyway).

[2022-07-09 20:24] Matt-Power opened #256 "Preserve the no data rows in calculation tables"
Rows where no data exists are excluded when I copy out to excel. This makes extracting large volumes of data really time consuming as every table has to be re-formatted and re-arranged.

For instance, if I extract size data and particles in one sample where the mineral size ranges from 3 microns to 100 microns, only the size buckets within that range are copied out (the larger and smaller size buc

[2022-07-09 20:27] Matt-Power commented on #239
I think that the extraction process is getting garbled because blank rows above and below the data are omitted (see issue 256).

If the data for all of the size bins are extracted by default for every sample, each data row will align and match up no matter how many samples are in a project or how variable the size data is.

[2022-07-10 23:47] van-amics commented on #104
Sure, Jonathan. I'll work on this bug right away!

-Bruker Confidential-
From: knapp-amics ***@***.***>
Sent: Friday, 8 July 2022 11:58 PM
To: Bruker-Amics/bugs_features ***@***.***>
Cc: Phan, Van Hung ***@***.***>; Mention ***@***.***>
Subject: Re: [Bruker-Amics/bugs_features] Ability to Pause Batch Process (#104)

**EXTERNAL EMAIL**

@van-amics<https://github.com/van-amics> can you add this as a

[2022-07-13 00:19] GGloy commented on #181
Matt, it seems if I sync then press the reload option to "refresh" the mineral list I can edit.

[2022-07-13 00:35] Matt-Power commented on #181
@GGloy and @MarkGuo7 Sorry, forgot to reply earlier but I think this was fixed a while back. Haven't had any similar problems recently. Thanks.

[2022-07-13 00:35] #181 closed, assigned to nobody

[2022-07-13 02:16] GGloy commented on #206
I think this problem now solved but created a new one - the first new mineral that I add (spectrum tree or collected) will need a couple of attempts to copy the data - it does not work on the first try (this tested with vs 3.3.0.1158)

[2022-07-13 04:20] GGloy commented on #199
Why is all the matching 0? I don't think this is working properly.

[2022-07-13 05:45] GGloy commented on #223
What about the second part of Matt's request? Has it been added as a separate feature request?

[2022-07-13 23:26] GGloy commented on #133
This has not changed ......vs 3.3.0.1158

[2022-07-14 00:12] GGloy commented on #202
When exporting the line-up view it is still the BSE image not the second channel (3.3.0.1158)

[2022-07-14 00:29] GGloy commented on #62
What was the solution here?

[2022-07-14 00:53] van-amics commented on #62
When this dialog box is shown, you can switch to the other open Process and close the measurement there, then get back to this and click "Try Again" to continue.

[2022-07-14 01:56] GGloy commented on #123
@MarkGuo7 Still does not work if the dot size is 1, but otherwise work fine

[2022-07-14 02:17] GGloy commented on #62
@ChiLyMan does the solution resolve your issue? Thanks!

[2022-07-14 02:37] jonathan-knapp commented on #62
Van,
Is it possible to add a close command that would close the file and then re-open it when the batch is finished with that particular file? You can Structure it as a function that executes the closed command and closes the SQL database performs the batch on that particular file and then reopens?

Thoughts? It may be nice to even just have a close command in the file so that you can close the fi

[2022-07-14 03:03] van-amics commented on #62
Hi Jonathan,

Currently AMICS Process has already a "Close" command to close the opening file (and left the Process main screen blank, as if it was just being launched).

To automatically close an open file from another running Process may have complications. For example, the other running Process may be in the middle of a lengthy operation (it may run another batch, for example), then the initial

[2022-07-14 03:08] ChiLyMan commented on #62
Hi Guys,

I would think a short-term solution is as you say Van, allow the user to decide if shutting the other process down is ok or not.

Once this is in place, we can test it and find out if the worst case as you mentioned is something that will happen during normal operations, if not we can always just change the message box to become the automated shutdown as Jonathan suggests.

Thoughts?

Fr

[2022-07-14 03:18] #144 closed, assigned to nobody

[2022-07-14 03:18] #207 closed, assigned to van-amics

[2022-07-14 03:18] #174 closed, assigned to nobody

[2022-07-14 03:18] #242 closed, assigned to MarkGuo7

[2022-07-14 03:19] #219 closed, assigned to nobody

[2022-07-14 03:19] #238 closed, assigned to MarkGuo7

[2022-07-14 03:19] #208 closed, assigned to van-amics

[2022-07-14 03:19] #200 closed, assigned to van-amics

[2022-07-14 03:19] #198 closed, assigned to van-amics

[2022-07-14 03:20] #124 closed, assigned to van-amics

[2022-07-14 03:20] #40 closed

[2022-07-18 00:18] MarkGuo7 opened #257 "Zeiss controller couldn't control Brightness and Contrast"
Testing on RioTinto system and found out their Zeiss couldn't control brightness and contrast.

[2022-07-18 00:20] MarkGuo7 opened #258 "Control Stage Height on Zeiss system"
Rio wants to keep the same working distance and control stage height.

[2022-07-18 00:22] MarkGuo7 opened #259 "Need to record the stage height of reference images"
If customers control stage height of each samples, then need to remember the stage height of reference images.

[2022-07-18 00:24] MarkGuo7 opened #260 "Record the brightness and contrast as double values"
Currently brightness and contrast are integer values. On some system, need two decimal value to setup brightness and contrast properly.

[2022-07-19 00:41] GGloy commented on #160
This can be closed (tested in vs 3.3.0.1158)

[2022-07-19 01:28] GGloy commented on #153
According to my testing the order is working now, I think this can be closed.

[2022-07-19 01:37] GGloy commented on #232
Can be closed :)

[2022-07-19 01:41] GGloy commented on #192
Can be closed

[2022-07-25 01:27] MarkGuo7 opened #261 "Investigator: Moving stage to next frame before processing the current one"
This may save some waiting time between each frames.

[2022-07-26 16:59] bernie1034 opened #262 "Process crashing when inserting mineral in ore type"
When attempting to insert a mineral definition (from the User Mineral Library) into an open ore type, Process crashes.

v3.3.0.1158

[2022-07-27 05:58] GGloy opened #263 "After re-ordering a mineral list the Area% values is no longer displayed in the properties window"
After the order has been changed for a mineral list (ore Type) the Area% values is no longer displayed in the Properties window.

![image.png](https://images.zenhubusercontent.com/60af4a22d2c5ea1082755c53/7ca57b97-5e69-4ae9-81c6-cdf2645578a39) Vs 3.2 and 3.3.0.1181

[2022-07-27 22:49] van-amics commented on #194
Hi Matt. Since I cannot reproduce the issue with my small samples, can you please send me the very batch that caused this problem, so I can reproduce it and hopefully get to the bottom of this one. Thanks.

[2022-07-27 23:02] Matt-Power commented on #194
I'm honestly very surprised you cannot recreate - it happens on literally every dataset I have ever tried it on (lots of them). It is also independent of ore type and computer. Just choose any of the projects I've previously sent over - it will happen with those.

Go to calculation table, select associations and run any batch. It will go through the motions but nothing happens at the end.

[2022-07-28 02:11] GGloy opened #264 "Problem with user standard oretype list after installing vs 3.3 and with importing a database"
I have noticed this issue on my laptop and now also at UQ online system.

After installing vs3.3 on the UQ system, when returning to vs3.2 - most of the user std oretypes where gone! Fortunately could restore from the user std backup - but then it was noted that some oretypes have no minerals listed.

Again, I could restore these minerals by manually merging the oretype again from the database bac

[2022-08-02 00:13] MarkGuo7 opened #265 "The measurement failed due to a mismatch between the image size in the measurement settings"
Hi Mark,

Thank you for the license key for our processing PC yesterday.

We have been running AMICS a lot recently and we expect to keep up this high pace for the near future. There are two items that I wish to bring to your attention please:

1.	On our last AMICS run the measurement failed due to a mismatch between the image size in the measurement settings and that from the microscope. The stra

[2022-08-02 00:38] ChiLyMan opened #266 "Exporting RAW image without smoothing"
Is there a way to export image at full resolution (RAW) without any smoothing? I've tried exporting as BMP, PNG and TIF and the final output seems to have been smoothing during the exporting process.
I've attached an example of a BMP exported versus the sample feature captured via screenshot directly from AMICS. So before I use to export the RAW SQLite database, and just manually extract the pixel

[2022-08-02 00:41] ChiLyMan commented on #266
PS: Otherwise is there a way to give clients a temporary AMICS license so they can open the data file themselves? I think we've discussed this before not sure if there was any outcome yet one this.

[2022-08-02 00:54] MarkGuo7 commented on #266
@ChiLyMan Hi Chi, may I have the result to take a look? Thanks

[2022-08-02 00:58] ChiLyMan commented on #266
Mark,
Here is the database I got the image from.
[Sample_3-BSE_1.zip](https://github.com/Bruker-Amics/bugs_features/files/9238249/Sample_3-BSE_1.zip)

[2022-08-02 01:50] MarkGuo7 commented on #266
Thanks Chi @ChiLyMan

Here is the image from Processing:
![image](https://user-images.githubusercontent.com/84481724/182274196-bd013927-10e0-414b-bd25-6b6eb85094a5.png)

Here is the looking opened in Image Viewer:
![image](https://user-images.githubusercontent.com/84481724/182274300-ac73ba38-21d7-4bc1-8ab6-6f3d0b394828.png)

When you open in ImageJ, it looks like:
![image](https://user-images.gith

[2022-08-02 02:01] MarkGuo7 commented on #266
We discuss this question before. There are couple of options, one is that they can run Processing as a read-only Viewer even without a license.

Need @knapp-amics to make the decision.

[2022-08-02 02:37] ChiLyMan commented on #266
Thanks Mark.
Windows shoots me in the foot again. Thanks for figuring this out.

[2022-08-03 00:15] GGloy commented on #133
This ticket can be closed. Thanks!

[2022-08-03 00:18] #133 closed, assigned to van-amics

[2022-08-03 03:44] GGloy commented on #225
@van-amics The classification values are shown but applied touchup steps are not listed

[2022-08-04 05:49] MarkGuo7 opened #267 "Move selected mineral grouping item up/down in group editor"
![image.png](https://images.zenhubusercontent.com/60a59e61f0254ad3e154481a/f1119f5b-4b95-43a3-ba68-10d1bc61b1be)

[2022-08-05 01:33] MarkGuo7 opened #268 "Command line to process data"
Processing should accept more command line parameters to processing data

- Do classification
- Do stitching
- Exporting calculation results
- ...

[2022-08-10 13:14] #266 closed, assigned to nobody

[2022-08-10 13:15] ChiLyMan commented on #266
Issuer cause by Windows viewer and not the exported image. Solution is to use a more basic image viewer such as ImageJ.

[2022-08-14 01:56] ChiLyMan opened #269 "Auto focus before run option? Good idea?"
Not sure if this has been suggested, or if there is already a setting I missed, but would there be value in sending a autofocus request to SEM before the start of an analysis?
Maybe if multiple spots on a sample which is not flat AMICS could run to the center of the selected scan area and do an autofocus. This would help account for imperfection in surface flatness.

If you really want to go overb